Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

.pre-commit-config.yaml:

default_language_version:
  python: python3.10
  node: "20.17.0"

ci:
  skip:
    # skip generate-schemas as pre-commit-ci will not have correct environment
    - generate-schemas
    # skip eslint as it is too large to run in pre-commit-ci for free
    - eslint
  autoupdate_schedule: "monthly"
  autofix_prs: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (pydatalab/example_data/)|(.*.snap)
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: ^(pydatalab/example_data/|pydatalab/schemas)
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-symlinks
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py310-plus]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        additional_dependencies:
          ["types-python-dateutil", "types-requests", "types-paramiko", "pydantic~=1.10"]
        args: ["--config-file", "pydatalab/pyproject.toml"]

  - repo: local
    hooks:
      - id: generate-schemas
        name: Regenerate item model JSONSchemas
        files: "^pydatalab/src/pydatalab/models/.*.$"
        description: Check if the current code changes have enacted changes to the resulting JSONSchemas
        entry: invoke -r pydatalab dev.generate-schemas
        pass_filenames: false
        language: system
      - id: eslint
        name: eslint
        entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
        language: system
        types: [file]
        files: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
        pass_filenames: true

Robustify label generation
  pydatalab/src/pydatalab/bokeh_plots.py
Due: none

Return block IDs in item summary
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Added unit test for nominal capacity calculation
  pydatalab/tests/test_models.py
Due: none

Add theoretical capacity and calculation of nominal capacity to cell model.
  pydatalab/schemas/cell.json
  pydatalab/src/pydatalab/models/cells.py
  webapp/src/components/CellInformation.vue
Due: generate-schemas, eslint

Make block hydration more consistent when using pydantic
  pydatalab/src/pydatalab/blocks/base.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_async_blocks.py
Due: none

Prevent double-click on modal submit button
  webapp/src/components/Modal.vue
Due: eslint

Simplify modal submit locking with event emission
  webapp/src/components/AddToCollectionModal.vue
  webapp/src/components/BatchCreateItemModal.vue
  webapp/src/components/CreateCollectionModal.vue
  webapp/src/components/CreateEquipmentModal.vue
  webapp/src/components/CreateItemModal.vue
  webapp/src/components/EditAccountSettingsModal.vue
  webapp/src/components/GetEmailModal.vue
  webapp/src/components/Modal.vue
Due: eslint

Fix: put user_id check in the mongodb db request
  pydatalab/src/pydatalab/routes/v0_1/auth.py
Due: none

Feat: Added multiple API key support per user. Changed insert_user for methods to match the new way of creating API keys.
  pydatalab/src/pydatalab/login.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/tests/server/conftest.py
  webapp/src/components/EditAccountSettingsModal.vue
  webapp/src/server_fetch_utils.js
Due: eslint

Fix: added backwards compatibility so that legacy keys can be seen in the menu.
  pydatalab/src/pydatalab/routes/v0_1/auth.py
Due: none

Chore: Further implemented Werkzeug classes for `api-keys` routes responses.
  pydatalab/src/pydatalab/routes/v0_1/auth.py
Due: none

Chore: Implemented Werkzeug classes for `api-keys` routes responses.
  pydatalab/src/pydatalab/routes/v0_1/auth.py
Due: none

Fix: login using legacy API key previously failed due to invalid key `"user_id"` error
  pydatalab/src/pydatalab/login.py
Due: none

Fix: ordering issue, with legacy keys always being last. Moved them to always being at the first.
  pydatalab/src/pydatalab/routes/v0_1/auth.py
Due: none

Fix: added backwards compatibility so that legacy keys can be both deleted and still used by the system.
  pydatalab/src/pydatalab/login.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
Due: none

Chore: move `legacy_user` search so if we have a normal valid api key only one database request is sent.
  pydatalab/src/pydatalab/login.py
Due: none

Chore: Moved to using fixture to reset api_keys collection after each test. Test: Added tests for reading and deleting legacy keys
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/tests/server/conftest.py
  pydatalab/tests/server/test_auth.py
Due: none

Chore: Changed position of API key copy box to be central
  webapp/src/components/EditAccountSettingsModal.vue
Due: eslint

Test: API key routes, tested creating API keys, deleting API keys, getting API keys. 8 tests added.
  pydatalab/tests/server/test_auth.py
Due: none

Fix: Changed API keys `user_id` to use `ObjectID` instead of `str`
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/tests/server/conftest.py
  pydatalab/tests/server/test_auth.py
Due: none

Chore: Removed more instances of `str` from tests
  pydatalab/tests/server/test_auth.py
Due: none

Update pydatalab/tests/server/test_auth.py
  pydatalab/tests/server/test_auth.py
Due: none

Feat: added start dates and potential flexibility for end dates in the future. Chore: Started schemas for api keys and access tokens
  pydatalab/src/pydatalab/login.py
  pydatalab/src/pydatalab/models/api_keys.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/conftest.py
  pydatalab/tests/server/test_auth.py
  webapp/src/components/EditAccountSettingsModal.vue
Due: generate-schemas, eslint

CSS tweaks and date formatting
  webapp/src/components/EditAccountSettingsModal.vue
Due: eslint

Update pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
Due: none

Fix: Replaced instances of `dict()` with `model_dump()` for pydantic V2.0 update
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Feat: Removed ability for API key users to view, create, or delete API keys.
  pydatalab/src/pydatalab/login.py
  pydatalab/src/pydatalab/permissions.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/tests/server/conftest.py
  pydatalab/tests/server/test_auth.py
Due: none

Chore: Moved API key models to `permissions.py`
  pydatalab/src/pydatalab/models/api_keys.py
  pydatalab/src/pydatalab/permissions.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: generate-schemas

Chore: moved the point where it sets the `api_key_session` to use the `g` flask variable. Also changed the new API key creation mechanism to use `secrets.token_urlsafe(16)`
  pydatalab/src/pydatalab/login.py
  pydatalab/src/pydatalab/permissions.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/tests/server/conftest.py
  pydatalab/tests/server/test_auth.py
Due: none

Fix: Moved authentication before excluding api key
  pydatalab/src/pydatalab/permissions.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
Due: none

Revert back to pydantic v1 style
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Minor linting
  pydatalab/src/pydatalab/routes/v0_1/auth.py
Due: none

Fix: File extension checking logic
  pydatalab/src/pydatalab/pipeline_block/block_manager.py
Due: none

Add human-readable `last_modified` as a data table column and summary API response
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_samples.py
  webapp/cypress/component/SampleTableTest.cy.jsx
  webapp/cypress/component/StartingMaterialTableTest.cy.jsx
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/FileSelectModal.vue
  webapp/src/components/SampleTable.vue
  webapp/src/components/StartingMaterialTable.vue
  webapp/src/field_utils.js
  webapp/src/main.js
Due: eslint

Let `/save-item` endpoint indicate that nothing was changed
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_samples.py
Due: none

Add last modified column to collections table
  webapp/src/components/CollectionInformation.vue
Due: eslint

Store which columns are available at the moment users save their table preferences so new columns default to shown
  webapp/src/components/DynamicDataTable.vue
Due: eslint
