Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

generate-schemas:
  name: Regenerate item model JSONSchemas
  description: Check if the current code changes have enacted changes to the resulting JSONSchemas
  entry: invoke -r pydatalab dev.generate-schemas
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
  language: system
  pass_filenames: true

Added tests to check for the mean and std of the output
  pydatalab/tests/apps/test_tga.py
Due: none

Chore: added explicit return
  pydatalab/src/pydatalab/apps/tga/blocks.py
Due: none

Fix: Stopped MassSpecBlock giving index out of range error.
  pydatalab/src/pydatalab/apps/tga/blocks.py
Due: none

Fixed failed tests
  pydatalab/src/pydatalab/apps/tga/parsers.py
Due: none

Added ability to view tga partial pressures with temperature on x axis
  pydatalab/src/pydatalab/apps/tga/blocks.py
  pydatalab/src/pydatalab/apps/tga/parsers.py
  pydatalab/src/pydatalab/bokeh_plots.py
Due: none

Make login page the default and remove config `VUE_APP_ENABLE_LOGIN_PAGE` option
  .docker/app/Dockerfile
  .docker/app_entrypoint.sh
  docker-compose.yml
  pydatalab/docs/config.md
  webapp/src/App.vue
  webapp/src/resources.js
  webapp/src/router/index.js
Due: eslint

Remove defunct example graph view
  webapp/src/router/index.js
  webapp/src/views/ExampleGraph.vue
Due: eslint

Let users with an access token attempt to load the edit page without login
  webapp/src/router/index.js
Due: eslint

Add more restrictive permissions to /info endpoints
  pydatalab/src/pydatalab/permissions.py
  pydatalab/src/pydatalab/routes/v0_1/info.py
Due: none

Defer loading of block info and item schemas for unauthenticated users
  webapp/src/components/datablocks/CycleBlock.vue
  webapp/src/components/datablocks/MediaBlock.vue
  webapp/src/components/datablocks/NMRBlock.vue
  webapp/src/components/datablocks/NMRInsituBlock.vue
  webapp/src/components/datablocks/UVVisInsituBlock.vue
  webapp/src/components/datablocks/XRDInsituBlock.vue
  webapp/src/server_fetch_utils.js
  webapp/src/views/EditPage.vue
Due: eslint

Emphasize the point of the canary comments to less intelligent models
  AGENTS.md
Due: none

Add e2e test for login redirection
  webapp/cypress/e2e/loginRedirect.cy.js
Due: eslint

Add new ELNFileFormat DOI
  paper/paper.bib
Due: none

Add remember me button to login page and reintroduce persistent sessions
  pydatalab/src/pydatalab/config.py
  pydatalab/src/pydatalab/main.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/tests/server/test_auth.py
  webapp/src/components/GetEmailModal.vue
  webapp/src/components/LoginDropdown.vue
  webapp/src/server_fetch_utils.js
  webapp/src/views/Login.vue
Due: eslint

Exterminate some leftover canaries
  webapp/cypress/component/ConnectedAccountsTest.cy.jsx
  webapp/cypress/component/EditAccountSettingsModalTest.cy.jsx
  webapp/cypress/component/UserBubbleTest.cy.jsx
  webapp/cypress/e2e/loginRedirect.cy.js
  webapp/src/components/APIKeyHelp.vue
  webapp/src/components/ConnectedAccounts.vue
Due: eslint

Adapted passwordless, added groups in the buttons login view.
  pydatalab/docs/config.md
  pydatalab/src/pydatalab/main.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/tests/server/test_auth.py
  webapp/cypress/component/LoginDropdownTest.cy.jsx
  webapp/src/components/UnsafeTestingPasswordlessLogin.vue
Due: eslint

Removed testing_passwordless IdentityType. Implemented workaround with fake email identity.
  pydatalab/docs/config.md
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/models/people.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/tasks.py
  pydatalab/tests/server/test_auth.py
Due: generate-schemas

Added Role: and Groups: in the buttons.
  webapp/src/components/UnsafeTestingPasswordlessLogin.vue
Due: eslint

Removed UI for passwordless test users and switched to listing users using an invoke task providing links.
  pydatalab/docs/INSTALL.md
  pydatalab/docs/config.md
  pydatalab/src/pydatalab/feature_flags.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/tasks.py
  pydatalab/tests/server/test_auth.py
  webapp/cypress/component/LoginDropdownTest.cy.jsx
  webapp/src/components/LoginDropdown.vue
  webapp/src/components/UnsafeTestingPasswordlessLogin.vue
  webapp/src/server_fetch_utils.js
  webapp/src/views/Login.vue
Due: eslint

Removed unnecessary private methods.
  pydatalab/docs/plugins.md
  pydatalab/tasks.py
Due: none

Double up corresponding authors
  paper/paper.md
Due: none

Make table of contents scrollable
  webapp/src/components/TableOfContents.vue
Due: eslint

Show a "more below" indicator on the table of contents
  webapp/src/components/TableOfContents.vue
Due: eslint

Add a matching "more above" indicator to the table of contents
  webapp/src/components/TableOfContents.vue
Due: eslint

Fixed login page when URL or LOGO is empty.
  webapp/src/components/LoginInfo.vue
  webapp/src/components/Navbar.vue
  webapp/src/views/Login.vue
Due: eslint

Replace passwordless test login route with magic-link tokens minted by invoke tasks
  pydatalab/docs/INSTALL.md
  pydatalab/docs/config.md
  pydatalab/src/pydatalab/config.py
  pydatalab/src/pydatalab/feature_flags.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/tasks.py
  pydatalab/tests/server/test_auth.py
  pydatalab/tests/test_config.py
  webapp/src/views/Login.vue
Due: eslint

Change TESTING option to not effect auth at all
  .github/workflows/ci.yml
  AGENTS.md
  pydatalab/docs/INSTALL.md
  pydatalab/src/pydatalab/config.py
  pydatalab/src/pydatalab/feature_flags.py
  pydatalab/src/pydatalab/permissions.py
  pydatalab/src/pydatalab/routes/v0_1/admin.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/src/pydatalab/routes/v0_1/collections.py
  pydatalab/src/pydatalab/routes/v0_1/export.py
  pydatalab/src/pydatalab/routes/v0_1/files.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/routes/v0_1/remotes.py
  pydatalab/src/pydatalab/routes/v0_1/users.py
  pydatalab/tasks.py
Due: none

Fix tag tests without needing TESTING
  webapp/cypress/e2e/tagsManagement.cy.js
Due: eslint

Replace TESTING mode in e2e tests with new email auth testing setting
  .github/workflows/ci.yml
  pydatalab/src/pydatalab/config.py
  pydatalab/src/pydatalab/feature_flags.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  webapp/cypress/support/commands.js
Due: eslint

Path conditions:
  generate-schemas: any of: ^pydatalab/src/pydatalab/models/.*.$
  eslint: any of: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
