Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

.pre-commit-config.yaml:

default_language_version:
  python: python3.10
  node: "20.17.0"

ci:
  skip:
    # skip generate-schemas as pre-commit-ci will not have correct environment
    - generate-schemas
    # skip eslint as it is too large to run in pre-commit-ci for free
    - eslint
  autoupdate_schedule: "monthly"
  autofix_prs: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (pydatalab/example_data/)|(.*.snap)
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: ^(pydatalab/example_data/|pydatalab/schemas)
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-symlinks
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py310-plus]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        additional_dependencies:
          ["types-python-dateutil", "types-requests", "types-paramiko", "pydantic~=1.10"]
        args: ["--config-file", "pydatalab/pyproject.toml"]

  - repo: local
    hooks:
      - id: generate-schemas
        name: Regenerate item model JSONSchemas
        files: "^pydatalab/src/pydatalab/models/.*.$"
        description: Check if the current code changes have enacted changes to the resulting JSONSchemas
        entry: invoke -r pydatalab dev.generate-schemas
        pass_filenames: false
        language: system
      - id: eslint
        name: eslint
        entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
        language: system
        types: [file]
        files: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
        pass_filenames: true

Add user agent and creator retrieval for item versions (#1785)
  pydatalab/src/pydatalab/models/versions.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/versioning.py
  pydatalab/tests/server/test_item_versions.py
Due: generate-schemas

add post plot hooks so plugins can modify block behaviour
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

change hook behaviour to run only on the unparesed files
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

Fix landing page
  pydatalab/src/pydatalab/main.py
Due: none

Fix minor API landing page issue (#1811)
  pydatalab/src/pydatalab/main.py
Due: none

tests for auth
  pydatalab/tests/server/test_auth_extra.py
Due: none

tests for auth, correcting a bug with authentification
  pydatalab/src/pydatalab/main.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/tests/server/test_auth.py
Due: none

Remove API landing page and simply redirect to app or info endpoint
  pydatalab/src/pydatalab/main.py
Due: none

Update landing page
  pydatalab/src/pydatalab/main.py
  pydatalab/tests/server/test_info_and_health.py
Due: none

Add all oauth buttons to debug API landing page (#1817)
  pydatalab/src/pydatalab/main.py
  pydatalab/tests/server/test_info_and_health.py
Due: none

Fix collection page default graph layout; use cheaper layout and tweak zoom level/speed
  webapp/src/components/CollectionRelationshipVisualization.vue
  webapp/src/components/ItemGraph.vue
Due: eslint

Add extra tests cases to collection page
  webapp/cypress/e2e/collectionPage.cy.js
Due: eslint

Silence warning on group/creator hydration by properly setting default value
  webapp/src/components/CollectionInformation.vue
  webapp/src/components/ToggleableCreatorsFormGroup.vue
  webapp/src/components/ToggleableGroupsFormGroup.vue
  webapp/src/field_utils.js
  webapp/src/store/index.js
Due: eslint

Fix for spurious unsaved collections warning
  webapp/src/views/CollectionPage.vue
Due: eslint

Fix group/creator hydration errors on collection page
  webapp/src/components/CollectionInformation.vue
  webapp/src/field_utils.js
  webapp/src/store/index.js
  webapp/src/views/CollectionPage.vue
Due: eslint

Update changelog for 0.7.1
  CHANGELOG.md
Due: none

Add export cleanup task after 24h
  pydatalab/src/pydatalab/routes/v0_1/export.py
  pydatalab/tests/server/test_export.py
Due: none

Use nginx to serve ELN exports directly when configured thusly
  pydatalab/src/pydatalab/config.py
  pydatalab/src/pydatalab/main.py
  pydatalab/src/pydatalab/routes/v0_1/export.py
Due: none

Use ZIP_STORED compression level (i.e. none)
  pydatalab/src/pydatalab/export.py
  pydatalab/src/pydatalab/routes/v0_1/export.py
  pydatalab/tests/server/test_export.py
  webapp/src/components/ExportProgressModal.vue
Due: eslint

Allow ELN export to capture other file type representations (initially just .bdf.parquet)
  pydatalab/src/pydatalab/export.py
Due: none

Fix issue where refcode contained duplicated prefix
  pydatalab/src/pydatalab/export.py
Due: none

Stream files directly into zip rather than intermediate folder
  pydatalab/src/pydatalab/export.py
Due: none

Indent and split ro-crate-metadata.json over multiple lines
  pydatalab/src/pydatalab/export.py
Due: none

Add reporting stages to export tasks and add a export modal that can show the export progress as it happens
  pydatalab/src/pydatalab/export.py
  pydatalab/src/pydatalab/models/tasks.py
  pydatalab/src/pydatalab/routes/v0_1/export.py
  webapp/src/components/ExportButton.vue
  webapp/src/components/ExportProgressModal.vue
  webapp/src/components/SampleGraphExportModal.vue
Due: generate-schemas, eslint

Fix issue where people and software sections were duplicated
  pydatalab/src/pydatalab/export.py
Due: none

Allow ELN export to be keyed on item_id rather than refcode
  pydatalab/src/pydatalab/export.py
  pydatalab/tests/server/test_export_utils.py
Due: none
