Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

.pre-commit-config.yaml:

default_language_version:
  python: python3.10
  node: "20.17.0"

ci:
  skip:
    # skip generate-schemas as pre-commit-ci will not have correct environment
    - generate-schemas
    # skip eslint as it is too large to run in pre-commit-ci for free
    - eslint
  autoupdate_schedule: "monthly"
  autofix_prs: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (pydatalab/example_data/)|(.*.snap)
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: ^(pydatalab/example_data/|pydatalab/schemas)
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-symlinks
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py310-plus]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        additional_dependencies:
          ["types-python-dateutil", "types-requests", "types-paramiko", "pydantic~=1.10"]
        args: ["--config-file", "pydatalab/pyproject.toml"]

  - repo: local
    hooks:
      - id: generate-schemas
        name: Regenerate item model JSONSchemas
        files: "^pydatalab/src/pydatalab/models/.*.$"
        description: Check if the current code changes have enacted changes to the resulting JSONSchemas
        entry: invoke -r pydatalab dev.generate-schemas
        pass_filenames: false
        language: system
      - id: eslint
        name: eslint
        entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
        language: system
        types: [file]
        files: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
        pass_filenames: true

Add custom to_mongo_doc method for the ItemVersionModel. This restores data to not have it's empty keys stripped when saving a version
  pydatalab/src/pydatalab/models/versions.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/versioning.py
Due: generate-schemas

Add failing test. Checking if saving None overwrites a previously saved value.
  pydatalab/tests/server/test_samples.py
Due: none

Remove exclude None from the save_item route
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Make XRD block native multi-file
  pydatalab/src/pydatalab/apps/xrd/blocks.py
  webapp/src/components/datablocks/XRDBlock.vue
  webapp/src/resources.js
Due: eslint

Add ability to rebin XRD patterns
  pydatalab/src/pydatalab/apps/xrd/blocks.py
  pydatalab/src/pydatalab/apps/xrd/utils.py
Due: none

Add tool to scale plot intensities and other bokeh tools
  pydatalab/src/pydatalab/apps/xrd/blocks.py
  pydatalab/src/pydatalab/bokeh_plots.py
Due: none

Add some notes and more rules to AGENTS.md
  AGENTS.md
Due: none

Switch from vue-cli to vite
  .docker/app/Dockerfile
  .docker/app_entrypoint.sh
  .pre-commit-config.yaml
  webapp/.browserslistrc
  webapp/.eslintrc.js
  webapp/babel.config.js
  webapp/cypress.config.ts
  webapp/cypress/support/e2e.js
  webapp/index.html
  webapp/package.json
  webapp/src/bokeh-shim.js
  webapp/src/components/BokehPlot.vue
  webapp/src/resources.js
  webapp/vite.config.mjs
  webapp/vue.config.js
  webapp/yarn.lock
Due: eslint

Fix sentinel value of app version in Dockerfile
  .docker/app/Dockerfile
Due: none

Add a test for x-datalab-api-url header
  webapp/cypress/e2e/apiDiscovery.cy.js
Due: eslint

Re-enable Firefox tests with cypress 15
  .github/workflows/ci.yml
Due: none

Fix component tests for firefox
  webapp/cypress/support/component.js
Due: eslint

Add Docker-based development environment
  .docker/app/Dockerfile
  DEVELOPMENT.md
  docker-compose.yml
  pydatalab/.env.example
  pydatalab/tasks.py
  webapp/.env.example
Due: none

Add schema for json_schema_extra hints and rework example item types
  pydatalab/docs/plugins.md
  pydatalab/plugins/example_item_plugin/example_item_plugin/models.py
  pydatalab/plugins/example_item_plugin/example_item_plugin/webapp/HeatTreatmentPanel.vue
  pydatalab/plugins/example_item_plugin/example_item_plugin/webapp/MixedSolutionPanel.vue
  pydatalab/plugins/example_item_plugin/pyproject.toml
  pydatalab/schemas/datalab_field_extra.json
  pydatalab/schemas/datalab_model_extra.json
  pydatalab/src/pydatalab/models/__init__.py
  pydatalab/src/pydatalab/models/schema_hints.py
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/tasks.py
  pydatalab/tests/test_models.py
  webapp/src/components/custom/CustomFieldsPanel.vue
Due: generate-schemas, eslint

Unindent final plotting code for MS block to correctly plot all panels before hitting return
  pydatalab/src/pydatalab/apps/tga/blocks.py
Due: none

Fix Cypress component test crash: guard against missing schemas state in CreateItemModal
  webapp/src/components/CreateItemModal.vue
Due: eslint

Fixes error in MS block where multiple chanels aren't plotted as separate panels (#1883)
  pydatalab/src/pydatalab/apps/tga/blocks.py
Due: none

Update notes on Python versioning in documentation
  pydatalab/docs/INSTALL.md
Due: none

Add docs note about node versions and installation
  pydatalab/docs/INSTALL.md
Due: none

Clarify supported OS's and MongoDB install instructions
  pydatalab/docs/INSTALL.md
Due: none

Add RSECon26 acceptance to frontmatter
  paper/paper.md
Due: none

Fix typos in paper (closes #1878, closes #1879)
  paper/paper.md
Due: none

Expand AI usage disclosure following #1852
  paper/paper.md
Due: none

Improve install docs for node, Python and MongoDB (#1903)
  pydatalab/docs/INSTALL.md
Due: none

Added backend model and routes for notifications. Keep it for now with the minimal features required.
  pydatalab/src/pydatalab/config.py
  pydatalab/src/pydatalab/feature_flags.py
  pydatalab/src/pydatalab/main.py
  pydatalab/src/pydatalab/models/__init__.py
  pydatalab/src/pydatalab/models/notifications.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/notifications.py
  pydatalab/src/pydatalab/permissions.py
  pydatalab/src/pydatalab/routes/v0_1/__init__.py
  pydatalab/src/pydatalab/routes/v0_1/notifications.py
  pydatalab/tests/server/conftest.py
  pydatalab/tests/server/test_info_and_health.py
  pydatalab/tests/server/test_notifications.py
  pydatalab/tests/test_config.py
  pydatalab/tests/test_notifications.py
Due: generate-schemas

Add some notes and more rules to AGENTS.md (#1871)
  AGENTS.md
Due: none

make the group rows in admin menu unclickable
  webapp/src/components/DynamicDataTable.vue
Due: eslint

Use regex search pipeline for group search
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/groups.py
Due: none

add GROUPS_FTS_FIELDS to mongo __all__
  pydatalab/src/pydatalab/mongo.py
Due: none

Apply suggestion from @davidwaroquiers
  pydatalab/src/pydatalab/mongo.py
Due: none

Remove RSECon from frontmatter
  paper/paper.md
Due: none

Enabling login.
  .docker/app/Dockerfile
  .docker/app_entrypoint.sh
  docker-compose.yml
  pydatalab/src/pydatalab/routes/v0_1/info.py
  webapp/src/App.vue
  webapp/src/resources.js
  webapp/src/router/index.js
  webapp/src/server_fetch_utils.js
  webapp/src/views/Login.vue
Due: eslint

Custom login info.
  pydatalab/docs/config.md
  pydatalab/tests/server/test_info_and_health.py
  webapp/src/views/Login.vue
  webapp/vue.config.js
Due: eslint

Adding missing files for login info.
  webapp/src/components/CustomLoginInfo.vue
  webapp/src/components/LoginInfo.vue
Due: eslint

Added doc on enabling login page.
  pydatalab/docs/config.md
Due: none

Hide unavailable option.
  .docker/app/Dockerfile
  .docker/app_entrypoint.sh
  docker-compose.yml
  pydatalab/docs/config.md
  webapp/src/resources.js
  webapp/src/views/Login.vue
Due: eslint

Fix group search + group row unclickable (#1909)
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/groups.py
  webapp/src/components/DynamicDataTable.vue
Due: eslint

Update pydantic version across various files
  .github/dependabot.yml
  .pre-commit-config.yaml
  pydatalab/pyproject.toml
  pydatalab/uv.lock
Due: none
