Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

generate-schemas:
  name: Regenerate item model JSONSchemas
  description: Check if the current code changes have enacted changes to the resulting JSONSchemas
  entry: invoke -r pydatalab dev.generate-schemas
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
  language: system
  pass_filenames: true

Add a small test for searching groups
  pydatalab/tests/server/test_users.py
Due: none

Tidy up error handling after item versions
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Backfill item `last_modified` from MongoDB `_id`
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_samples.py
Due: none

Update pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
Due: none

Update pydatalab/src/pydatalab/permissions.py
  pydatalab/src/pydatalab/permissions.py
Due: none

Fix: reformatted file
  pydatalab/src/pydatalab/routes/v0_1/auth.py
Due: none

Chore: combined if statements and changed authentication error strings
  pydatalab/src/pydatalab/routes/v0_1/auth.py
Due: none

Added ability to have multiple named API keys per user (#1942)
  pydatalab/src/pydatalab/login.py
  pydatalab/src/pydatalab/permissions.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/conftest.py
  pydatalab/tests/server/test_auth.py
  webapp/src/components/EditAccountSettingsModal.vue
  webapp/src/server_fetch_utils.js
Due: eslint

Bump NewareNDA to support latest Neware formats
  pydatalab/uv.lock
Due: none

Reintroduce manually uv update workflow for sub-deps
  .github/workflows/dependable-bot.yml
Due: none

Selected deps and GH actions updates (#1995)
  .github/workflows/ci.yml
  .github/workflows/license-check.yml
  .github/workflows/release.yml
  .github/workflows/yarn-upgrade-bot.yml
  pydatalab/pyproject.toml
  pydatalab/uv.lock
  webapp/package.json
  webapp/yarn.lock
Due: none

Even more dependency updates (#1999)
  .github/workflows/dependable-bot.yml
  webapp/package.json
  webapp/yarn.lock
Due: none

Run plugin tests from `/api` root path
  .github/workflows/ci.yml
Due: none

Update the changelog for 0.7.4
  CHANGELOG.md
Due: none

Serve API healthcheck routes from root path even when configured otherwise
  pydatalab/src/pydatalab/main.py
Due: none

Added location endpoint, `HasLocation` trait and tests for the location endpoint.
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/models/equipment.py
  pydatalab/src/pydatalab/models/items.py
  pydatalab/src/pydatalab/models/starting_materials.py
  pydatalab/src/pydatalab/models/traits.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/conftest.py
  pydatalab/tests/server/test_items.py
Due: generate-schemas

Add clear-all-filters button, ported onto DynamicDataTable refactor (#1914)
  webapp/cypress/component/CollectionTableTest.cy.jsx
  webapp/cypress/component/EquipmentTableTest.cy.jsx
  webapp/cypress/component/SampleTableTest.cy.jsx
  webapp/cypress/component/StartingMaterialTableTest.cy.jsx
  webapp/src/components/DynamicDataTable.vue
Due: eslint

Update liccheck workflow
  .github/workflows/license-check.yml
Due: none

Allow dependabot to open more PRs
  .github/dependabot.yml
Due: none

Fix molar mass test with lower precision with new periodictable
  pydatalab/tests/server/test_samples.py
Due: none

Bump matador for better spglib support
  pydatalab/pyproject.toml
  pydatalab/src/pydatalab/apps/xrd/utils.py
  pydatalab/uv.lock
Due: none

Use materialised list in pytest.mark.parametrize
  pydatalab/tests/apps/test_tga.py
Due: none

Chore: simplified nested location logic
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_items.py
Due: none

Started on metadata passing around
  pydatalab/src/pydatalab/pipeline_block/block_stages.py
Due: none

Suppress warnings in file multi select by falling back to single ID where present
  webapp/src/components/FileMultiSelect.vue
  webapp/src/components/datablocks/BokehBlock.vue
Due: eslint

Bump primevue-related packages
  webapp/package.json
  webapp/src/primevue-theme-preset.js
  webapp/yarn.lock
Due: eslint

Suppress more app warnings and leftover event handlers/default values
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/FormattedBarcode.vue
Due: eslint

Path conditions:
  generate-schemas: any of: ^pydatalab/src/pydatalab/models/.*.$
  eslint: any of: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
