Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

generate-schemas:
  name: Regenerate item model JSONSchemas
  description: Check if the current code changes have enacted changes to the resulting JSONSchemas
  entry: invoke -r pydatalab dev.generate-schemas
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
  language: system
  pass_filenames: true

tags updates
  pydatalab/src/pydatalab/models/tags.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/routes/v0_1/tags.py
  pydatalab/tests/server/test_tags.py
  pydatalab/tests/test_models.py
  webapp/cypress/component/TagFormModalTest.cy.jsx
  webapp/cypress/component/TagManagementTableTest.cy.jsx
  webapp/cypress/component/TagSelectTest.cy.jsx
  webapp/cypress/e2e/tagsManagement.cy.js
  webapp/cypress/support/commands.js
  webapp/src/components/TagActionsCell.vue
  webapp/src/components/TagBadge.vue
  webapp/src/components/TagFormModal.vue
  webapp/src/components/TagList.vue
  webapp/src/components/TagScopeBadge.vue
  webapp/src/components/TagSelect.vue
  webapp/src/server_fetch_utils.js
Due: generate-schemas, eslint

use werkzeug exceptions
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/tags.py
Due: none

Regenerate schemas after rebase onto bump-pydantic-final-final
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
Due: none

fix failing tests
  webapp/cypress/component/TagFormModalTest.cy.jsx
Due: eslint

attempt to fix test by creating admin user
  .github/workflows/ci.yml
  pydatalab/tasks.py
Due: none

add scope to tags
  pydatalab/src/pydatalab/models/tags.py
  pydatalab/src/pydatalab/models/utils.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/routes/v0_1/tags.py
  pydatalab/tests/server/test_tags.py
  pydatalab/tests/test_models.py
  webapp/cypress/component/TagFormModalTest.cy.jsx
  webapp/cypress/component/TagManagementTableTest.cy.jsx
  webapp/cypress/component/TagSelectTest.cy.jsx
  webapp/cypress/e2e/tagsManagement.cy.js
  webapp/cypress/support/commands.js
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/components/TagActionsCell.vue
  webapp/src/components/TagBadge.vue
  webapp/src/components/TagFormModal.vue
  webapp/src/components/TagList.vue
  webapp/src/components/TagManagementTable.vue
  webapp/src/components/TagScopeBadge.vue
  webapp/src/components/TagSelect.vue
  webapp/src/main.js
  webapp/src/server_fetch_utils.js
Due: generate-schemas, eslint

remove canary comments
  webapp/cypress/e2e/tagsManagement.cy.js
  webapp/cypress/support/commands.js
Due: eslint

Some updates for deployment and documentation.
  docker-compose.jupyter.yml
  pydatalab/docs/deployment.md
Due: none

adapt tags to refctored DynamicDataTable
  pydatalab/tasks.py
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/components/SampleTable.vue
  webapp/src/components/TagManagementTable.vue
  webapp/src/utils/filterMatchers.js
  webapp/src/utils/tableColumns.js
Due: eslint

fix failing tests
  webapp/cypress/e2e/editPage.cy.js
  webapp/cypress/support/commands.js
Due: eslint

fix wrong merge
  pydatalab/src/pydatalab/models/items.py
Due: generate-schemas

address comments
  pydatalab/src/pydatalab/blocks/store.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/graphs.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/versioning.py
Due: none

use counter for block versions
  pydatalab/src/pydatalab/blocks/store.py
  pydatalab/src/pydatalab/models/versions.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/tests/server/test_block_separation.py
Due: generate-schemas

separate blocks from items
  pydatalab/src/pydatalab/blocks/store.py
  pydatalab/src/pydatalab/export.py
  pydatalab/src/pydatalab/models/__init__.py
  pydatalab/src/pydatalab/models/blocks.py
  pydatalab/src/pydatalab/models/collections.py
  pydatalab/src/pydatalab/models/items.py
  pydatalab/src/pydatalab/models/traits.py
  pydatalab/src/pydatalab/models/versions.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/graphs.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/versioning.py
  pydatalab/tests/server/test_block_separation.py
  pydatalab/tests/server/test_blocks.py
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
Due: generate-schemas, eslint

Redirect with Oauth + some refactoring.
  docker-compose.yml
  pydatalab/docs/config.md
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/tests/server/test_auth.py
  webapp/src/components/CustomLoginInfo.vue
  webapp/src/views/Login.vue
  webapp/vue.config.js
Due: eslint

Add help section to API key component and adjust styling
  webapp/src/components/APIKeyHelp.vue
  webapp/src/components/EditAccountSettingsModal.vue
Due: eslint

Add option to include summary stats in user activity component
  webapp/src/components/UserActivityGraph.vue
Due: eslint

Make user bubble accept parameters for tooltip and href
  webapp/src/components/UserBubble.vue
Due: eslint

Prevent no-op email update from sending extraneous verification email
  pydatalab/src/pydatalab/routes/v0_1/users.py
  pydatalab/tests/server/test_users.py
Due: none

Refactor account settings modal significantly
  webapp/src/components/ConnectedAccounts.vue
  webapp/src/components/EditAccountSettingsModal.vue
Due: eslint

Add placeholder for deployment stats
  pydatalab/docs/deployment.md
  pydatalab/src/pydatalab/deployment_stats.py
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/tests/server/test_deployment_stats.py
  webapp/src/App.vue
  webapp/src/components/DeploymentStats.vue
  webapp/src/components/StatisticsTable.vue
  webapp/src/components/StatsTimeChart.vue
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
  webapp/src/views/About.vue
Due: eslint

Add component tests for account settings
  webapp/cypress/component/ConnectedAccountsTest.cy.jsx
  webapp/cypress/component/EditAccountSettingsModalTest.cy.jsx
  webapp/cypress/component/UserBubbleTest.cy.jsx
  webapp/src/components/EditAccountSettingsModal.vue
Due: eslint

Fixup to account settings modal after review
  webapp/cypress/component/EditAccountSettingsModalTest.cy.jsx
  webapp/src/components/EditAccountSettingsModal.vue
Due: eslint

a11y improvements: proper tabs, naming and summary
  webapp/cypress/component/UserBubbleTest.cy.jsx
  webapp/src/components/APIKeyHelp.vue
  webapp/src/components/EditAccountSettingsModal.vue
  webapp/src/components/UserActivityGraph.vue
  webapp/src/components/UserBubble.vue
Due: eslint

feat: source location suggestions from the /locations API
  webapp/src/components/EquipmentInformation.vue
  webapp/src/components/StartingMaterialInformation.vue
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
Due: eslint

feat: add location field to samples and cells
  webapp/src/components/CellInformation.vue
  webapp/src/components/SampleInformation.vue
Due: eslint

Add test for location input
  webapp/cypress/component/LocationInputTest.cy.jsx
Due: eslint

Move location function to getter shared across all types
  webapp/src/components/CellInformation.vue
  webapp/src/components/EquipmentInformation.vue
  webapp/src/components/SampleInformation.vue
  webapp/src/components/StartingMaterialInformation.vue
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
Due: eslint

Add tests for the EIS text parsers
  pydatalab/tests/apps/test_eis_block.py
Due: none

Use nested location hierarchy as provided server-side
  webapp/cypress/component/LocationInputTest.cy.jsx
  webapp/src/components/CellInformation.vue
  webapp/src/components/EquipmentInformation.vue
  webapp/src/components/LocationInput.vue
  webapp/src/components/SampleInformation.vue
  webapp/src/components/StartingMaterialInformation.vue
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
Due: eslint

Added unit test for nominal capacity calculation
  pydatalab/tests/test_models.py
Due: none

Path conditions:
  generate-schemas: any of: ^pydatalab/src/pydatalab/models/.*.$
  eslint: any of: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
