Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

generate-schemas:
  name: Regenerate item model JSONSchemas
  description: Check if the current code changes have enacted changes to the resulting JSONSchemas
  entry: invoke -r pydatalab dev.generate-schemas
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
  language: system
  pass_filenames: true

Fix loose permissions when creating a sample by copying from another (#1922)
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_permissions.py
Due: none

Learn more goes to datalab docs.
  webapp/src/components/LoginInfo.vue
Due: eslint

Added doc on enabling login page.
  pydatalab/docs/config.md
Due: none

Custom login info.
  pydatalab/docs/config.md
  pydatalab/tests/server/test_info_and_health.py
  webapp/src/views/Login.vue
  webapp/vue.config.js
Due: eslint

Adding missing files for login info.
  webapp/src/components/CustomLoginInfo.vue
  webapp/src/components/LoginInfo.vue
Due: eslint

Enabling login.
  .docker/app/Dockerfile
  .docker/app_entrypoint.sh
  docker-compose.yml
  pydatalab/src/pydatalab/routes/v0_1/info.py
  webapp/src/App.vue
  webapp/src/resources.js
  webapp/src/router/index.js
  webapp/src/server_fetch_utils.js
  webapp/src/views/Login.vue
Due: eslint

Simplified redirection + added logout and go to app buttons when already logged in.
  webapp/src/router/index.js
  webapp/src/views/Login.vue
Due: eslint

Reviewed AI changes.
  webapp/src/router/index.js
  webapp/src/views/Login.vue
Due: eslint

Hide unavailable option.
  .docker/app/Dockerfile
  .docker/app_entrypoint.sh
  docker-compose.yml
  pydatalab/docs/config.md
  webapp/src/resources.js
  webapp/src/views/Login.vue
Due: eslint

Fixed edition of roles (UI).
  webapp/src/components/UserRoleCell.vue
Due: eslint

Reviewed changes.
  webapp/src/components/UserRoleCell.vue
Due: eslint

Add option to disable magic link authentication while keeping admin notification email enabled.
  pydatalab/docs/config.md
  pydatalab/src/pydatalab/config.py
  pydatalab/src/pydatalab/feature_flags.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/tests/server/test_auth.py
  pydatalab/tests/server/test_info_and_health.py
Due: none

Better handling of uninitialised
  pydatalab/src/pydatalab/apps/xrd/blocks.py
Due: none

Update test cases for multifile XRD
  webapp/cypress/e2e/editPage.cy.js
Due: eslint

Make XRD block native multi-file
  pydatalab/src/pydatalab/apps/xrd/blocks.py
  webapp/src/components/datablocks/XRDBlock.vue
  webapp/src/resources.js
Due: eslint

Add option to disable magic link authentication (#1917)
  pydatalab/docs/config.md
  pydatalab/src/pydatalab/config.py
  pydatalab/src/pydatalab/feature_flags.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/tests/server/test_auth.py
  pydatalab/tests/server/test_info_and_health.py
Due: none

Some fixes after review.
  pydatalab/src/pydatalab/notifications.py
  pydatalab/src/pydatalab/routes/v0_1/notifications.py
Due: none

Fixed possible problem with failure to send multiple notifications at once using a transaction.
  pydatalab/src/pydatalab/notifications.py
  pydatalab/src/pydatalab/routes/v0_1/notifications.py
Due: none

More changes based on Guido's review.
  pydatalab/src/pydatalab/routes/v0_1/notifications.py
Due: none

Removed create_notification function.
  pydatalab/src/pydatalab/notifications.py
  pydatalab/tests/test_notifications.py
Due: none

Added fix to encode UTC in datetimes returned from the mongodb by pymongo
  pydatalab/src/pydatalab/utils/__init__.py
Due: none

Add regression tests for naive-datetime UTC serialization fix
  pydatalab/tests/server/test_equipment.py
  pydatalab/tests/server/test_item_versions.py
Due: none

Remove exclude None from the save_item route
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Update pydantic version across various files
  .github/dependabot.yml
  .pre-commit-config.yaml
  pydatalab/pyproject.toml
  pydatalab/uv.lock
Due: none

More model updates
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/models/blocks.py
  pydatalab/src/pydatalab/models/equipment.py
  pydatalab/src/pydatalab/models/export_task.py
  pydatalab/src/pydatalab/models/files.py
  pydatalab/src/pydatalab/models/starting_materials.py
  pydatalab/src/pydatalab/models/tasks.py
  pydatalab/src/pydatalab/models/traits.py
  pydatalab/src/pydatalab/models/versions.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/versioning.py
Due: generate-schemas

Patch optional vs default value for plugin data blocks
  pydatalab/src/pydatalab/models/utils.py
Due: generate-schemas

Refactor model imports to avoid circular deps
  pydatalab/src/pydatalab/models/__init__.py
Due: generate-schemas

Fix info endpoint for pydantic 2
  pydatalab/src/pydatalab/routes/v0_1/info.py
Due: none

Update various routes for pydantic v2
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/src/pydatalab/routes/v0_1/collections.py
  pydatalab/src/pydatalab/routes/v0_1/graphs.py
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/routes/v0_1/remotes.py
  pydatalab/src/pydatalab/routes/v0_1/users.py
Due: none

Added test to check if None fields are preserved with saving items and versions (pydantic 1 to 2 change)
  pydatalab/tests/server/test_item_versions.py
Due: none

Fix exports for pydantic 2
  pydatalab/src/pydatalab/export.py
  pydatalab/src/pydatalab/routes/v0_1/export.py
Due: none

Minor tweaks suggested by copilot
  pydatalab/src/pydatalab/models/people.py
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: generate-schemas

Simplify error handling of all item routes
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Unpick circular dependencies between export/items routes by moving lookups to mongo module
  pydatalab/src/pydatalab/export.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Fix for auth routes
  pydatalab/src/pydatalab/login.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
Due: none

Load FTS fields for MongoDB from model schemas directly
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_items.py
Due: none

Fix status dropdown broken by Pydantic v2 schema migration
  webapp/src/components/CellInformation.vue
  webapp/src/components/EquipmentInformation.vue
  webapp/src/components/SampleInformation.vue
  webapp/src/components/StartingMaterialInformation.vue
Due: eslint

More auth route fixes
  pydatalab/src/pydatalab/routes/v0_1/auth.py
Due: none

Move `datalab_*` fields in schema to `json_schema_extra` and allow carve out for plugins
  pydatalab/src/pydatalab/apps/__init__.py
  pydatalab/src/pydatalab/apps/chat/blocks.py
  pydatalab/src/pydatalab/blocks/base.py
  pydatalab/src/pydatalab/models/blocks.py
Due: generate-schemas

Add failing test. Checking if saving None overwrites a previously saved value.
  pydatalab/tests/server/test_samples.py
Due: none

Path conditions:
  generate-schemas: any of: ^pydatalab/src/pydatalab/models/.*.$
  eslint: any of: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
