Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

.pre-commit-config.yaml:

default_language_version:
  python: python3.10
  node: "20.17.0"

ci:
  skip:
    # skip generate-schemas as pre-commit-ci will not have correct environment
    - generate-schemas
    # skip eslint as it is too large to run in pre-commit-ci for free
    - eslint
  autoupdate_schedule: "monthly"
  autofix_prs: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (pydatalab/example_data/)|(.*.snap)
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: ^(pydatalab/example_data/|pydatalab/schemas)
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-symlinks
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py310-plus]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        additional_dependencies:
          ["types-python-dateutil", "types-requests", "types-paramiko", "pydantic~=1.10"]
        args: ["--config-file", "pydatalab/pyproject.toml"]

  - repo: local
    hooks:
      - id: generate-schemas
        name: Regenerate item model JSONSchemas
        files: "^pydatalab/src/pydatalab/models/.*.$"
        description: Check if the current code changes have enacted changes to the resulting JSONSchemas
        entry: invoke -r pydatalab dev.generate-schemas
        pass_filenames: false
        language: system
      - id: eslint
        name: eslint
        entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
        language: system
        types: [file]
        files: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
        pass_filenames: true

Update traits module to pydantic v2
  pydatalab/src/pydatalab/models/traits.py
Due: generate-schemas

Chatblock fix: make sure to set item data properly
  pydatalab/src/pydatalab/apps/chat/blocks.py
Due: none

Refactor server config for pydantic v2
  pydatalab/src/pydatalab/config.py
Due: none

Fix status dropdown broken by Pydantic v2 schema migration
  webapp/src/components/CellInformation.vue
  webapp/src/components/EquipmentInformation.vue
  webapp/src/components/SampleInformation.vue
  webapp/src/components/StartingMaterialInformation.vue
Due: eslint

Move `datalab_*` fields in schema to `json_schema_extra` and allow carve out for plugins
  pydatalab/src/pydatalab/apps/__init__.py
  pydatalab/src/pydatalab/apps/chat/blocks.py
  pydatalab/src/pydatalab/blocks/base.py
  pydatalab/src/pydatalab/models/blocks.py
Due: generate-schemas

Unpick circular dependencies between export/items routes by moving lookups to mongo module
  pydatalab/src/pydatalab/export.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Properly strip server-computed block data out of webapp requests
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/test_base_block.py
  webapp/src/server_fetch_utils.js
Due: eslint

remove canary comments
  webapp/cypress/e2e/tagsManagement.cy.js
  webapp/cypress/support/commands.js
Due: eslint

Regenerate schemas after rebase onto bump-pydantic-final-final
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
Due: none

attempt to fix test by creating admin user
  .github/workflows/ci.yml
  pydatalab/tasks.py
Due: none

tags updates
  pydatalab/src/pydatalab/models/tags.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/routes/v0_1/tags.py
  pydatalab/tests/server/test_tags.py
  pydatalab/tests/test_models.py
  webapp/cypress/component/TagFormModalTest.cy.jsx
  webapp/cypress/component/TagManagementTableTest.cy.jsx
  webapp/cypress/component/TagSelectTest.cy.jsx
  webapp/cypress/e2e/tagsManagement.cy.js
  webapp/cypress/support/commands.js
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/TagActionsCell.vue
  webapp/src/components/TagBadge.vue
  webapp/src/components/TagFormModal.vue
  webapp/src/components/TagList.vue
  webapp/src/components/TagScopeBadge.vue
  webapp/src/components/TagSelect.vue
  webapp/src/server_fetch_utils.js
Due: generate-schemas, eslint

add scope to tags
  pydatalab/src/pydatalab/models/tags.py
  pydatalab/src/pydatalab/models/utils.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/routes/v0_1/tags.py
  pydatalab/tests/server/test_tags.py
  pydatalab/tests/test_models.py
  webapp/cypress/component/TagFormModalTest.cy.jsx
  webapp/cypress/component/TagManagementTableTest.cy.jsx
  webapp/cypress/component/TagSelectTest.cy.jsx
  webapp/cypress/e2e/tagsManagement.cy.js
  webapp/cypress/support/commands.js
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/components/TagActionsCell.vue
  webapp/src/components/TagBadge.vue
  webapp/src/components/TagFormModal.vue
  webapp/src/components/TagList.vue
  webapp/src/components/TagManagementTable.vue
  webapp/src/components/TagScopeBadge.vue
  webapp/src/components/TagSelect.vue
  webapp/src/main.js
  webapp/src/server_fetch_utils.js
Due: generate-schemas, eslint

use werkzeug exceptions
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/tags.py
Due: none

fix failing tests
  webapp/cypress/component/TagFormModalTest.cy.jsx
Due: eslint

Splitted the docker-compose for juypter.
  docker-compose.jupyter.yml
  docker-compose.yml
  pydatalab/docs/deployment.md
Due: none

Properly strip server-computed block data out of webapp requests (#2044)
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/test_base_block.py
  webapp/src/server_fetch_utils.js
Due: eslint

Do not rebuild custom models after registration
  pydatalab/docs/plugins.md
  pydatalab/src/pydatalab/models/__init__.py
  pydatalab/src/pydatalab/models/_example_custom.py
  pydatalab/tests/server/test_custom_item_types.py
Due: generate-schemas

Add a couple of negative tests
  pydatalab/src/pydatalab/main.py
  pydatalab/tests/server/test_custom_item_types.py
Due: none

Prefix `type` of custom item types and let them referred to in references/relationships
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/models/__init__.py
  pydatalab/src/pydatalab/models/_example_custom.py
  pydatalab/src/pydatalab/models/relationships.py
  pydatalab/src/pydatalab/models/traits.py
  pydatalab/src/pydatalab/models/utils.py
  pydatalab/tests/server/test_custom_item_types.py
Due: generate-schemas

Update plugin docs and roadmap with more info on custom items
  pydatalab/docs/plugins.md
  pydatalab/docs/roadmap.md
Due: none

Initial draft of custom item model functionality
  pydatalab/docs/plugins.md
  pydatalab/src/pydatalab/apps/__init__.py
  pydatalab/src/pydatalab/config.py
  pydatalab/src/pydatalab/main.py
  pydatalab/src/pydatalab/models/__init__.py
  pydatalab/src/pydatalab/models/_example_custom.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_custom_item_types.py
Due: generate-schemas

Correctly pop data out of collections requests to enable stricter validation
  pydatalab/src/pydatalab/routes/v0_1/collections.py
  pydatalab/tests/server/conftest.py
  pydatalab/tests/server/test_samples.py
Due: none

Added location endpoint, `HasLocation` trait and tests for the location endpoint.
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/models/equipment.py
  pydatalab/src/pydatalab/models/items.py
  pydatalab/src/pydatalab/models/starting_materials.py
  pydatalab/src/pydatalab/models/traits.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/conftest.py
  pydatalab/tests/server/test_items.py
Due: generate-schemas

Chore: simplified nested location logic
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_items.py
Due: none

Added ability for server default `EXTRA_LOCATIONS`
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/conftest.py
  pydatalab/tests/server/test_items.py
Due: none

Add proper config field for predefined locations
  pydatalab/src/pydatalab/config.py
  pydatalab/tests/server/conftest.py
Due: none

Remove old model alias for locations from cheminventory
  pydatalab/src/pydatalab/models/traits.py
Due: generate-schemas

Tidy up tests
  pydatalab/tests/server/test_items.py
Due: none

Minor tidying of endpoint
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Handle empty segments and clarify behaviour when segment name is duplicated at same level
  pydatalab/src/pydatalab/config.py
  pydatalab/src/pydatalab/models/utils.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_items.py
Due: generate-schemas

Nest response under `data`
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_items.py
Due: none

Add location to all items and `/locations` endpoint, configure pre-defined locations (#2002)
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/config.py
  pydatalab/src/pydatalab/models/equipment.py
  pydatalab/src/pydatalab/models/items.py
  pydatalab/src/pydatalab/models/starting_materials.py
  pydatalab/src/pydatalab/models/traits.py
  pydatalab/src/pydatalab/models/utils.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/conftest.py
  pydatalab/tests/server/test_items.py
Due: generate-schemas

Add synthetic all rest ivium .txt file. Add tests to ensure default plot for this file is voltage against time. Add tests to ensure dQ/dV, dV/dQ and cycle summary modes error properly
  pydatalab/example_data/echem/rest_only_ivium.txt
  pydatalab/tests/apps/test_echem_block.py
Due: none
