Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

.pre-commit-config.yaml:

default_language_version:
  python: python3.10
  node: "20.17.0"

ci:
  skip:
    # skip generate-schemas as pre-commit-ci will not have correct environment
    - generate-schemas
    # skip eslint as it is too large to run in pre-commit-ci for free
    - eslint
  autoupdate_schedule: "monthly"
  autofix_prs: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (pydatalab/example_data/)|(.*.snap)
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: ^(pydatalab/example_data/|pydatalab/schemas)
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-symlinks
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py310-plus]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        additional_dependencies:
          ["types-python-dateutil", "types-requests", "types-paramiko", "pydantic~=1.10"]
        args: ["--config-file", "pydatalab/pyproject.toml"]

  - repo: local
    hooks:
      - id: generate-schemas
        name: Regenerate item model JSONSchemas
        files: "^pydatalab/src/pydatalab/models/.*.$"
        description: Check if the current code changes have enacted changes to the resulting JSONSchemas
        entry: invoke -r pydatalab dev.generate-schemas
        pass_filenames: false
        language: system
      - id: eslint
        name: eslint
        entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
        language: system
        types: [file]
        files: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
        pass_filenames: true

Use dynamic backoff time when polling block status
  webapp/src/server_fetch_utils.js
Due: eslint

Re(?)introduce store setter for block updating status
  webapp/src/store/index.js
Due: eslint

Show timestamped processing stages in collapsible view for async blocks
  webapp/src/components/datablocks/DataBlockBase.vue
  webapp/src/server_fetch_utils.js
Due: eslint

Add scheduled task to clear up task results transfer buffer
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
Due: none

Unify BlockTask and ExportTask into single Task model
  pydatalab/src/pydatalab/models/block_task.py
  pydatalab/src/pydatalab/models/tasks.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/export.py
  pydatalab/tests/server/test_export.py
  webapp/src/store/index.js
Due: generate-schemas, eslint

Enable async in echem block
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

Bump navani and in situ plugin
  pydatalab/pyproject.toml
  pydatalab/uv.lock
Due: none

Refactor async task processing around a gridfs-based transfer buffer
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
Due: none

Fix async block processing: authentication context and database persistence
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
Due: none

Add asynchronous data block processing with APScheduler
  pydatalab/src/pydatalab/models/block_task.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  webapp/src/components/datablocks/NMRInsituBlock.vue
  webapp/src/components/datablocks/UVVisInsituBlock.vue
  webapp/src/components/datablocks/XRDInsituBlock.vue
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
Due: generate-schemas, eslint

Allow tasks to store more detail on error
  pydatalab/src/pydatalab/models/tasks.py
Due: generate-schemas

Catch the case that not block data is returned after async processing
  webapp/src/server_fetch_utils.js
Due: eslint

Add docs note about async block processing
  pydatalab/docs/blocks/index.md
Due: none

Allow more detail in task stages and temporarily enable async everywhere
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
Due: none

Manual fix pre-commit
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
Due: none

Tweak APScheduler settings to work better with multiple jobs
  pydatalab/src/pydatalab/scheduler.py
Due: none

Refactor Task model to use spec-based architecture for type-specific fields
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/models/tasks.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/export.py
  pydatalab/tests/server/test_export.py
Due: generate-schemas

Rename export scheduler to task scheduler
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/export.py
  pydatalab/src/pydatalab/scheduler.py
  pydatalab/tests/server/test_export.py
Due: none

Bump transformers to 5.5+
  pydatalab/pyproject.toml
  pydatalab/uv.lock
Due: none

Disable dependable bot workflow
  .github/workflows/dependable-bot.yml
Due: none

Downgrade pygments back to 2.19 due to bad docs build
  pydatalab/pyproject.toml
  pydatalab/uv.lock
Due: none

Collected Python updates from dependabot (#1683)
  .github/workflows/dependable-bot.yml
  pydatalab/pyproject.toml
  pydatalab/uv.lock
Due: none

for rest steps replace capacity with nan for plotting purposes
  pydatalab/src/pydatalab/apps/echem/blocks.py
  pydatalab/src/pydatalab/bokeh_plots.py
Due: none

Echem block: set capacity to null for rest steps for plotting purposes (#1682)
  pydatalab/src/pydatalab/apps/echem/blocks.py
  pydatalab/src/pydatalab/bokeh_plots.py
Due: none

Add dummy author for repository
  CITATION.cff
Due: none

Add preprint to README and CITATION.cff
  CITATION.cff
  README.md
Due: none

Add preprint to README and CITATION.cff (#1684)
  CITATION.cff
  README.md
Due: none

Remove flask-pymongo and use only pymongo directly everywhere
  pydatalab/pyproject.toml
  pydatalab/src/pydatalab/apps/echem/blocks.py
  pydatalab/src/pydatalab/apps/xrd/blocks.py
  pydatalab/src/pydatalab/export.py
  pydatalab/src/pydatalab/file_utils.py
  pydatalab/src/pydatalab/login.py
  pydatalab/src/pydatalab/main.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/permissions.py
  pydatalab/src/pydatalab/routes/v0_1/admin.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/collections.py
  pydatalab/src/pydatalab/routes/v0_1/export.py
  pydatalab/src/pydatalab/routes/v0_1/files.py
  pydatalab/src/pydatalab/routes/v0_1/graphs.py
  pydatalab/src/pydatalab/routes/v0_1/groups.py
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/routes/v0_1/users.py
  pydatalab/src/pydatalab/scheduler.py
  pydatalab/src/pydatalab/versioning.py
  pydatalab/tests/server/conftest.py
  pydatalab/tests/server/test_export_utils.py
  pydatalab/tests/server/test_item_versions.py
  pydatalab/uv.lock
Due: none

Cache user loader
  pydatalab/src/pydatalab/login.py
Due: none

Compute and persist gravatar_hash on user documents
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/main.py
  pydatalab/src/pydatalab/models/people.py
  pydatalab/src/pydatalab/mongo.py
Due: generate-schemas

Drop client-side md5 hashing; use server-provided gravatar_hash
  webapp/cypress/component/UserBubbleLoginTest.cy.jsx
  webapp/cypress/component/UserBubbleTest.cy.jsx
  webapp/package.json
  webapp/src/components/UserBubble.vue
  webapp/src/components/UserBubbleLogin.vue
  webapp/yarn.lock
Due: eslint

Return gravatar_hash instead of contact_email in creator and user-search responses
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/routes/v0_1/users.py
  pydatalab/tests/server/test_users.py
Due: none

Support meta_only query param on /list-remote-directories to skip directory scan
  pydatalab/src/pydatalab/routes/v0_1/remotes.py
Due: none

Split remote FS fetches per-remote in store and fetch helpers
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
Due: eslint

Load remote FS tree lazily on modal open and on per-remote expansion
  webapp/src/components/FileSelectModal.vue
  webapp/src/components/SelectableFileTree.vue
  webapp/src/components/TreeMenu.vue
Due: eslint

refactored block a bit
  pydatalab/src/pydatalab/apps/eis/__init__.py
Due: none

Added derived columns for the bode plot to other import pathways
  pydatalab/src/pydatalab/apps/eis/utils.py
Due: none
