Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

.pre-commit-config.yaml:

default_language_version:
  python: python3.10
  node: "20.17.0"

ci:
  skip:
    # skip generate-schemas as pre-commit-ci will not have correct environment
    - generate-schemas
    # skip eslint as it is too large to run in pre-commit-ci for free
    - eslint
  autoupdate_schedule: "monthly"
  autofix_prs: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (pydatalab/example_data/)|(.*.snap)
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: ^(pydatalab/example_data/|pydatalab/schemas)
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-symlinks
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py310-plus]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        additional_dependencies:
          ["types-python-dateutil", "types-requests", "types-paramiko", "pydantic~=1.10"]
        args: ["--config-file", "pydatalab/pyproject.toml"]

  - repo: local
    hooks:
      - id: generate-schemas
        name: Regenerate item model JSONSchemas
        files: "^pydatalab/src/pydatalab/models/.*.$"
        description: Check if the current code changes have enacted changes to the resulting JSONSchemas
        entry: invoke -r pydatalab dev.generate-schemas
        pass_filenames: false
        language: system
      - id: eslint
        name: eslint
        entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
        language: system
        types: [file]
        files: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
        pass_filenames: true

Add defensive check for unnasigned cycle_summary_df
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

Add check in double_axes_echem_plot for rest only data. If so plot time against voltage. Raise useful error for dQ/dV, cycle summary, dV/dQ rather than render meaningless plots.
  pydatalab/src/pydatalab/bokeh_plots.py
Due: none

Fix empty plots for echem block when the data is all rest cycles (#2000)
  pydatalab/example_data/echem/rest_only_ivium.txt
  pydatalab/src/pydatalab/apps/echem/blocks.py
  pydatalab/src/pydatalab/bokeh_plots.py
  pydatalab/tests/apps/test_echem_block.py
Due: none

Remove chat block and XPS plugin
  pydatalab/pyproject.toml
  pydatalab/tests/apps/test_chat.py
  pydatalab/uv.lock
Due: none

Implemented .txt and changed the .asc parser. Also implemented the part of the data block that shows the .txt graph
  pydatalab/src/pydatalab/apps/tga/__init__.py
  pydatalab/src/pydatalab/apps/tga/blocks.py
  pydatalab/src/pydatalab/apps/tga/parsers.py
  pydatalab/tests/apps/test_tga.py
Due: none

Added ability to view tga partial pressures with temperature on x axis
  pydatalab/src/pydatalab/apps/tga/blocks.py
  pydatalab/src/pydatalab/apps/tga/parsers.py
  pydatalab/src/pydatalab/bokeh_plots.py
Due: none

Fixed failed tests
  pydatalab/src/pydatalab/apps/tga/parsers.py
Due: none

Added tests to check for the mean and std of the output
  pydatalab/tests/apps/test_tga.py
Due: none

Chore: added explicit return
  pydatalab/src/pydatalab/apps/tga/blocks.py
Due: none

Fix: Stopped MassSpecBlock giving index out of range error.
  pydatalab/src/pydatalab/apps/tga/blocks.py
Due: none

Enable resizable images in tiptap
  webapp/src/components/TiptapInline.vue
  webapp/src/editor/extensions/MarkdownToggle.js
Due: eslint

Add text alignment to the tiptap editor
  webapp/package.json
  webapp/src/components/TiptapInline.vue
  webapp/src/main.js
  webapp/yarn.lock
Due: eslint

Fix for markdown preview toggler
  webapp/src/components/TiptapInline.vue
  webapp/src/editor/extensions/MarkdownToggle.js
Due: eslint

Enable super/subscript extension for tiptap
  webapp/package.json
  webapp/src/components/TiptapInline.vue
  webapp/src/editor/extensions/MarkdownToggle.js
  webapp/src/main.js
  webapp/yarn.lock
Due: eslint

Add native datalab image picker
  webapp/src/components/CellInformation.vue
  webapp/src/components/CellPreparationInformation.vue
  webapp/src/components/EquipmentInformation.vue
  webapp/src/components/ImageFileSelectModal.vue
  webapp/src/components/SampleInformation.vue
  webapp/src/components/StartingMaterialInformation.vue
  webapp/src/components/SynthesisInformation.vue
  webapp/src/components/TiptapInline.vue
  webapp/src/components/datablocks/DataBlockBase.vue
  webapp/src/editor/extensions/MarkdownToggle.js
  webapp/src/editor/nodes/DatalabImage.js
  webapp/src/main.js
Due: eslint

Add placeholder (vibey) native pickers
  webapp/src/components/FileLinkMarkView.vue
  webapp/src/components/FileList.vue
  webapp/src/components/ImageFileSelectModal.vue
  webapp/src/components/TiptapInline.vue
  webapp/src/editor/extensions/DatalabFileDrop.js
  webapp/src/editor/files.js
  webapp/src/editor/marks/DatalabFileLink.js
  webapp/src/editor/nodes/DatalabImage.js
Due: eslint

Add test for TipTap markdown and move into new tiptap component test dir
  webapp/cypress/component/tiptap/TiptapInlineCompatibilityTest.cy.jsx
  webapp/cypress/component/tiptap/TiptapInlineMarkdownTest.cy.jsx
Due: eslint

set Cypress's component test runner to run on port 8082, to avoid a MacOS issue when running on port 8080 (the default) and to avoid conflict with the webapp server, which generally runs on 8081.
  webapp/README.md
  webapp/cypress.config.ts
Due: eslint

Properly strip server-computed block data out of webapp requests (#2044)
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/test_base_block.py
  webapp/src/server_fetch_utils.js
Due: eslint

Update CHANGELOG for v0.7.7
  CHANGELOG.md
Due: none

Fix local component test runner on MacOS (#2056)
  webapp/README.md
  webapp/cypress.config.ts
Due: eslint

Properly load theme in component tests and fix data locale mocking
  webapp/cypress/component/CollectionTableTest.cy.jsx
  webapp/cypress/component/EquipmentTableTest.cy.jsx
  webapp/cypress/component/SampleTableTest.cy.jsx
  webapp/cypress/component/StartingMaterialTableTest.cy.jsx
Due: eslint

Passwordless test login.
  pydatalab/docs/INSTALL.md
  pydatalab/docs/config.md
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/config.py
  pydatalab/src/pydatalab/feature_flags.py
  pydatalab/src/pydatalab/main.py
  pydatalab/src/pydatalab/models/people.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/tasks.py
  pydatalab/tests/server/test_auth.py
  pydatalab/tests/test_config.py
  webapp/cypress/component/LoginDropdownTest.cy.jsx
  webapp/src/components/LoginDropdown.vue
  webapp/src/components/UnsafeTestingPasswordlessLogin.vue
  webapp/src/server_fetch_utils.js
Due: generate-schemas, eslint
