Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

.pre-commit-config.yaml:

default_language_version:
  python: python3.10
  node: "20.17.0"

ci:
  skip:
    # skip generate-schemas as pre-commit-ci will not have correct environment
    - generate-schemas
    # skip eslint as it is too large to run in pre-commit-ci for free
    - eslint
  autoupdate_schedule: "monthly"
  autofix_prs: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (pydatalab/example_data/)|(.*.snap)
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: ^(pydatalab/example_data/|pydatalab/schemas)
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-symlinks
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py310-plus]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        additional_dependencies:
          ["types-python-dateutil", "types-requests", "types-paramiko", "pydantic~=1.10"]
        args: ["--config-file", "pydatalab/pyproject.toml"]

  - repo: local
    hooks:
      - id: generate-schemas
        name: Regenerate item model JSONSchemas
        files: "^pydatalab/src/pydatalab/models/.*.$"
        description: Check if the current code changes have enacted changes to the resulting JSONSchemas
        entry: invoke -r pydatalab dev.generate-schemas
        pass_filenames: false
        language: system
      - id: eslint
        name: eslint
        entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
        language: system
        types: [file]
        files: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
        pass_filenames: true

Fix `VUE_APP_WEBSITE_TITLE` default (#2167)
  .docker/app_entrypoint.sh
Due: none

Add theoretical capacity and calculation of nominal capacity to cell model.
  pydatalab/schemas/cell.json
  pydatalab/src/pydatalab/models/cells.py
  webapp/src/components/CellInformation.vue
Due: generate-schemas, eslint

Added unit test for nominal capacity calculation
  pydatalab/tests/test_models.py
Due: none

Add post-plot hooks so plugins can compute derived metrics from CycleBlock data
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

change cell model so nominal capacity can be added by user. If mismatch with theoretical capcity*mass raise a warning but keep the user supplied number
  pydatalab/schemas/cell.json
  pydatalab/src/pydatalab/models/cells.py
  pydatalab/tests/test_models.py
  webapp/src/components/CellInformation.vue
Due: generate-schemas, eslint

Show missing values in fetched plot columns as gaps, not zeros
  pydatalab/src/pydatalab/blocks/base.py
  webapp/src/components/BokehPlot.vue
Due: eslint

Add new ELNFileFormat DOI
  paper/paper.bib
Due: none

Strip remaining comments from JOSS guidelines and update LinkML reference
  paper/paper.bib
  paper/paper.md
Due: none

Fix a couple more formatting typos
  paper/paper.md
Due: none

Remove RSECon from frontmatter
  paper/paper.md
Due: none

Fix typos in paper (closes #1878, closes #1879)
  paper/paper.md
Due: none

Double up corresponding authors
  paper/paper.md
Due: none

Add reference
  paper/paper.bib
Due: none

Fix bib
  paper/paper.bib
Due: none

Expand AI usage disclosure following #1852
  paper/paper.md
Due: none

Update file formats
  paper/paper.md
Due: none

Add RSECon26 acceptance to frontmatter
  paper/paper.md
Due: none

Add JOSS submission
  paper/paper.bib
  paper/paper.md
Due: none

Fix a couple of formatting typos
  paper/paper.md
Due: none

Add some a11y labels
  webapp/src/components/DeploymentStats.vue
Due: eslint

Tweak styling of stats page
  webapp/src/components/DeploymentStats.vue
  webapp/src/components/StatsTimeChart.vue
  webapp/src/server_fetch_utils.js
  webapp/src/views/About.vue
Due: eslint

Replace stats cache with scheduled task
  pydatalab/src/pydatalab/deployment_stats.py
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/tests/server/test_deployment_stats.py
  webapp/src/components/DeploymentStats.vue
  webapp/src/components/StatsTimeChart.vue
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
  webapp/src/views/About.vue
Due: eslint

Guard newer ObjectIDs
  pydatalab/src/pydatalab/deployment_stats.py
Due: none

Convert stats computation to cron triggered APScheduler job
  pydatalab/src/pydatalab/deployment_stats.py
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/src/pydatalab/scheduler.py
  pydatalab/tests/server/test_deployment_stats.py
Due: none

Make user activity graph size configurable
  webapp/src/components/UserActivityGraph.vue
Due: eslint

Redesign deployment stats with nicer graphs and cached time-series
  pydatalab/src/pydatalab/deployment_stats.py
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/tests/server/test_deployment_stats.py
  webapp/src/App.vue
  webapp/src/components/DeploymentStats.vue
  webapp/src/components/StatisticsTable.vue
  webapp/src/components/StatsTimeChart.vue
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
  webapp/src/views/About.vue
Due: eslint

Use different markers for different types
  webapp/src/components/StatsTimeChart.vue
Due: eslint

Redesign deployment stats endpoint and about page (#2105)
  pydatalab/src/pydatalab/deployment_stats.py
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/src/pydatalab/scheduler.py
  pydatalab/tests/server/test_deployment_stats.py
  webapp/src/App.vue
  webapp/src/components/DeploymentStats.vue
  webapp/src/components/StatisticsTable.vue
  webapp/src/components/StatsTimeChart.vue
  webapp/src/components/UserActivityGraph.vue
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
  webapp/src/views/About.vue
Due: eslint

Sanitize Whinchat's directly imagined SVGs
  webapp/src/components/DialogModal.vue
  webapp/src/components/MessageBubble.vue
Due: eslint

Add one extra layer of defence to ID validation
  webapp/cypress/component/ValidateEntryIDTest.cy.jsx
  webapp/src/components/BatchCreateItemModal.vue
  webapp/src/components/CreateCollectionModal.vue
  webapp/src/components/CreateEquipmentModal.vue
  webapp/src/components/CreateGroupModal.vue
  webapp/src/components/CreateItemModal.vue
  webapp/src/field_utils.js
Due: eslint

Promote dompurify to direct dep
  webapp/package.json
Due: none

Unify SVG sanitisation into new module
  webapp/src/components/ChemicalFormula.vue
  webapp/src/components/MessageBubble.vue
  webapp/src/components/datablocks/MediaBlock.vue
  webapp/src/utils/sanitize.js
Due: eslint

Sanitize all dialog modal messages with DOMPurify
  webapp/src/components/DialogModal.vue
Due: eslint

DOMPurify chemical formulae
  webapp/src/components/ChemicalFormula.vue
Due: eslint

Add XSS-focused component tests for the DialogModal
  webapp/cypress/component/DialogModalTest.cy.jsx
Due: eslint

Make bare vue-html an ESLint error
  webapp/.eslintrc.js
Due: eslint

Add XSS test cases to chemical formula component
  webapp/cypress/component/ChemicalFormulaTest.cy.jsx
Due: eslint

Action: Add tags to multiple selected items.
  pydatalab/src/pydatalab/routes/v0_1/tags.py
  pydatalab/tests/server/test_tags.py
  webapp/cypress/e2e/tagsManagement.cy.js
  webapp/src/components/BatchTagModal.vue
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/main.js
  webapp/src/server_fetch_utils.js
Due: eslint

Minor fixes (#2172)
  webapp/.eslintrc.js
  webapp/cypress/component/ChemicalFormulaTest.cy.jsx
  webapp/cypress/component/DialogModalTest.cy.jsx
  webapp/cypress/component/ValidateEntryIDTest.cy.jsx
  webapp/package.json
  webapp/src/components/BatchCreateItemModal.vue
  webapp/src/components/ChemicalFormula.vue
  webapp/src/components/CreateCollectionModal.vue
  webapp/src/components/CreateEquipmentModal.vue
  webapp/src/components/CreateGroupModal.vue
  webapp/src/components/CreateItemModal.vue
  webapp/src/components/DialogModal.vue
  webapp/src/components/MessageBubble.vue
  webapp/src/components/datablocks/MediaBlock.vue
  webapp/src/field_utils.js
  webapp/src/utils/sanitize.js
Due: eslint

Backport of #2172
  webapp/.eslintrc.js
  webapp/cypress/component/ChemicalFormulaTest.cy.jsx
  webapp/cypress/component/DialogModalTest.cy.jsx
  webapp/cypress/component/ValidateEntryIDTest.cy.jsx
  webapp/src/components/BatchCreateItemModal.vue
  webapp/src/components/ChemicalFormula.vue
  webapp/src/components/CreateCollectionModal.vue
  webapp/src/components/CreateEquipmentModal.vue
  webapp/src/components/CreateGroupModal.vue
  webapp/src/components/CreateItemModal.vue
  webapp/src/components/DialogModal.vue
  webapp/src/components/MessageBubble.vue
  webapp/src/components/datablocks/MediaBlock.vue
  webapp/src/field_utils.js
  webapp/src/utils/sanitize.js
Due: eslint
