Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

.pre-commit-config.yaml:

default_language_version:
  python: python3.10
  node: "20.17.0"

ci:
  skip:
    # skip generate-schemas as pre-commit-ci will not have correct environment
    - generate-schemas
    # skip eslint as it is too large to run in pre-commit-ci for free
    - eslint
  autoupdate_schedule: "monthly"
  autofix_prs: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (pydatalab/example_data/)|(.*.snap)
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: ^(pydatalab/example_data/|pydatalab/schemas)
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-symlinks
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py310-plus]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        additional_dependencies:
          ["types-python-dateutil", "types-requests", "types-paramiko", "pydantic~=1.10"]
        args: ["--config-file", "pydatalab/pyproject.toml"]

  - repo: local
    hooks:
      - id: generate-schemas
        name: Regenerate item model JSONSchemas
        files: "^pydatalab/src/pydatalab/models/.*.$"
        description: Check if the current code changes have enacted changes to the resulting JSONSchemas
        entry: invoke -r pydatalab dev.generate-schemas
        pass_filenames: false
        language: system
      - id: eslint
        name: eslint
        entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
        language: system
        types: [file]
        files: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
        pass_filenames: true

Add symlink into docs
  pydatalab/docs/.pages
  pydatalab/docs/SECURITY.md
Due: none

Update docs page with additional links
  pydatalab/docs/index.md
Due: none

Add security document
  SECURITY.md
Due: none

Fixed cypress test.
  webapp/cypress/component/SampleTableTest.cy.jsx
Due: eslint

Modified tests to follow datalab's "usual" data-testid link practice.
  webapp/cypress/component/NavbarTest.cy.jsx
  webapp/cypress/component/SampleTableTest.cy.jsx
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/components/LoginDetails.vue
  webapp/src/components/Navbar.vue
Due: eslint

Fixed dropdowns to close when clicking outside.
  webapp/cypress/component/NavbarTest.cy.jsx
  webapp/cypress/component/SampleTableTest.cy.jsx
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/components/LoginDetails.vue
Due: eslint

actions
  webapp/src/components/AddToCollectionModal.vue
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/main.js
Due: eslint

separate blocks from items
  pydatalab/src/pydatalab/blocks/store.py
  pydatalab/src/pydatalab/export.py
  pydatalab/src/pydatalab/models/__init__.py
  pydatalab/src/pydatalab/models/blocks.py
  pydatalab/src/pydatalab/models/collections.py
  pydatalab/src/pydatalab/models/items.py
  pydatalab/src/pydatalab/models/traits.py
  pydatalab/src/pydatalab/models/versions.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/graphs.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/versioning.py
  pydatalab/tests/server/test_block_separation.py
  pydatalab/tests/server/test_blocks.py
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
Due: generate-schemas, eslint

use counter for block versions
  pydatalab/src/pydatalab/blocks/store.py
  pydatalab/src/pydatalab/models/versions.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/tests/server/test_block_separation.py
Due: generate-schemas

address comments
  pydatalab/src/pydatalab/blocks/store.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/graphs.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/versioning.py
Due: none

fix wrong merge
  pydatalab/src/pydatalab/models/items.py
Due: generate-schemas

custom-items: render plugin item types
  .gitignore
  pydatalab/schemas/datalab_field_extra.json
  pydatalab/schemas/datalab_model_extra.json
  pydatalab/src/pydatalab/models/__init__.py
  pydatalab/src/pydatalab/models/schema_hints.py
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_custom_item_types.py
  pydatalab/tests/test_models.py
  webapp/src/components/CompactConstituentTable.vue
  webapp/src/components/CreateItemModal.vue
  webapp/src/components/FormattedItemStatus.vue
  webapp/src/components/ItemSelect.vue
  webapp/src/components/SampleInformation.vue
  webapp/src/components/custom/CustomFieldsPanel.vue
  webapp/src/plugins/index.js
  webapp/src/resources.js
  webapp/src/server_fetch_utils.js
  webapp/src/views/EditPage.vue
Due: generate-schemas, eslint

format custom type labels
  webapp/src/components/DynamicDataTable.vue
Due: eslint

collect panels during builds
  .docker/app/Dockerfile
  .docker/app_dev_entrypoint.sh
  .dockerignore
  docker-compose.yml
  pydatalab/tasks.py
  pydatalab/tests/test_tasks.py
Due: none

document custom item UI
  pydatalab/docs/INSTALL.md
  pydatalab/docs/plugins.md
Due: none

Refactor and stabilize SampleTable flaky SampleTable tests, including the datalab primevue theme, and fixing filter tests
  webapp/cypress/component/SampleTableTest.cy.jsx
Due: eslint

custom-items UI : canonicalize quantities. tore numeric values in plugin-defined canonical units while preserving the user's display-unit preference separately.
  pydatalab/docs/plugins.md
  pydatalab/schemas/datalab_field_extra.json
  pydatalab/schemas/datalab_model_extra.json
  pydatalab/src/pydatalab/models/schema_hints.py
  pydatalab/tasks.py
  pydatalab/tests/test_models.py
  webapp/src/components/custom/CustomFieldsPanel.vue
Due: generate-schemas, eslint

changing the unit should not update the value
  pydatalab/docs/plugins.md
  webapp/src/components/custom/CustomFieldsPanel.vue
Due: eslint

bump navani to 0.1.22
  pydatalab/pyproject.toml
  pydatalab/uv.lock
Due: none

cleaning + regenerate schemas
  pydatalab/schemas/datalab_field_extra.json
  pydatalab/schemas/datalab_model_extra.json
  pydatalab/src/pydatalab/models/schema_hints.py
  pydatalab/tasks.py
  pydatalab/tests/test_models.py
  webapp/src/components/custom/CustomFieldsPanel.vue
Due: generate-schemas, eslint

regenerate schemas bis
  pydatalab/schemas/datalab_field_extra.json
Due: none

Fix flaky SampleTable component test (#2063)
  webapp/cypress/component/SampleTableTest.cy.jsx
Due: eslint

bump navani to 0.1.22 (#2074)
  pydatalab/pyproject.toml
  pydatalab/uv.lock
Due: none

Test that the bundled BokehJS renders Python-generated plots
  pydatalab/tests/test_version.py
  webapp/cypress/component/BokehPlotTest.cy.jsx
  webapp/cypress/fixtures/bokeh_plot.json
Due: eslint

Install BokehJS from npm instead of loading it from a CDN
  .github/dependabot.yml
  webapp/cypress/support/component-index.html
  webapp/package.json
  webapp/public/index.html
  webapp/src/components/BokehPlot.vue
  webapp/vue.config.js
  webapp/yarn.lock
Due: eslint

clarify dependabot comment
  .github/dependabot.yml
Due: none

Handle block events in BokehPlot rather than DataBlockBase
  webapp/src/components/BokehPlot.vue
  webapp/src/components/datablocks/BokehBlock.vue
  webapp/src/components/datablocks/CycleBlock.vue
  webapp/src/components/datablocks/DataBlockBase.vue
  webapp/src/components/datablocks/NMRBlock.vue
  webapp/src/components/datablocks/NMRInsituBlock.vue
  webapp/src/components/datablocks/UVVisBlock.vue
  webapp/src/components/datablocks/UVVisInsituBlock.vue
  webapp/src/components/datablocks/XRDInsituBlock.vue
Due: eslint

Add a route serving individual block data columns in requested units
  pydatalab/src/pydatalab/blocks/base.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/tests/server/test_blocks.py
Due: none

Let a plot fetch data columns and patch them in without a rebuild
  webapp/src/components/BokehPlot.vue
  webapp/src/server_fetch_utils.js
Due: eslint

Retain fix from #2032
  webapp/src/components/CreatorsAndGroupsFilter.vue
  webapp/src/components/DateRangeFilter.vue
  webapp/src/components/MultiSelectFilter.vue
  webapp/src/components/SingleSelectFilter.vue
Due: eslint

Backport navani bump to fix Neware timestamp issue (#2081)
  pydatalab/pyproject.toml
  pydatalab/uv.lock
Due: none

Reintroduce filters
  webapp/src/components/CollectionInformation.vue
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/SampleTable.vue
  webapp/src/components/StartingMaterialTable.vue
Due: eslint

Clean up shared column matchers into utils
  webapp/src/components/CollectionInformation.vue
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/SampleTable.vue
  webapp/src/components/TokenTable.vue
  webapp/src/components/UserTable.vue
  webapp/src/utils/filterMatchers.js
Due: eslint

Distinguish an unknown column from unsupported units
  pydatalab/src/pydatalab/blocks/base.py
  pydatalab/tests/server/test_blocks.py
Due: none

Let a plot decide the width of its own controls
  webapp/src/components/BokehPlot.vue
Due: eslint

Fix typos in the documentation
  README.md
  pydatalab/docs/deployment.md
  pydatalab/docs/plugins.md
Due: none

Support Item-derived types
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/tests/server/test_custom_item_types.py
  webapp/cypress/component/CustomItemUITest.cy.jsx
  webapp/src/components/CreateItemModal.vue
  webapp/src/components/ItemInformation.vue
  webapp/src/components/custom/CustomFieldsPanel.vue
  webapp/src/resources.js
Due: eslint

Bump Debian version in app docker build
  .docker/app/Dockerfile
Due: none

Confirm unit changes
  webapp/cypress/component/CustomItemUITest.cy.jsx
  webapp/src/components/custom/CustomFieldsPanel.vue
Due: eslint
