Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

generate-schemas:
  name: Regenerate item model JSONSchemas
  description: Check if the current code changes have enacted changes to the resulting JSONSchemas
  entry: invoke -r pydatalab dev.generate-schemas
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
  language: system
  pass_filenames: true

Refactor server config for pydantic v2
  pydatalab/src/pydatalab/config.py
Due: none

Update traits module to pydantic v2
  pydatalab/src/pydatalab/models/traits.py
Due: generate-schemas

Refactor model imports to avoid circular deps
  pydatalab/src/pydatalab/models/__init__.py
Due: generate-schemas

Misc pydantic v2 bumps around code
  pydatalab/src/pydatalab/backups.py
  pydatalab/src/pydatalab/errors.py
  pydatalab/src/pydatalab/file_utils.py
  pydatalab/src/pydatalab/main.py
  pydatalab/tasks.py
Due: none

Update various routes for pydantic v2
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/src/pydatalab/routes/v0_1/collections.py
  pydatalab/src/pydatalab/routes/v0_1/graphs.py
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/routes/v0_1/remotes.py
  pydatalab/src/pydatalab/routes/v0_1/users.py
Due: none

Load FTS fields for MongoDB from model schemas directly
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_items.py
Due: none

Rework all models and tasks into pydantic v2 amenable form
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/plugin_config.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/models/blocks.py
  pydatalab/src/pydatalab/models/cells.py
  pydatalab/src/pydatalab/models/collections.py
  pydatalab/src/pydatalab/models/entries.py
  pydatalab/src/pydatalab/models/equipment.py
  pydatalab/src/pydatalab/models/export_task.py
  pydatalab/src/pydatalab/models/files.py
  pydatalab/src/pydatalab/models/items.py
  pydatalab/src/pydatalab/models/people.py
  pydatalab/src/pydatalab/models/relationships.py
  pydatalab/src/pydatalab/models/samples.py
  pydatalab/src/pydatalab/models/starting_materials.py
  pydatalab/src/pydatalab/models/tasks.py
  pydatalab/src/pydatalab/models/traits.py
  pydatalab/src/pydatalab/models/utils.py
  pydatalab/src/pydatalab/models/versions.py
  pydatalab/tasks.py
  pydatalab/tests/test_models.py
Due: generate-schemas

More model updates
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/models/blocks.py
  pydatalab/src/pydatalab/models/equipment.py
  pydatalab/src/pydatalab/models/export_task.py
  pydatalab/src/pydatalab/models/files.py
  pydatalab/src/pydatalab/models/starting_materials.py
  pydatalab/src/pydatalab/models/tasks.py
  pydatalab/src/pydatalab/models/traits.py
  pydatalab/src/pydatalab/models/versions.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/versioning.py
Due: generate-schemas

Update various blocks for pydantic v2
  pydatalab/src/pydatalab/apps/chat/blocks.py
  pydatalab/src/pydatalab/apps/chat/models.py
  pydatalab/src/pydatalab/apps/nmr/models.py
  pydatalab/src/pydatalab/apps/xrd/blocks.py
  pydatalab/src/pydatalab/blocks/base.py
Due: none

Minimal test updates
  pydatalab/tests/server/conftest.py
  pydatalab/tests/server/test_item_versions.py
  pydatalab/tests/server/test_samples.py
  pydatalab/tests/test_models.py
Due: none

Fix info endpoint for pydantic 2
  pydatalab/src/pydatalab/routes/v0_1/info.py
Due: none

Patch optional vs default value for plugin data blocks
  pydatalab/src/pydatalab/models/utils.py
Due: generate-schemas

Simplify error handling of all item routes
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Fix exports for pydantic 2
  pydatalab/src/pydatalab/export.py
  pydatalab/src/pydatalab/routes/v0_1/export.py
Due: none

Move `datalab_*` fields in schema to `json_schema_extra` and allow carve out for plugins
  pydatalab/src/pydatalab/apps/__init__.py
  pydatalab/src/pydatalab/apps/chat/blocks.py
  pydatalab/src/pydatalab/blocks/base.py
  pydatalab/src/pydatalab/models/blocks.py
Due: generate-schemas

Final wave of model_dump/dict changes
  pydatalab/src/pydatalab/apps/nmr/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/admin.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/groups.py
  pydatalab/src/pydatalab/routes/v0_1/users.py
  pydatalab/tests/server/test_async_blocks.py
  pydatalab/tests/server/test_export.py
  pydatalab/tests/server/test_graph.py
  pydatalab/tests/server/test_item_graph.py
  pydatalab/tests/server/test_item_versions.py
  pydatalab/tests/server/test_samples.py
  pydatalab/tests/server/test_search.py
  pydatalab/tests/server/test_starting_materials.py
  pydatalab/tests/test_models.py
Due: none

Unpick circular dependencies between export/items routes by moving lookups to mongo module
  pydatalab/src/pydatalab/export.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Minor tweaks suggested by copilot
  pydatalab/src/pydatalab/models/people.py
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: generate-schemas

Update plugin config validator for pydantic 2
  pydatalab/tasks.py
Due: none

Fix for auth routes
  pydatalab/src/pydatalab/login.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
Due: none

Fix docker build by reordering tasks imports
  pydatalab/tasks.py
Due: none

Fix None field stripping in item creation and version snapshots (pydantic v2).
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/versioning.py
Due: none

Added test to check if None fields are preserved with saving items and versions (pydantic 1 to 2 change)
  pydatalab/tests/server/test_item_versions.py
Due: none

Add failing test. Checking if saving None overwrites a previously saved value.
  pydatalab/tests/server/test_samples.py
Due: none

More auth route fixes
  pydatalab/src/pydatalab/routes/v0_1/auth.py
Due: none

Remove exclude None from the save_item route
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Fix status dropdown broken by Pydantic v2 schema migration
  webapp/src/components/CellInformation.vue
  webapp/src/components/EquipmentInformation.vue
  webapp/src/components/SampleInformation.vue
  webapp/src/components/StartingMaterialInformation.vue
Due: eslint

Simplified redirection + added logout and go to app buttons when already logged in.
  webapp/src/router/index.js
  webapp/src/views/Login.vue
Due: eslint

Reviewed AI changes.
  webapp/src/router/index.js
  webapp/src/views/Login.vue
Due: eslint

Refactor DynamicDataTable
  webapp/src/components/CollectionTable.vue
  webapp/src/components/CreatorsAndGroupsFilter.vue
  webapp/src/components/DateRangeFilter.vue
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/EquipmentTable.vue
  webapp/src/components/GroupTable.vue
  webapp/src/components/MultiSelectFilter.vue
  webapp/src/components/SampleTable.vue
  webapp/src/components/SingleSelectFilter.vue
  webapp/src/components/StartingMaterialTable.vue
  webapp/src/components/TextFilter.vue
  webapp/src/components/TokenTable.vue
  webapp/src/components/UserTable.vue
  webapp/src/utils/filterMatchers.js
Due: eslint

Fix cypress tests
  webapp/cypress/component/EquipmentTableTest.cy.jsx
  webapp/src/components/CollectionInformation.vue
  webapp/src/components/DynamicDataTable.vue
Due: eslint

Fix cypress tests
  webapp/src/components/CreatorsAndGroupsFilter.vue
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/MultiSelectFilter.vue
Due: eslint

Lower erroneously open permissions of block updates if IDs are known
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/tests/server/test_blocks.py
Due: none

Remove defunct collections block routes
  pydatalab/docs/blocks/index.md
  pydatalab/src/pydatalab/apps/chat/blocks.py
  pydatalab/src/pydatalab/blocks/base.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
Due: none

Fix for copy_from_sample.
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_permissions.py
Due: none

add nominal cell capacity to cell model and front end
  pydatalab/schemas/cell.json
  pydatalab/src/pydatalab/models/cells.py
  webapp/src/components/CellInformation.vue
Due: generate-schemas, eslint

Learn more goes to datalab docs.
  webapp/src/components/LoginInfo.vue
Due: eslint

Path conditions:
  generate-schemas: any of: ^pydatalab/src/pydatalab/models/.*.$
  eslint: any of: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
