Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

.pre-commit-config.yaml:

default_language_version:
  python: python3.10
  node: "20.17.0"

ci:
  skip:
    # skip generate-schemas as pre-commit-ci will not have correct environment
    - generate-schemas
    # skip eslint as it is too large to run in pre-commit-ci for free
    - eslint
  autoupdate_schedule: "monthly"
  autofix_prs: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (pydatalab/example_data/)|(.*.snap)
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: ^(pydatalab/example_data/|pydatalab/schemas)
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-symlinks
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py310-plus]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        additional_dependencies:
          ["types-python-dateutil", "types-requests", "types-paramiko", "pydantic~=1.10"]
        args: ["--config-file", "pydatalab/pyproject.toml"]

  - repo: local
    hooks:
      - id: generate-schemas
        name: Regenerate item model JSONSchemas
        files: "^pydatalab/src/pydatalab/models/.*.$"
        description: Check if the current code changes have enacted changes to the resulting JSONSchemas
        entry: invoke -r pydatalab dev.generate-schemas
        pass_filenames: false
        language: system
      - id: eslint
        name: eslint
        entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
        language: system
        types: [file]
        files: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
        pass_filenames: true

Remove TESTING option from tags
  pydatalab/src/pydatalab/tags.py
Due: none

Fix equipment tests: delete should only work as an admin
  webapp/cypress/e2e/equipment.cy.js
Due: eslint

Use seeded tokens rather than test email auth endpoint
  .github/workflows/ci.yml
  AGENTS.md
  pydatalab/docs/INSTALL.md
  pydatalab/src/pydatalab/config.py
  pydatalab/src/pydatalab/feature_flags.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/tasks.py
  webapp/.gitignore
  webapp/cypress/e2e/authenticatedSampleTests.cy.js
  webapp/cypress/e2e/batchSampleFeature.cy.js
  webapp/cypress/e2e/collectionPage.cy.js
  webapp/cypress/e2e/editPage.cy.js
  webapp/cypress/e2e/equipment.cy.js
  webapp/cypress/e2e/loginRedirect.cy.js
  webapp/cypress/e2e/navbarResponsive.cy.js
  webapp/cypress/e2e/sampleTablePage.cy.js
  webapp/cypress/e2e/shareItem.cy.js
  webapp/cypress/e2e/startingMaterial.cy.js
  webapp/cypress/e2e/tagsManagement.cy.js
  webapp/cypress/support/commands.js
Due: eslint

Replace passwordless test login route with magic-link tokens minted by invoke tasks
  pydatalab/docs/INSTALL.md
  pydatalab/tasks.py
Due: none

Gate login via test email token behind 'TESTING' config
  pydatalab/docs/INSTALL.md
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/tasks.py
Due: none

Add test for registration magic link allowing attachment
  pydatalab/tests/server/conftest.py
  pydatalab/tests/server/test_auth.py
Due: none

Prevent registration magic links from triggering attachment
  pydatalab/src/pydatalab/routes/v0_1/auth.py
Due: none

Prevent "registration" magic links from attaching new email to existing user (#2143)
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/tests/server/conftest.py
  pydatalab/tests/server/test_auth.py
Due: none

Backport of "Prevent "registration" magic links from attaching new email to existing user"
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/tests/server/conftest.py
  pydatalab/tests/server/test_auth.py
Due: none

Add CHANGELOG for v0.7.10
  CHANGELOG.md
Due: none

Linting
  pydatalab/src/pydatalab/routes/v0_1/auth.py
Due: none

Backport of "Prevent "registration" magic links from attaching new email to existing user" (#2144)
  CHANGELOG.md
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/tests/server/conftest.py
  pydatalab/tests/server/test_auth.py
Due: none

Add ability to create test users with magic link logins (#2062)
  pydatalab/docs/INSTALL.md
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/tasks.py
Due: none

Replace TESTING mode in e2e tests with new email auth testing setting
  .github/workflows/ci.yml
  pydatalab/src/pydatalab/config.py
  pydatalab/src/pydatalab/feature_flags.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  webapp/cypress/support/commands.js
Due: eslint

Change TESTING option to not effect auth at all
  .github/workflows/ci.yml
  AGENTS.md
  pydatalab/docs/INSTALL.md
  pydatalab/src/pydatalab/config.py
  pydatalab/src/pydatalab/feature_flags.py
  pydatalab/src/pydatalab/permissions.py
  pydatalab/src/pydatalab/routes/v0_1/admin.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/src/pydatalab/routes/v0_1/collections.py
  pydatalab/src/pydatalab/routes/v0_1/export.py
  pydatalab/src/pydatalab/routes/v0_1/files.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/routes/v0_1/remotes.py
  pydatalab/src/pydatalab/routes/v0_1/users.py
  pydatalab/tasks.py
Due: none

Fix tag tests without needing TESTING
  webapp/cypress/e2e/tagsManagement.cy.js
Due: eslint

Adjust INSTALL docs
  pydatalab/docs/INSTALL.md
Due: none

Update `TESTING` mode to not affect auth and add new email auth testing setting (#2121)
  .github/workflows/ci.yml
  AGENTS.md
  pydatalab/docs/INSTALL.md
  pydatalab/src/pydatalab/config.py
  pydatalab/src/pydatalab/feature_flags.py
  pydatalab/src/pydatalab/permissions.py
  pydatalab/src/pydatalab/routes/v0_1/admin.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/src/pydatalab/routes/v0_1/collections.py
  pydatalab/src/pydatalab/routes/v0_1/export.py
  pydatalab/src/pydatalab/routes/v0_1/files.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/routes/v0_1/remotes.py
  pydatalab/src/pydatalab/routes/v0_1/users.py
  pydatalab/src/pydatalab/tags.py
  pydatalab/tasks.py
  webapp/cypress/e2e/equipment.cy.js
  webapp/cypress/e2e/tagsManagement.cy.js
  webapp/cypress/support/commands.js
Due: eslint

remove legacy schema fallback
  webapp/src/components/custom/CustomFieldsPanel.vue
Due: eslint

regenerate schemas bis
  pydatalab/schemas/datalab_field_extra.json
Due: none

Improve Unit handling
  pydatalab/schemas/datalab_field_extra.json
  pydatalab/src/pydatalab/models/schema_hints.py
  pydatalab/src/pydatalab/models/units.py
  pydatalab/tests/test_models.py
Due: generate-schemas

Confirm unit changes
  webapp/cypress/component/CustomItemUITest.cy.jsx
  webapp/src/components/custom/CustomFieldsPanel.vue
Due: eslint

format custom type labels
  webapp/src/utils/tableColumns.js
Due: eslint

Changes after review :
  pydatalab/docs/plugins.md
  pydatalab/schemas/datalab_field_extra.json
  pydatalab/schemas/datalab_model_extra.json
  pydatalab/src/pydatalab/models/schema_hints.py
  pydatalab/src/pydatalab/models/units.py
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_custom_item_types.py
  pydatalab/tests/test_models.py
Due: generate-schemas

adapt the doc
  pydatalab/docs/plugins.md
Due: none

document custom item UI
  pydatalab/docs/INSTALL.md
  pydatalab/docs/plugins.md
Due: none

Add support for recently merged tags and locations
  pydatalab/docs/plugins.md
  webapp/src/components/ItemInformation.vue
  webapp/src/components/SampleInformation.vue
Due: eslint

custom-items UI : canonicalize quantities. tore numeric values in plugin-defined canonical units while preserving the user's display-unit preference separately.
  pydatalab/docs/plugins.md
  pydatalab/schemas/datalab_field_extra.json
  pydatalab/schemas/datalab_model_extra.json
  pydatalab/src/pydatalab/models/schema_hints.py
  pydatalab/tasks.py
  pydatalab/tests/test_models.py
  webapp/src/components/custom/CustomFieldsPanel.vue
Due: generate-schemas, eslint

cleaning + regenerate schemas
  pydatalab/schemas/datalab_field_extra.json
  pydatalab/schemas/datalab_model_extra.json
  pydatalab/src/pydatalab/models/schema_hints.py
  pydatalab/tasks.py
  pydatalab/tests/test_models.py
  webapp/src/components/custom/CustomFieldsPanel.vue
Due: generate-schemas, eslint

custom-items: render plugin item types
  .gitignore
  pydatalab/schemas/datalab_field_extra.json
  pydatalab/schemas/datalab_model_extra.json
  pydatalab/src/pydatalab/models/__init__.py
  pydatalab/src/pydatalab/models/schema_hints.py
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_custom_item_types.py
  pydatalab/tests/test_models.py
  webapp/src/components/CompactConstituentTable.vue
  webapp/src/components/CreateItemModal.vue
  webapp/src/components/FormattedItemStatus.vue
  webapp/src/components/ItemSelect.vue
  webapp/src/components/SampleInformation.vue
  webapp/src/components/custom/CustomFieldsPanel.vue
  webapp/src/plugins/index.js
  webapp/src/resources.js
  webapp/src/server_fetch_utils.js
  webapp/src/views/EditPage.vue
Due: generate-schemas, eslint

collect panels during builds
  .docker/app/Dockerfile
  .docker/app_dev_entrypoint.sh
  .dockerignore
  docker-compose.yml
  pydatalab/tasks.py
  pydatalab/tests/test_tasks.py
Due: none

changing the unit should not update the value
  pydatalab/docs/plugins.md
  webapp/src/components/custom/CustomFieldsPanel.vue
Due: eslint

Support Item-derived types
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/tests/server/test_custom_item_types.py
  webapp/cypress/component/CustomItemUITest.cy.jsx
  webapp/src/components/CreateItemModal.vue
  webapp/src/components/ItemInformation.vue
  webapp/src/components/custom/CustomFieldsPanel.vue
  webapp/src/resources.js
Due: eslint
