Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

generate-schemas:
  name: Regenerate item model JSONSchemas
  description: Check if the current code changes have enacted changes to the resulting JSONSchemas
  entry: invoke -r pydatalab dev.generate-schemas
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
  language: system
  pass_filenames: true

Manual fix pre-commit
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
Due: none

Add bulk change role
  webapp/src/components/BulkChangeRoleModal.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/primevue-theme-preset.js
Due: eslint

Add bulk change managers
  pydatalab/src/pydatalab/routes/v0_1/admin.py
  webapp/src/components/BulkChangeManagersModal.vue
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/components/UserManagersCell.vue
  webapp/src/components/UserRoleCell.vue
  webapp/src/primevue-theme-preset.js
Due: eslint

Add bulk add groups
  pydatalab/src/pydatalab/routes/v0_1/admin.py
  webapp/src/components/BulkAddToGroupModal.vue
  webapp/src/components/Creators.vue
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/components/UserTable.vue
  webapp/src/store/index.js
Due: eslint

Implement smarter regex search for users and collections
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/collections.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/routes/v0_1/users.py
  pydatalab/tests/server/test_search.py
  pydatalab/tests/server/test_users.py
Due: none

Apply suggestion from @ml-evs
  pydatalab/src/pydatalab/routes/v0_1/users.py
Due: none

Apply suggestion from @ml-evs
  pydatalab/src/pydatalab/mongo.py
Due: none

Implement smarter regex search for users and collections (#1474)
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/collections.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/routes/v0_1/users.py
  pydatalab/tests/server/test_search.py
  pydatalab/tests/server/test_users.py
Due: none

Add custom filter for UserTable datatable
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/UserTable.vue
Due: eslint

Disable item buttons when not logged in
  webapp/src/components/DynamicDataTableButtons.vue
Due: eslint

Bump plugins
  pydatalab/pyproject.toml
  pydatalab/uv.lock
Due: none

Redirect requests for files from the app to the API
  webapp/src/router/index.js
Due: eslint

Add a login service
  webapp/src/App.vue
  webapp/src/components/LoginModal.vue
  webapp/src/server_fetch_utils.js
  webapp/src/services/LoginService.js
Due: eslint

Try to prevent popup
  webapp/src/router/index.js
Due: eslint

Add custom filter for UserTable datatable
  pydatalab/tests/server/test_manager_assignment.py
  pydatalab/tests/server/test_permissions.py
  webapp/cypress/component/CollectionTableTest.cy.jsx
  webapp/cypress/component/EquipmentTableTest.cy.jsx
  webapp/cypress/component/SampleTableTest.cy.jsx
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/UserTable.vue
Due: eslint

Prevent router errors
  webapp/src/App.vue
Due: eslint

Redirect requests for files from the app to the API (#1589)
  webapp/src/App.vue
  webapp/src/router/index.js
Due: eslint

add group-based access control for equipment and starting materials
  pydatalab/src/pydatalab/permissions.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  webapp/src/components/CreateEquipmentModal.vue
  webapp/src/components/EquipmentInformation.vue
  webapp/src/components/StartingMaterialInformation.vue
Due: eslint

Add block processing 'stages' and display it in the UI
  pydatalab/src/pydatalab/apps/__init__.py
  pydatalab/src/pydatalab/apps/_canary/__init__.py
  pydatalab/src/pydatalab/models/block_task.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  webapp/src/components/datablocks/DataBlockBase.vue
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
Due: generate-schemas, eslint

Unify BlockTask and ExportTask into single Task model
  pydatalab/src/pydatalab/models/block_task.py
  pydatalab/src/pydatalab/models/tasks.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/export.py
  pydatalab/tests/server/test_export.py
  webapp/src/store/index.js
Due: generate-schemas, eslint

Add asynchronous data block processing with APScheduler
  pydatalab/src/pydatalab/models/block_task.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  webapp/src/components/datablocks/NMRInsituBlock.vue
  webapp/src/components/datablocks/UVVisInsituBlock.vue
  webapp/src/components/datablocks/XRDInsituBlock.vue
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
Due: generate-schemas, eslint

Refactor Task model to use spec-based architecture for type-specific fields
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/models/tasks.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/export.py
  pydatalab/tests/server/test_export.py
Due: generate-schemas

Fix async block processing: authentication context and database persistence
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
Due: none

Migrate TokenTable to PrimeVue with filters and bulk invalidate operations
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/components/TokenActionsCell.vue
  webapp/src/components/TokenCreatedByCell.vue
  webapp/src/components/TokenStatusCell.vue
  webapp/src/components/TokenTable.vue
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
Due: eslint

Migrate GroupTable to PrimeVue with filters and bulk delete operations
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/components/GroupActionsCell.vue
  webapp/src/components/GroupIdCell.vue
  webapp/src/components/GroupMembersCell.vue
  webapp/src/components/GroupTable.vue
  webapp/src/store/index.js
Due: eslint

manual fix pre-commit
  webapp/src/server_fetch_utils.js
Due: eslint

Add a column for plotting echem time-series data in hours
  pydatalab/src/pydatalab/apps/echem/blocks.py
  pydatalab/src/pydatalab/bokeh_plots.py
Due: none

Omit `dateCreated` field in ELN export unless present
  pydatalab/src/pydatalab/export.py
Due: none

Add missing `File` entries to ELN export, including datalab metadata
  pydatalab/src/pydatalab/export.py
Due: none

Fix dateCreated
  pydatalab/src/pydatalab/export.py
Due: none

Placeholder for ELN file improvements
  pydatalab/src/pydatalab/export.py
  pydatalab/tests/server/test_export_utils.py
Due: none

manual fix pre-commit
  pydatalab/src/pydatalab/routes/v0_1/collections.py
Due: none

Add a column for plotting echem time-series data in hours (#1596)
  pydatalab/src/pydatalab/apps/echem/blocks.py
  pydatalab/src/pydatalab/bokeh_plots.py
Due: none

More placeholders
  pydatalab/src/pydatalab/export.py
Due: none

More placeholders
  pydatalab/src/pydatalab/export.py
  pydatalab/tests/server/test_export_utils.py
Due: none

Path conditions:
  generate-schemas: any of: ^pydatalab/src/pydatalab/models/.*.$
  eslint: any of: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
