Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

.pre-commit-config.yaml:

default_language_version:
  python: python3.10
  node: "20.17.0"

ci:
  skip:
    # skip generate-schemas as pre-commit-ci will not have correct environment
    - generate-schemas
    # skip eslint as it is too large to run in pre-commit-ci for free
    - eslint
  autoupdate_schedule: "monthly"
  autofix_prs: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (pydatalab/example_data/)|(.*.snap)
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: ^(pydatalab/example_data/|pydatalab/schemas)
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-symlinks
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py310-plus]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        additional_dependencies:
          ["types-python-dateutil", "types-requests", "types-paramiko", "pydantic~=1.10"]
        args: ["--config-file", "pydatalab/pyproject.toml"]

  - repo: local
    hooks:
      - id: generate-schemas
        name: Regenerate item model JSONSchemas
        files: "^pydatalab/src/pydatalab/models/.*.$"
        description: Check if the current code changes have enacted changes to the resulting JSONSchemas
        entry: invoke -r pydatalab dev.generate-schemas
        pass_filenames: false
        language: system
      - id: eslint
        name: eslint
        entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
        language: system
        types: [file]
        files: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
        pass_filenames: true

Converted jsonify errors to werkzeug exceptions. A few error code changes when clearly not correct.
  pydatalab/src/pydatalab/routes/v0_1/admin.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/collections.py
  pydatalab/src/pydatalab/routes/v0_1/export.py
  pydatalab/src/pydatalab/routes/v0_1/files.py
  pydatalab/src/pydatalab/routes/v0_1/graphs.py
  pydatalab/src/pydatalab/routes/v0_1/groups.py
  pydatalab/src/pydatalab/routes/v0_1/healthcheck.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/routes/v0_1/users.py
  pydatalab/tests/server/test_export.py
Due: none

More clean up of errors in routes.
  pydatalab/src/pydatalab/routes/v0_1/admin.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/src/pydatalab/routes/v0_1/collections.py
  pydatalab/src/pydatalab/routes/v0_1/files.py
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/src/pydatalab/routes/v0_1/remotes.py
  pydatalab/tests/server/test_samples.py
Due: none

Slight restructuring - move healthchecks and cmds into Dockerfiles directly
  .docker/app/Dockerfile
  .docker/server/Dockerfile
  docker-compose.yml
Due: none

Tweak documentation for new dev containers
  pydatalab/docs/INSTALL.md
  pydatalab/mkdocs.yml
Due: none

Fix env var interpolation in dev container
  .docker/server/Dockerfile
Due: none

Add docker development environment and CI coverage (#1928)
  .docker/app/Dockerfile
  .docker/server/Dockerfile
  .github/workflows/ci.yml
  docker-compose.yml
  pydatalab/docs/INSTALL.md
  pydatalab/mkdocs.yml
Due: none

Better teardown and cleanup of intermediate graphs
  webapp/src/components/ItemGraph.vue
  webapp/src/components/ItemRelationshipVisualization.vue
Due: eslint

Clean up old code
  webapp/src/components/RelationshipVisualization.vue
Due: eslint

Potential optimisation to avoid computing layouts of any stale graph data
  webapp/src/server_fetch_utils.js
Due: eslint

Limit iterations of elk layout generation
  webapp/src/components/ItemGraph.vue
Due: eslint

Do not include blocks in layout computation
  webapp/src/components/ItemGraph.vue
  webapp/src/components/ItemRelationshipVisualization.vue
Due: eslint

Speculative attempt to fix and improve graph component tests
  webapp/cypress/component/ItemGraphTest.cy.jsx
  webapp/src/components/ItemGraph.vue
Due: eslint

Make note about plugins more obvious in AGENTS.md
  AGENTS.md
Due: none

Fix versioning from magic git tag in app docker
  .docker/app/Dockerfile
Due: none

Fix versioning from magic git tag in app docker (#1949)
  .docker/app/Dockerfile
Due: none

Fix cypress test
  webapp/src/components/EquipmentInformation.vue
  webapp/src/components/LocationInput.vue
  webapp/src/components/StartingMaterialInformation.vue
Due: eslint

Fix cypress test
  webapp/cypress/e2e/equipment.cy.js
  webapp/src/components/EquipmentInformation.vue
Due: eslint

add LocationInput component for segmented location editing
  webapp/src/components/EquipmentInformation.vue
  webapp/src/components/LocationInput.vue
  webapp/src/components/StartingMaterialInformation.vue
  webapp/src/components/VersionHistoryModal.vue
Due: eslint

Give location full-width in version history
  webapp/src/components/VersionHistoryModal.vue
Due: eslint

Promote location to be a item-level field
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/models/equipment.py
  pydatalab/src/pydatalab/models/items.py
  pydatalab/src/pydatalab/models/starting_materials.py
  pydatalab/src/pydatalab/models/traits.py
Due: generate-schemas

add LocationInput component for hierarchical location editing (#1838)
  webapp/cypress/e2e/equipment.cy.js
  webapp/src/components/EquipmentInformation.vue
  webapp/src/components/LocationInput.vue
  webapp/src/components/StartingMaterialInformation.vue
  webapp/src/components/VersionHistoryModal.vue
Due: eslint

Remove all item graph caching from the store
  webapp/src/components/CollectionRelationshipVisualization.vue
  webapp/src/components/ItemRelationshipVisualization.vue
  webapp/src/components/SampleGraphExportModal.vue
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
  webapp/src/views/ItemGraphPage.vue
Due: eslint

Remove all item graph caching from the store (#1953)
  webapp/src/components/CollectionRelationshipVisualization.vue
  webapp/src/components/ItemRelationshipVisualization.vue
  webapp/src/components/SampleGraphExportModal.vue
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
  webapp/src/views/ItemGraphPage.vue
Due: eslint

Bump navani to 0.1.21
  pydatalab/pyproject.toml
  pydatalab/uv.lock
Due: none

Update docstring to include maccor
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

Bump navani to 0.1.21 (#1952)
  pydatalab/pyproject.toml
  pydatalab/src/pydatalab/apps/echem/blocks.py
  pydatalab/uv.lock
Due: none

Change permissions for _save_block_to_db to allow non creators to "read" blocks (needed to render the block and data in datalab)
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
Due: none

Update block permissions test
  pydatalab/tests/server/test_blocks.py
Due: none

Allow non-creators but those with permission to "read" blocks (#1951)
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/tests/server/test_blocks.py
Due: none

Fixed position of the "actions" menu when items are selected. Added number of items when no items are selected.
  webapp/cypress/component/SampleTableTest.cy.jsx
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/main.js
Due: eslint

Fixed naming for different table views (collections, equipment, etc ...).
  webapp/cypress/component/CollectionTableTest.cy.jsx
  webapp/cypress/component/EquipmentTableTest.cy.jsx
  webapp/cypress/component/StartingMaterialTableTest.cy.jsx
  webapp/src/components/DynamicDataTableButtons.vue
Due: eslint

Fixing component tests.
  webapp/cypress/component/SampleTableTest.cy.jsx
  webapp/cypress/component/StartingMaterialTableTest.cy.jsx
Due: eslint

Update test cases for multifile XRD
  webapp/cypress/e2e/editPage.cy.js
Due: eslint
