Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

generate-schemas:
  name: Regenerate item model JSONSchemas
  description: Check if the current code changes have enacted changes to the resulting JSONSchemas
  entry: invoke -r pydatalab dev.generate-schemas
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
  language: system
  pass_filenames: true

Fix typos in paper (closes #1878, closes #1879)
  paper/paper.md
Due: none

Fix a couple of formatting typos
  paper/paper.md
Due: none

Add JOSS submission
  paper/paper.bib
  paper/paper.md
Due: none

Make research impact a top-level header
  paper/paper.md
Due: none

Fix bib
  paper/paper.bib
Due: none

Add reference
  paper/paper.bib
Due: none

Fixing save issue.
  webapp/cypress/component/AccountSettingsTest.cy.jsx
  webapp/cypress/component/SettingsTest.cy.jsx
  webapp/cypress/component/SidebarNavigationTest.cy.jsx
  webapp/src/components/AccountSettings.vue
  webapp/src/components/SidebarNavigation.vue
  webapp/src/views/Admin.vue
  webapp/src/views/Settings.vue
Due: eslint

Add datalab_behave_as hint for custom item types
  pydatalab/docs/plugins.md
  pydatalab/schemas/datalab_model_extra.json
  pydatalab/src/pydatalab/models/__init__.py
  pydatalab/src/pydatalab/models/schema_hints.py
  pydatalab/src/pydatalab/permissions.py
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: generate-schemas

Respect datalab_behave_as in the web UI
  webapp/src/components/CreateEquipmentModal.vue
  webapp/src/components/CreateItemModal.vue
  webapp/src/components/StartingMaterialInformation.vue
  webapp/src/resources.js
  webapp/src/server_fetch_utils.js
Due: eslint

Add tests for datalab_behave_as
  pydatalab/tests/server/test_custom_item_behave_as.py
  webapp/cypress/component/CustomItemBehaveAsTest.cy.jsx
Due: eslint

Jump the gun on a citation.cff
  CITATION.cff
Due: none

Updates to the settings: saveing, verification emails, responsiveness, ...
  webapp/cypress/component/AccountSettingsTest.cy.jsx
  webapp/cypress/component/AdminTest.cy.jsx
  webapp/cypress/component/SettingsTest.cy.jsx
  webapp/cypress/component/SidebarNavigationTest.cy.jsx
  webapp/cypress/component/ToggleableTagsFormGroupTest.cy.jsx
  webapp/cypress/e2e/tagsManagement.cy.js
  webapp/src/components/AccountSettings.vue
  webapp/src/components/AdminDisplay.vue
  webapp/src/components/SidebarNavigation.vue
  webapp/src/components/ToggleableTagsFormGroup.vue
  webapp/src/router/index.js
  webapp/src/views/Admin.vue
  webapp/src/views/Settings.vue
Due: eslint

Standardized truthy args in routes. Added is_truthy_query_value helper function. Using helper in routes. Tests.
  pydatalab/src/pydatalab/permissions.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/src/pydatalab/routes/v0_1/graphs.py
  pydatalab/src/pydatalab/routes/v0_1/groups.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/utils/__init__.py
  pydatalab/tests/server/test_auth.py
  pydatalab/tests/server/test_item_graph.py
  pydatalab/tests/server/test_permissions.py
  pydatalab/tests/server/test_samples.py
  pydatalab/tests/test_utils.py
Due: none

Try out logo in README
  README.md
Due: none

Add logo and removes some old badges
  README.md
Due: none

Also applied the truthy helper function to invalidate_cache. Simplified invalidate_cache (no need for error handling).
  pydatalab/src/pydatalab/routes/v0_1/remotes.py
  pydatalab/tests/server/test_remotes.py
Due: none

Accommodate nested computed values in metadata viewer
  webapp/src/components/MetadataViewer.vue
Due: eslint

Add simple metadata viewer component tests
  webapp/cypress/component/MetadataViewerTest.cy.jsx
Due: eslint

Add metadata viewer to cycle block
  webapp/src/components/datablocks/CycleBlock.vue
Due: eslint

Path conditions:
  generate-schemas: any of: ^pydatalab/src/pydatalab/models/.*.$
  eslint: any of: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
