Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

.pre-commit-config.yaml:

default_language_version:
  python: python3.10
  node: "20.17.0"

ci:
  skip:
    # skip generate-schemas as pre-commit-ci will not have correct environment
    - generate-schemas
    # skip eslint as it is too large to run in pre-commit-ci for free
    - eslint
  autoupdate_schedule: "monthly"
  autofix_prs: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (pydatalab/example_data/)|(.*.snap)
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: ^(pydatalab/example_data/|pydatalab/schemas)
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-symlinks
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py310-plus]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        additional_dependencies:
          ["types-python-dateutil", "types-requests", "types-paramiko", "pydantic~=1.10"]
        args: ["--config-file", "pydatalab/pyproject.toml"]

  - repo: local
    hooks:
      - id: generate-schemas
        name: Regenerate item model JSONSchemas
        files: "^pydatalab/src/pydatalab/models/.*.$"
        description: Check if the current code changes have enacted changes to the resulting JSONSchemas
        entry: invoke -r pydatalab dev.generate-schemas
        pass_filenames: false
        language: system
      - id: eslint
        name: eslint
        entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
        language: system
        types: [file]
        files: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
        pass_filenames: true

Move collect-plugin-panels from console script to dev invoke task
  pydatalab/docs/plugins.md
  pydatalab/pyproject.toml
  pydatalab/src/pydatalab/cli.py
  pydatalab/tasks.py
  webapp/src/plugins/index.js
Due: eslint

Add schema for json_schema_extra hints and rework example item types
  pydatalab/docs/plugins.md
  pydatalab/plugins/example_item_plugin/example_item_plugin/models.py
  pydatalab/plugins/example_item_plugin/example_item_plugin/webapp/HeatTreatmentPanel.vue
  pydatalab/plugins/example_item_plugin/example_item_plugin/webapp/MixedSolutionPanel.vue
  pydatalab/plugins/example_item_plugin/pyproject.toml
  pydatalab/schemas/datalab_field_extra.json
  pydatalab/schemas/datalab_model_extra.json
  pydatalab/src/pydatalab/models/__init__.py
  pydatalab/src/pydatalab/models/schema_hints.py
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/tasks.py
  pydatalab/tests/test_models.py
  webapp/src/components/custom/CustomFieldsPanel.vue
Due: generate-schemas, eslint

Fix Cypress component test crash: guard against missing schemas state in CreateItemModal
  webapp/src/components/CreateItemModal.vue
Due: eslint

Add stricter CORS rules to restrict cookie sessions only to APP_URL domain
  docker-compose.yml
  pydatalab/src/pydatalab/main.py
  webapp/.env.test_e2e
Due: none

Fix typo in config
  pydatalab/src/pydatalab/config.py
Due: none

Set APP_URL in CI
  docker-compose.yml
Due: none

Add stricter CORS rules when `APP_URL` is configured (#2017)
  docker-compose.yml
  pydatalab/src/pydatalab/config.py
  pydatalab/src/pydatalab/main.py
  webapp/.env.test_e2e
Due: none

Mint a new item version when permissions update, with new action
  pydatalab/src/pydatalab/models/versions.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: generate-schemas

Fix: write a proper timestamp `last_modified` timestamp when restoring a version rather than a isoformat string
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Expand list of computed fields that do not mint new versions
  pydatalab/src/pydatalab/versioning.py
Due: none

Update version history to show diff and user agent
  pydatalab/src/pydatalab/models/versions.py
  pydatalab/src/pydatalab/versioning.py
  webapp/src/components/VersionHistoryModal.vue
  webapp/src/server_fetch_utils.js
Due: generate-schemas, eslint

Add a series of tests to show what triggers a new version to be minted
  pydatalab/tests/server/test_item_versions.py
Due: none

Bump nmrglue to 0.12
  pydatalab/pyproject.toml
  pydatalab/uv.lock
Due: none

Temporarily remove `exclude-newer` restrictions on nmrglue to install more recent versions
  pydatalab/pyproject.toml
  pydatalab/uv.lock
Due: none

Bump nmrglue to 0.12 (#2021)
  pydatalab/pyproject.toml
  pydatalab/uv.lock
Due: none

Feat: Added pipeline routing for files, Fixed all tests related to this error. Still one failing
  pydatalab/src/pydatalab/apps/xrd/blocks.py
  pydatalab/src/pydatalab/apps/xrd/utils.py
  pydatalab/src/pydatalab/pipeline_block/block_manager.py
  pydatalab/src/pydatalab/pipeline_block/block_stages/abstract_stage.py
  pydatalab/src/pydatalab/pipeline_block/block_stages/parser_stage.py
  pydatalab/src/pydatalab/pipeline_block/block_stages/processor_stage.py
  pydatalab/src/pydatalab/pipeline_block/common.py
  pydatalab/src/pydatalab/pipeline_block/pipeline.py
  pydatalab/src/pydatalab/pipeline_block/pipeline/__init__.py
  pydatalab/src/pydatalab/pipeline_block/pipeline/pipeline.py
  pydatalab/src/pydatalab/pipeline_block/pipeline/pipeline_node.py
  pydatalab/src/pydatalab/pipeline_block/utils.py
  pydatalab/tests/apps/test_xrd_block.py
  pydatalab/tests/pipeline_block/test_base_pipeline_block.py
  pydatalab/tests/pipeline_block/test_block_stages.py
  pydatalab/tests/server/test_blocks.py
Due: none

Chore: only merge sets in dictionary and not lists (prevents case where the multiple filenames end up in a list).
  pydatalab/src/pydatalab/pipeline_block/block_stages/parser_stage.py
  pydatalab/src/pydatalab/pipeline_block/pipeline/pipeline.py
  pydatalab/src/pydatalab/pipeline_block/pipeline/pipeline_node.py
  pydatalab/src/pydatalab/pipeline_block/utils.py
  pydatalab/tests/pipeline_block/test_base_pipeline_block.py
  pydatalab/tests/pipeline_block/test_block_stages.py
Due: none

Fix: fixed the tests so that the tabular pipeline block and xrd block example work.
  pydatalab/src/pydatalab/apps/xrd/blocks.py
  pydatalab/src/pydatalab/pipeline_block/block_manager.py
  pydatalab/src/pydatalab/pipeline_block/block_stages/abstract_stage.py
  pydatalab/src/pydatalab/pipeline_block/block_stages/parser_stage.py
  pydatalab/src/pydatalab/pipeline_block/pipeline/pipeline.py
  pydatalab/src/pydatalab/pipeline_block/utils.py
  pydatalab/tests/pipeline_block/test_base_pipeline_block.py
  pydatalab/tests/pipeline_block/test_block_stages.py
Due: none

Chore: Added initial documentation
  pydatalab/docs/blocks/pipeline_datablock.md
Due: none

Chore: Edited initial documentation
  pydatalab/docs/blocks/pipeline_datablock.md
Due: none

Use MultiFileSelectDropdown on XRD and NMR Block
  webapp/cypress/e2e/batchSampleFeature.cy.js
  webapp/cypress/e2e/editPage.cy.js
  webapp/cypress/e2e/equipment.cy.js
  webapp/cypress/e2e/sampleTablePage.cy.js
  webapp/src/components/MetadataViewer.vue
  webapp/src/components/datablocks/BokehBlock.vue
  webapp/src/components/datablocks/CycleBlock.vue
  webapp/src/components/datablocks/DataBlockBase.vue
  webapp/src/components/datablocks/NMRInsituBlock.vue
  webapp/src/components/datablocks/UVVisInsituBlock.vue
Due: eslint

Add note about multi_nuclei example dataset
  pydatalab/example_data/NMR/README
Due: none

Create abstract metadata slot in base data block
  webapp/src/components/datablocks/DataBlockBase.vue
  webapp/src/components/datablocks/NMRBlock.vue
Due: eslint

Use styled tooltips for block info popovers in e.g. cycle block
  webapp/src/components/StyledTooltip.vue
  webapp/src/components/TooltipIcon.vue
  webapp/src/components/datablocks/CycleBlock.vue
Due: eslint

Improve generic metadata viewer
  webapp/src/components/MetadataViewer.vue
Due: eslint

Improve smoothness of metadata viewer popout
  webapp/src/components/datablocks/DataBlockBase.vue
Due: eslint

Improve style of selection options in block controls
  pydatalab/src/pydatalab/apps/nmr/blocks.py
  webapp/cypress/e2e/editPage.cy.js
  webapp/src/components/FileSelectDropdown.vue
Due: eslint

Use the new generic metadata viewer in NMR block but add nicer rendered summary
  webapp/src/components/datablocks/NMRBlock.vue
Due: eslint

Chore: Added internal doc link
  pydatalab/docs/blocks/pipeline_datablock.md
Due: none

Feat: new version of xrd block which successfully caches stuff (the xrd block probably needs changing anyway)
  pydatalab/src/pydatalab/apps/xrd/blocks.py
  pydatalab/src/pydatalab/pipeline_block/block_manager.py
  pydatalab/tests/apps/test_xrd_block.py
Due: none
