Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

generate-schemas:
  name: Regenerate item model JSONSchemas
  description: Check if the current code changes have enacted changes to the resulting JSONSchemas
  entry: invoke -r pydatalab dev.generate-schemas
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
  language: system
  pass_filenames: true

Add item reference lookup when patching rather than just retrieval (#1755)
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_samples.py
Due: none

Attempt, once again, to optimise the CI cache
  .github/workflows/ci.yml
Due: none

Try spoofing versions to avoid git cache invalidation
  .docker/app/Dockerfile
  .docker/server/Dockerfile
  .github/workflows/ci.yml
Due: none

Separate component tests into a separate job
  .github/workflows/ci.yml
  webapp/cypress/support/component.js
Due: eslint

Transplant test for refcode-only relationships from #1430
  pydatalab/tests/test_models.py
Due: none

Also handle case of duplicated relationships from duplicated constituents; plus more tests
  pydatalab/src/pydatalab/models/cells.py
  pydatalab/src/pydatalab/models/traits.py
  pydatalab/tests/test_models.py
Due: generate-schemas

Fix duplicated parthood relationships from refcode/item_id dedup mismatch
  pydatalab/src/pydatalab/models/cells.py
  pydatalab/src/pydatalab/models/traits.py
  pydatalab/tests/test_models.py
Due: generate-schemas

Fix docstring
  pydatalab/src/pydatalab/models/cells.py
Due: generate-schemas

Fixing duplication of parthood relationships for cells and samples (#1727)
  pydatalab/src/pydatalab/models/cells.py
  pydatalab/src/pydatalab/models/traits.py
  pydatalab/tests/test_models.py
Due: generate-schemas

Add `invoke dev.serve` wrapper to flask run
  pydatalab/docs/INSTALL.md
  pydatalab/src/pydatalab/feature_flags.py
  pydatalab/tasks.py
Due: none

Add `invoke dev.serve` wrapper to flask run (#1739)
  pydatalab/docs/INSTALL.md
  pydatalab/src/pydatalab/feature_flags.py
  pydatalab/tasks.py
Due: none

Add Google and MSFT as OAuth providers
  pydatalab/docs/config.md
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/config.py
  pydatalab/src/pydatalab/feature_flags.py
  pydatalab/src/pydatalab/models/people.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/tests/server/test_auth.py
  webapp/src/components/LoginDropdown.vue
  webapp/src/main.js
Due: generate-schemas, eslint

Add Google and Microsoft OAuth authentication (#1706)
  pydatalab/docs/config.md
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/config.py
  pydatalab/src/pydatalab/feature_flags.py
  pydatalab/src/pydatalab/models/people.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/tests/server/test_auth.py
  webapp/src/components/LoginDropdown.vue
  webapp/src/main.js
Due: generate-schemas, eslint

Fix copy functionality for equipment and starting materials
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Fix for dev server unable to load .env
  pydatalab/tasks.py
Due: none

Fix for dev server unable to load .env (#1770)
  pydatalab/tasks.py
Due: none

Update changelog and tweak docs before release
  CHANGELOG.md
  pydatalab/docs/plugins.md
  pydatalab/docs/roadmap.md
Due: none

Prepare 0.7.0 release (#1771)
  CHANGELOG.md
  pydatalab/docs/plugins.md
  pydatalab/docs/roadmap.md
Due: none

Minor bug fix
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

Ensure urls are updated in mongodb - no false generation of the cache if we already generated it through this route
  pydatalab/src/pydatalab/routes/v0_1/files.py
Due: none

Added tests for the route and making sure bdf_url and parquet_url are populated.
  pydatalab/tests/server/test_echem_block.py
Due: none

Added __init__.py to tests/server and tests/app to distinguish between identically names files from each directoru
  pydatalab/tests/apps/__init__.py
  pydatalab/tests/server/__init__.py
Due: none

Add BDF cache endpoint validation: check source file is attached to item and filename has an expected cache extension
  pydatalab/src/pydatalab/routes/v0_1/files.py
Due: none

Add tests for BDF cache endpoint rejecting unexpected or unattached file URLs
  pydatalab/tests/server/test_echem_block.py
Due: none

Strip remaining comments from JOSS guidelines and update LinkML reference
  paper/paper.bib
  paper/paper.md
Due: none

Placeholder
  pydatalab/src/pydatalab/apps/xrd/blocks.py
  pydatalab/src/pydatalab/blocks/base.py
  pydatalab/src/pydatalab/models/traits.py
Due: generate-schemas

Add directly copyable text link under sharing QR codes
  webapp/src/components/QRCode.vue
Due: eslint

Add directly copyable text link under sharing QR codes (#1777)
  webapp/src/components/QRCode.vue
Due: eslint

Added check to ensure a new version is only created when the content actually changes
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/versioning.py
Due: none

_create_sample writes the version_counter version back to the item data after creation - no functional change, just protects against any future divergences in default values
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Updated tests to reflect new behaviour. Added tests to check that saving the same item data doesn't save a version or increment the version number
  pydatalab/tests/server/test_item_versions.py
Due: none

Ensure item.version stays in sync with the version counter across all save paths
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Log version snapshot failures on item creation instead of swallowing them
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Version should be exactly one after creation
  pydatalab/tests/server/test_item_versions.py
Due: none

Only write a new version when item data actually changes (#1775)
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/versioning.py
  pydatalab/tests/server/test_item_versions.py
Due: none

Add a modal for sharing items with creators and groups
  webapp/src/components/SharingModal.vue
  webapp/src/main.js
  webapp/src/views/EditPage.vue
Due: eslint

Reorder inventory and equipment pages to match samples
  webapp/src/components/EquipmentInformation.vue
  webapp/src/components/StartingMaterialInformation.vue
Due: eslint

Path conditions:
  generate-schemas: any of: ^pydatalab/src/pydatalab/models/.*.$
  eslint: any of: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
