Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

generate-schemas:
  name: Regenerate item model JSONSchemas
  description: Check if the current code changes have enacted changes to the resulting JSONSchemas
  entry: invoke -r pydatalab dev.generate-schemas
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
  language: system
  pass_filenames: true

Use sharing modal when user clicks on edit creators/groups
  webapp/cypress/e2e/shareItem.cy.js
  webapp/src/components/QRCode.vue
  webapp/src/components/SharingModal.vue
  webapp/src/components/ToggleableCreatorsFormGroup.vue
  webapp/src/components/ToggleableGroupsFormGroup.vue
  webapp/src/views/CollectionPage.vue
  webapp/src/views/EditPage.vue
Due: eslint

Add a modal for sharing items with creators and groups
  webapp/src/components/SharingModal.vue
  webapp/src/main.js
  webapp/src/views/EditPage.vue
Due: eslint

Reorder inventory and equipment pages to match samples
  webapp/src/components/EquipmentInformation.vue
  webapp/src/components/StartingMaterialInformation.vue
Due: eslint

Slightly better navbar support on mobile
  webapp/src/main.js
  webapp/src/views/EditPage.vue
Due: eslint

Make navbar responsive and refactor into separate components
  webapp/src/components/AddBlockDropdown.vue
  webapp/src/components/ExportDropdown.vue
  webapp/src/main.js
  webapp/src/views/CollectionPage.vue
  webapp/src/views/EditPage.vue
Due: eslint

Add tests for navbar responsiveness and collection page
  webapp/cypress/e2e/collectionPage.cy.js
  webapp/cypress/e2e/navbarResponsive.cy.js
  webapp/cypress/support/commands.js
Due: eslint

Add DOM IDs so tests continue to pass
  webapp/src/components/AddBlockDropdown.vue
  webapp/src/views/CollectionPage.vue
  webapp/src/views/EditPage.vue
Due: eslint

Messing around with sizing
  webapp/src/views/CollectionPage.vue
  webapp/src/views/EditPage.vue
Due: eslint

Better mobile support for navbar (#1778)
  webapp/cypress/e2e/collectionPage.cy.js
  webapp/cypress/e2e/navbarResponsive.cy.js
  webapp/cypress/support/commands.js
  webapp/src/components/AddBlockDropdown.vue
  webapp/src/components/ExportDropdown.vue
  webapp/src/main.js
  webapp/src/views/CollectionPage.vue
  webapp/src/views/EditPage.vue
Due: eslint

Use file hashes to only update files if necessary
  pydatalab/src/pydatalab/file_utils.py
  pydatalab/src/pydatalab/routes/v0_1/files.py
  pydatalab/tests/server/test_files.py
Due: none

Make use file hashes when user requests an existing file be updated (#1744)
  pydatalab/src/pydatalab/file_utils.py
  pydatalab/src/pydatalab/routes/v0_1/files.py
  pydatalab/tests/server/test_files.py
Due: none

Add long-winded integration test that echem cache gets invalidated
  pydatalab/tests/server/conftest.py
  pydatalab/tests/server/test_blocks.py
Due: none

Enable cache invalidation when file has been updated more recently than cache
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

Defer to always reloading multifile echem block
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

Conditionally invalidate multi-file echem cache based on modification times
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

Fix a couple of formatting typos
  paper/paper.md
Due: none

Fix user facing warning
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

Initial docker compose file
  docker-compose.prod.yml
Due: none

Apply suggestions from code review
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

Enable echem block cache invalidation based on file upload timestamps (#1780)
  pydatalab/src/pydatalab/apps/echem/blocks.py
  pydatalab/tests/server/conftest.py
  pydatalab/tests/server/test_blocks.py
Due: none

Add storage of user agent alongside item version
  pydatalab/src/pydatalab/models/versions.py
  pydatalab/src/pydatalab/versioning.py
Due: generate-schemas

Lookup and return the creator and user agent of an item version
  pydatalab/src/pydatalab/models/versions.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_item_versions.py
Due: generate-schemas

Add tests for user agents
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/versioning.py
  pydatalab/tests/server/test_item_versions.py
Due: none

Do not animate graph during layout construction
  webapp/src/components/ItemGraph.vue
Due: eslint

Add blocks as nodes to item graph
  pydatalab/src/pydatalab/routes/v0_1/graphs.py
  webapp/src/components/ItemGraph.vue
  webapp/src/components/ItemRelationshipVisualization.vue
  webapp/src/resources.js
Due: eslint

Disable showing blocks by default
  webapp/src/components/ItemRelationshipVisualization.vue
Due: eslint

Add test case for showing blocks in item graph
  pydatalab/tests/server/test_graph.py
Due: none

Default to not showing blocks in the item graph
  webapp/src/components/ItemGraph.vue
Due: eslint

Add blocks as nodes to item graph and optimise rendering (#1659)
  pydatalab/src/pydatalab/routes/v0_1/graphs.py
  pydatalab/tests/server/test_graph.py
  webapp/src/components/ItemGraph.vue
  webapp/src/components/ItemRelationshipVisualization.vue
  webapp/src/resources.js
Due: eslint

Handle block cleanup when gridfs file has been dereferenced
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
Due: none

Handle block cleanup when gridfs file has been dereferenced (#1798)
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
Due: none

Add an admin task for cleaning up old dereferenced files
  pydatalab/tasks.py
Due: none

Also include parent dir in check
  pydatalab/tasks.py
Due: none

Add an admin task for cleaning up old dereferenced files (#1797)
  pydatalab/tasks.py
Due: none

expose known user agents so the api (or other future tools) can see if they are known
  pydatalab/src/pydatalab/routes/v0_1/info.py
Due: none

graph blocks
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/blocks/base.py
  pydatalab/src/pydatalab/models/blocks.py
  pydatalab/tasks.py
  webapp/src/components/SampleInformation.vue
  webapp/src/components/SampleStagesTimeline.vue
Due: generate-schemas, eslint

Path conditions:
  generate-schemas: any of: ^pydatalab/src/pydatalab/models/.*.$
  eslint: any of: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
