Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

.pre-commit-config.yaml:

default_language_version:
  python: python3.10
  node: "20.17.0"

ci:
  skip:
    # skip generate-schemas as pre-commit-ci will not have correct environment
    - generate-schemas
    # skip eslint as it is too large to run in pre-commit-ci for free
    - eslint
  autoupdate_schedule: "monthly"
  autofix_prs: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (pydatalab/example_data/)|(.*.snap)
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: ^(pydatalab/example_data/|pydatalab/schemas)
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-symlinks
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py310-plus]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        additional_dependencies:
          ["types-python-dateutil", "types-requests", "types-paramiko", "pydantic~=1.10"]
        args: ["--config-file", "pydatalab/pyproject.toml"]

  - repo: local
    hooks:
      - id: generate-schemas
        name: Regenerate item model JSONSchemas
        files: "^pydatalab/src/pydatalab/models/.*.$"
        description: Check if the current code changes have enacted changes to the resulting JSONSchemas
        entry: invoke -r pydatalab dev.generate-schemas
        pass_filenames: false
        language: system
      - id: eslint
        name: eslint
        entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
        language: system
        types: [file]
        files: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
        pass_filenames: true

Add note about multi_nuclei example dataset
  pydatalab/example_data/NMR/README
Due: none

Use MultiFileSelectDropdown on XRD and NMR Block
  webapp/cypress/e2e/batchSampleFeature.cy.js
  webapp/cypress/e2e/editPage.cy.js
  webapp/cypress/e2e/equipment.cy.js
  webapp/cypress/e2e/sampleTablePage.cy.js
  webapp/src/components/MetadataViewer.vue
  webapp/src/components/datablocks/BokehBlock.vue
  webapp/src/components/datablocks/CycleBlock.vue
  webapp/src/components/datablocks/DataBlockBase.vue
  webapp/src/components/datablocks/NMRInsituBlock.vue
  webapp/src/components/datablocks/UVVisInsituBlock.vue
Due: eslint

Improve style of selection options in block controls
  pydatalab/src/pydatalab/apps/nmr/blocks.py
  webapp/cypress/e2e/editPage.cy.js
  webapp/src/components/FileSelectDropdown.vue
Due: eslint

Refresh docs style, layout and linkage from landing page
  CHANGELOG.md
  README.md
  pydatalab/docs/.pages
  pydatalab/docs/about.md
  pydatalab/docs/css/reference.css
  pydatalab/docs/griffe_extensions.py
  pydatalab/docs/hooks.py
  pydatalab/docs/index.md
  pydatalab/docs/schemas/cells.md
  pydatalab/docs/schemas/collections.md
  pydatalab/docs/schemas/equipment.md
  pydatalab/docs/schemas/items.md
  pydatalab/docs/schemas/samples.md
  pydatalab/docs/schemas/starting_materials.md
  pydatalab/docs/schemas/traits.md
  pydatalab/docs/templates/python/material/pydantic_model.html.jinja
  pydatalab/mkdocs.yml
  pydatalab/pyproject.toml
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/models/cells.py
  pydatalab/src/pydatalab/models/collections.py
  pydatalab/src/pydatalab/models/equipment.py
  pydatalab/src/pydatalab/models/items.py
  pydatalab/src/pydatalab/models/samples.py
  pydatalab/src/pydatalab/models/starting_materials.py
  pydatalab/src/pydatalab/models/traits.py
  pydatalab/uv.lock
Due: generate-schemas

Add CONTRIBUTING docs
  CONTRIBUTING.md
  README.md
  pydatalab/docs/.pages
  pydatalab/docs/CODE_OF_CONDUCT.md
  pydatalab/docs/CONTRIBUTING.md
Due: none

Update CHANGELOG for v0.7.5
  CHANGELOG.md
Due: none

Update pydantic version across various files
  .github/dependabot.yml
  .pre-commit-config.yaml
  pydatalab/pyproject.toml
  pydatalab/uv.lock
Due: none

Update traits module to pydantic v2
  pydatalab/src/pydatalab/models/traits.py
Due: generate-schemas

Refactor server config for pydantic v2
  pydatalab/src/pydatalab/config.py
Due: none

Refactor model imports to avoid circular deps
  pydatalab/src/pydatalab/models/__init__.py
Due: generate-schemas

Rework all models and tasks into pydantic v2 amenable form
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/plugin_config.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/models/blocks.py
  pydatalab/src/pydatalab/models/cells.py
  pydatalab/src/pydatalab/models/collections.py
  pydatalab/src/pydatalab/models/entries.py
  pydatalab/src/pydatalab/models/equipment.py
  pydatalab/src/pydatalab/models/export_task.py
  pydatalab/src/pydatalab/models/files.py
  pydatalab/src/pydatalab/models/items.py
  pydatalab/src/pydatalab/models/people.py
  pydatalab/src/pydatalab/models/relationships.py
  pydatalab/src/pydatalab/models/samples.py
  pydatalab/src/pydatalab/models/starting_materials.py
  pydatalab/src/pydatalab/models/tasks.py
  pydatalab/src/pydatalab/models/traits.py
  pydatalab/src/pydatalab/models/utils.py
  pydatalab/src/pydatalab/models/versions.py
  pydatalab/tasks.py
  pydatalab/tests/test_models.py
Due: generate-schemas

Load FTS fields for MongoDB from model schemas directly
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_items.py
Due: none

Misc pydantic v2 bumps around code
  pydatalab/src/pydatalab/backups.py
  pydatalab/src/pydatalab/errors.py
  pydatalab/src/pydatalab/file_utils.py
  pydatalab/src/pydatalab/main.py
  pydatalab/tasks.py
Due: none

Update various routes for pydantic v2
  pydatalab/src/pydatalab/apps/chat/blocks.py
  pydatalab/src/pydatalab/apps/chat/models.py
  pydatalab/src/pydatalab/apps/nmr/models.py
  pydatalab/src/pydatalab/apps/xrd/blocks.py
  pydatalab/src/pydatalab/blocks/base.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/src/pydatalab/routes/v0_1/collections.py
  pydatalab/src/pydatalab/routes/v0_1/graphs.py
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/routes/v0_1/remotes.py
  pydatalab/src/pydatalab/routes/v0_1/users.py
Due: none

Chore: more documentation about caching
  pydatalab/docs/blocks/pipeline_datablock.md
Due: none

More model updates
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/models/blocks.py
  pydatalab/src/pydatalab/models/equipment.py
  pydatalab/src/pydatalab/models/export_task.py
  pydatalab/src/pydatalab/models/files.py
  pydatalab/src/pydatalab/models/starting_materials.py
  pydatalab/src/pydatalab/models/tasks.py
  pydatalab/src/pydatalab/models/traits.py
  pydatalab/src/pydatalab/models/versions.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/versioning.py
Due: generate-schemas

Patch optional vs default value for plugin data blocks
  pydatalab/src/pydatalab/models/utils.py
Due: generate-schemas

Minimal test updates
  pydatalab/tests/server/conftest.py
  pydatalab/tests/server/test_item_versions.py
  pydatalab/tests/server/test_samples.py
  pydatalab/tests/test_models.py
Due: none

Fix info endpoint for pydantic 2
  pydatalab/src/pydatalab/routes/v0_1/info.py
Due: none

Simplify error handling of all item routes
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Fix exports for pydantic 2
  pydatalab/src/pydatalab/export.py
  pydatalab/src/pydatalab/routes/v0_1/export.py
Due: none

Move `datalab_*` fields in schema to `json_schema_extra` and allow carve out for plugins
  pydatalab/src/pydatalab/apps/__init__.py
  pydatalab/src/pydatalab/apps/chat/blocks.py
  pydatalab/src/pydatalab/blocks/base.py
  pydatalab/src/pydatalab/models/blocks.py
Due: generate-schemas

Unpick circular dependencies between export/items routes by moving lookups to mongo module
  pydatalab/src/pydatalab/export.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Update plugin config validator for pydantic 2
  pydatalab/tasks.py
Due: none

Fix docker build by reordering tasks imports
  pydatalab/tasks.py
Due: none

Final wave of model_dump/dict changes
  pydatalab/src/pydatalab/apps/nmr/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/admin.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/groups.py
  pydatalab/src/pydatalab/routes/v0_1/users.py
  pydatalab/tests/server/test_async_blocks.py
  pydatalab/tests/server/test_export.py
  pydatalab/tests/server/test_graph.py
  pydatalab/tests/server/test_item_graph.py
  pydatalab/tests/server/test_item_versions.py
  pydatalab/tests/server/test_samples.py
  pydatalab/tests/server/test_search.py
  pydatalab/tests/server/test_starting_materials.py
  pydatalab/tests/test_models.py
Due: none

Minor tweaks suggested by copilot
  pydatalab/src/pydatalab/models/people.py
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: generate-schemas

Added test to check if None fields are preserved with saving items and versions (pydantic 1 to 2 change)
  pydatalab/tests/server/test_item_versions.py
Due: none

Fix None field stripping in item creation and version snapshots (pydantic v2).
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/versioning.py
Due: none

Remove exclude None from the save_item route
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Add failing test. Checking if saving None overwrites a previously saved value.
  pydatalab/tests/server/test_samples.py
Due: none

Fix enum value sanitisation in change-user-role
  pydatalab/tasks.py
Due: none

Fix status dropdown broken by Pydantic v2 schema migration
  webapp/src/components/CellInformation.vue
  webapp/src/components/EquipmentInformation.vue
  webapp/src/components/SampleInformation.vue
  webapp/src/components/StartingMaterialInformation.vue
Due: eslint

Catch final remaining dict()
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Use `model_dump(mode=json)` to prevent repeated deserialization
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/src/pydatalab/routes/v0_1/collections.py
  pydatalab/src/pydatalab/routes/v0_1/groups.py
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/src/pydatalab/routes/v0_1/remotes.py
  pydatalab/src/pydatalab/routes/v0_1/users.py
Due: none

Final regeneration of schemas
  pydatalab/schemas/plugin_config.json
Due: none
