Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

.pre-commit-config.yaml:

default_language_version:
  python: python3.10
  node: "20.17.0"

ci:
  skip:
    # skip generate-schemas as pre-commit-ci will not have correct environment
    - generate-schemas
    # skip eslint as it is too large to run in pre-commit-ci for free
    - eslint
  autoupdate_schedule: "monthly"
  autofix_prs: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (pydatalab/example_data/)|(.*.snap)
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: ^(pydatalab/example_data/|pydatalab/schemas)
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-symlinks
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py310-plus]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        additional_dependencies:
          ["types-python-dateutil", "types-requests", "types-paramiko", "pydantic~=1.10"]
        args: ["--config-file", "pydatalab/pyproject.toml"]

  - repo: local
    hooks:
      - id: generate-schemas
        name: Regenerate item model JSONSchemas
        files: "^pydatalab/src/pydatalab/models/.*.$"
        description: Check if the current code changes have enacted changes to the resulting JSONSchemas
        entry: invoke -r pydatalab dev.generate-schemas
        pass_filenames: false
        language: system
      - id: eslint
        name: eslint
        entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
        language: system
        types: [file]
        files: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
        pass_filenames: true

Update CHANGELOG for v0.7.11
  CHANGELOG.md
Due: none

Backport of "XSS fixes for chemical formulae and user display names" (#2174)
  CHANGELOG.md
  webapp/.eslintrc.js
  webapp/cypress/component/ChemicalFormulaTest.cy.jsx
  webapp/cypress/component/DialogModalTest.cy.jsx
  webapp/cypress/component/ValidateEntryIDTest.cy.jsx
  webapp/src/components/BatchCreateItemModal.vue
  webapp/src/components/ChemicalFormula.vue
  webapp/src/components/CreateCollectionModal.vue
  webapp/src/components/CreateEquipmentModal.vue
  webapp/src/components/CreateGroupModal.vue
  webapp/src/components/CreateItemModal.vue
  webapp/src/components/DialogModal.vue
  webapp/src/components/MessageBubble.vue
  webapp/src/components/datablocks/MediaBlock.vue
  webapp/src/field_utils.js
  webapp/src/utils/sanitize.js
Due: eslint

Refactored settings and added tags management in the settings.
  webapp/README.md
  webapp/cypress/component/AccountSettingsTest.cy.jsx
  webapp/cypress/component/AdminTest.cy.jsx
  webapp/cypress/component/SettingsTest.cy.jsx
  webapp/cypress/component/SidebarNavigationTest.cy.jsx
  webapp/cypress/component/UserDropdownTest.cy.jsx
  webapp/src/components/AccountSettings.vue
  webapp/src/components/AdminNavbar.vue
  webapp/src/components/EditAccountSettingsModal.vue
  webapp/src/components/LoginDetails.vue
  webapp/src/components/SidebarNavigation.vue
  webapp/src/components/UserDropdown.vue
  webapp/src/router/index.js
  webapp/src/views/Admin.vue
  webapp/src/views/Settings.vue
  webapp/src/views/Tags.vue
Due: eslint

Removed useless doc in webapp/README.md
  webapp/README.md
Due: none

Add some pins to dependabot
  .github/dependabot.yml
Due: none

Bump Python deps (gunicorn, flask-compress)
  pydatalab/pyproject.toml
  pydatalab/uv.lock
Due: none

Security-focused js updates
  webapp/package.json
  webapp/yarn.lock
Due: none

Collected dependabot PRs (#2179)
  .github/dependabot.yml
  pydatalab/pyproject.toml
  pydatalab/uv.lock
  webapp/package.json
  webapp/yarn.lock
Due: none

require write access for item's save_version
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_item_versions.py
Due: none

Prune old JS dependencies and remove TS
  webapp/cypress.config.js
  webapp/package.json
  webapp/yarn.lock
Due: eslint

Bump pymongo and urllib3
  pydatalab/uv.lock
Due: none

Bump babel plugin
  webapp/package.json
  webapp/yarn.lock
Due: none

Prune old JS dependencies and remove TS (#2187)
  pydatalab/uv.lock
  webapp/cypress.config.js
  webapp/package.json
  webapp/yarn.lock
Due: eslint

Bump node version in yarn updater
  .github/workflows/yarn-upgrade-bot.yml
Due: none

Bump babel plugin version in pre-commit
  .pre-commit-config.yaml
Due: none

Bump JS linters
  .pre-commit-config.yaml
Due: none

Restrict more versions in package.json
  webapp/package.json
Due: none

yarn update with latest restrictions
  webapp/yarn.lock
Due: none

Bump node version in yarn updater, collected security and uv updates (#2190)
  .github/workflows/yarn-upgrade-bot.yml
  .pre-commit-config.yaml
  pydatalab/uv.lock
  webapp/package.json
  webapp/yarn.lock
Due: none

Remove chat block, XPS and insitu plugin
  .pre-commit-config.yaml
  examples/datalab-chat-plugin/README.md
  examples/datalab-chat-plugin/datalab_chat_plugin/__init__.py
  examples/datalab-chat-plugin/datalab_chat_plugin/blocks.py
  examples/datalab-chat-plugin/datalab_chat_plugin/webapp/ChatBlock.vue
  examples/datalab-chat-plugin/datalab_chat_plugin/webapp/ChatWindow.vue
  examples/datalab-chat-plugin/datalab_chat_plugin/webapp/MessageBubble.vue
  examples/datalab-chat-plugin/datalab_chat_plugin/webapp/index.js
  examples/datalab-chat-plugin/pyproject.toml
  pydatalab/pyproject.toml
  pydatalab/tests/apps/test_chat.py
  pydatalab/uv.lock
  webapp/src/components/datablocks/NMRInsituBlock.vue
  webapp/src/components/datablocks/UVVisInsituBlock.vue
  webapp/src/components/datablocks/XRDInsituBlock.vue
Due: eslint

Add ability to load custom vue for a block as a JS package
  pydatalab/docs/plugins.md
  pydatalab/docs/roadmap.md
  pydatalab/tasks.py
  pydatalab/tests/test_tasks.py
  webapp/src/plugins/index.js
  webapp/src/resources.js
Due: eslint

Fix case where [tool.uv.sources] does not exist
  pydatalab/tasks.py
  pydatalab/tests/test_tasks.py
Due: none

Copy all fields when creating an item from any existing item type
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Allow batch creation of custom item types
  webapp/src/components/BatchCreateItemModal.vue
  webapp/src/components/CreateItemModal.vue
  webapp/src/resources.js
Due: eslint

Add clear-all-filters button, ported onto DynamicDataTable refactor (#1914)
  webapp/cypress/component/CollectionTableTest.cy.jsx
  webapp/cypress/component/EquipmentTableTest.cy.jsx
  webapp/cypress/component/SampleTableTest.cy.jsx
  webapp/cypress/component/StartingMaterialTableTest.cy.jsx
  webapp/cypress/component/TagManagementTableTest.cy.jsx
  webapp/src/components/DynamicDataTable.vue
Due: eslint

Allow plugins to define their own package.json dependencies
  .docker/app/Dockerfile
  pydatalab/docs/plugins.md
  pydatalab/docs/roadmap.md
  pydatalab/tasks.py
  pydatalab/tests/test_tasks.py
  webapp/package.json
  webapp/src/resources.js
  webapp/vue.config.js
  webapp/yarn.lock
Due: eslint

Added member/admin info on groups in dev.list-test-users.
  pydatalab/tasks.py
Due: none

Clarified doc on default navigation tab.
  pydatalab/docs/config.md
Due: none

Refactor new cell additions with plugin syntax
  pydatalab/docs/plugins.md
  pydatalab/schemas/cell.json
  pydatalab/schemas/datalab_field_extra.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/models/_example_custom.py
  pydatalab/src/pydatalab/models/cells.py
  pydatalab/src/pydatalab/models/traits.py
  pydatalab/src/pydatalab/models/units.py
  pydatalab/tests/test_models.py
  webapp/cypress/component/CellInformationTest.cy.jsx
  webapp/cypress/component/CustomItemUITest.cy.jsx
  webapp/src/components/CellInformation.vue
  webapp/src/components/custom/CustomFieldsPanel.vue
  webapp/src/utils/quantities.js
Due: generate-schemas, eslint

actions
  webapp/src/components/AddToCollectionModal.vue
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/main.js
Due: eslint

Show computed block fields in metadata viewer
  webapp/src/components/MetadataViewer.vue
  webapp/src/components/datablocks/DataBlockBase.vue
Due: eslint

Remove RSECon from frontmatter
  paper/paper.md
Due: none

Add new ELNFileFormat DOI
  paper/paper.bib
Due: none

Fix a couple more formatting typos
  paper/paper.md
Due: none

Paper fixes after review: hyphenation, punctuation, formatting and acronyms
  paper/paper.md
Due: none

Update file formats
  paper/paper.md
Due: none

Add RSECon26 acceptance to frontmatter
  paper/paper.md
Due: none

Strip remaining comments from JOSS guidelines and update LinkML reference
  paper/paper.bib
  paper/paper.md
Due: none

Expand AI usage disclosure following #1852
  paper/paper.md
Due: none

Double up corresponding authors
  paper/paper.md
Due: none
