Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

.pre-commit-config.yaml:

default_language_version:
  python: python3.10
  node: "20.17.0"

ci:
  skip:
    # skip generate-schemas as pre-commit-ci will not have correct environment
    - generate-schemas
    # skip eslint as it is too large to run in pre-commit-ci for free
    - eslint
  autoupdate_schedule: "monthly"
  autofix_prs: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (pydatalab/example_data/)|(.*.snap)
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: ^(pydatalab/example_data/|pydatalab/schemas)
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-symlinks
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py310-plus]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        additional_dependencies:
          ["types-python-dateutil", "types-requests", "types-paramiko", "pydantic~=1.10"]
        args: ["--config-file", "pydatalab/pyproject.toml"]

  - repo: local
    hooks:
      - id: generate-schemas
        name: Regenerate item model JSONSchemas
        files: "^pydatalab/src/pydatalab/models/.*.$"
        description: Check if the current code changes have enacted changes to the resulting JSONSchemas
        entry: invoke -r pydatalab dev.generate-schemas
        pass_filenames: false
        language: system
      - id: eslint
        name: eslint
        entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
        language: system
        types: [file]
        files: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
        pass_filenames: true

Remove duplicated python-dotenv
  pydatalab/pyproject.toml
  pydatalab/uv.lock
Due: none

Hide collections in webapp.
  .docker/app/Dockerfile
  .docker/app_entrypoint.sh
  docker-compose.yml
  pydatalab/docs/config.md
  webapp/cypress/component/ItemGraphTest.cy.jsx
  webapp/cypress/component/NavbarTest.cy.jsx
  webapp/cypress/component/SampleTableTest.cy.jsx
  webapp/src/components/CreateItemModal.vue
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/components/EquipmentInformation.vue
  webapp/src/components/ItemGraph.vue
  webapp/src/components/Navbar.vue
  webapp/src/components/SampleGraphExportModal.vue
  webapp/src/components/ToggleableCollectionFormGroup.vue
  webapp/src/resources.js
  webapp/src/router/index.js
Due: eslint

Collected dependabot updates (#2112)
  .github/dependabot.yml
  .pre-commit-config.yaml
  pydatalab/pyproject.toml
  pydatalab/uv.lock
  webapp/package.json
  webapp/yarn.lock
Due: none

More collected dependabot updates
  .pre-commit-config.yaml
  pydatalab/pyproject.toml
  pydatalab/uv.lock
  webapp/package.json
  webapp/yarn.lock
Due: none

Remove old defunct login pages
  webapp/src/router/index.js
  webapp/src/views/Login2.vue
  webapp/src/views/Login3.vue
Due: eslint

Fix docs link in about page
  webapp/src/views/About.vue
Due: eslint

Remove option to hide unavailable auth methods (now defaults to true)
  .docker/app/Dockerfile
  .docker/app_entrypoint.sh
  docker-compose.yml
  pydatalab/docs/config.md
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/tests/server/test_info_and_health.py
  webapp/src/components/LoginInfo.vue
  webapp/src/resources.js
  webapp/src/server_fetch_utils.js
  webapp/src/views/Login.vue
Due: eslint

Simplify default login view drastically and let it be customised by more existing options
  pydatalab/docs/config.md
  webapp/src/components/LoginDropdown.vue
  webapp/src/components/LoginInfo.vue
  webapp/src/resources.js
  webapp/src/router/index.js
  webapp/src/views/Login.vue
Due: eslint

Further simplify default login view
  pydatalab/docs/config.md
  webapp/src/components/LoginInfo.vue
  webapp/src/views/Login.vue
Due: eslint

More collected dependabot updates (#2118)
  .pre-commit-config.yaml
  pydatalab/pyproject.toml
  pydatalab/uv.lock
  webapp/package.json
  webapp/yarn.lock
Due: none

Add placeholder for deployment stats
  pydatalab/docs/deployment.md
  pydatalab/src/pydatalab/deployment_stats.py
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/tests/server/test_deployment_stats.py
  webapp/src/App.vue
  webapp/src/components/DeploymentStats.vue
  webapp/src/components/StatisticsTable.vue
  webapp/src/components/StatsTimeChart.vue
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
  webapp/src/views/About.vue
Due: eslint

Enable customizable login page (#1911)
  .docker/app/Dockerfile
  .docker/app_entrypoint.sh
  docker-compose.yml
  pydatalab/docs/config.md
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/tests/server/test_auth.py
  webapp/src/App.vue
  webapp/src/components/LoginDropdown.vue
  webapp/src/components/LoginInfo.vue
  webapp/src/resources.js
  webapp/src/router/index.js
  webapp/src/views/About.vue
  webapp/src/views/Login.vue
  webapp/src/views/Login2.vue
  webapp/src/views/Login3.vue
  webapp/vue.config.js
Due: eslint

Install BokehJS from npm instead of loading it from a CDN
  .github/dependabot.yml
  webapp/cypress/support/component-index.html
  webapp/package.json
  webapp/public/index.html
  webapp/src/components/BokehPlot.vue
  webapp/vue.config.js
  webapp/yarn.lock
Due: eslint

Test that the bundled BokehJS renders Python-generated plots
  pydatalab/tests/test_version.py
  webapp/cypress/component/BokehPlotTest.cy.jsx
  webapp/cypress/fixtures/bokeh_plot.json
Due: eslint

Install and serve Bokeh properly through yarn (#2052)
  .github/dependabot.yml
  pydatalab/tests/test_version.py
  webapp/cypress/component/BokehPlotTest.cy.jsx
  webapp/cypress/fixtures/bokeh_plot.json
  webapp/cypress/support/component-index.html
  webapp/package.json
  webapp/public/index.html
  webapp/src/components/BokehPlot.vue
  webapp/vue.config.js
  webapp/yarn.lock
Due: eslint

Extend directives to cover new login view
  webapp/src/views/Login.vue
Due: eslint

Fixed dropdowns to close when clicking outside (#1963)
  webapp/cypress/component/NavbarTest.cy.jsx
  webapp/cypress/component/SampleTableTest.cy.jsx
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/components/LoginDetails.vue
  webapp/src/components/Navbar.vue
  webapp/src/views/Login.vue
Due: eslint

Fixed position of the "actions" menu when items are selected
  webapp/cypress/component/CollectionTableTest.cy.jsx
  webapp/cypress/component/EquipmentTableTest.cy.jsx
  webapp/cypress/component/SampleTableTest.cy.jsx
  webapp/cypress/component/StartingMaterialTableTest.cy.jsx
  webapp/cypress/e2e/equipment.cy.js
  webapp/cypress/support/commands.js
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/main.js
  webapp/src/views/Collections.vue
  webapp/src/views/Equipment.vue
  webapp/src/views/Samples.vue
  webapp/src/views/StartingMaterials.vue
Due: eslint

fix wrong merge
  pydatalab/src/pydatalab/models/items.py
Due: generate-schemas

address comments
  pydatalab/src/pydatalab/blocks/store.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/graphs.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/versioning.py
Due: none

use counter for block versions
  pydatalab/src/pydatalab/blocks/store.py
  pydatalab/src/pydatalab/models/versions.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/tests/server/test_block_separation.py
Due: generate-schemas

separate blocks from items
  pydatalab/src/pydatalab/blocks/store.py
  pydatalab/src/pydatalab/export.py
  pydatalab/src/pydatalab/models/__init__.py
  pydatalab/src/pydatalab/models/blocks.py
  pydatalab/src/pydatalab/models/collections.py
  pydatalab/src/pydatalab/models/items.py
  pydatalab/src/pydatalab/models/traits.py
  pydatalab/src/pydatalab/models/versions.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/graphs.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/versioning.py
  pydatalab/tests/server/test_block_separation.py
  pydatalab/tests/server/test_blocks.py
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
Due: generate-schemas, eslint

Move block aggregations to the `blocks.store` submodule
  pydatalab/src/pydatalab/blocks/store.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Add an extra test that checks for differences in read/write access
  pydatalab/tests/server/test_block_separation.py
Due: none

Separate blocks from items (#2069)
  pydatalab/src/pydatalab/blocks/store.py
  pydatalab/src/pydatalab/export.py
  pydatalab/src/pydatalab/models/__init__.py
  pydatalab/src/pydatalab/models/blocks.py
  pydatalab/src/pydatalab/models/collections.py
  pydatalab/src/pydatalab/models/items.py
  pydatalab/src/pydatalab/models/traits.py
  pydatalab/src/pydatalab/models/versions.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/graphs.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/versioning.py
  pydatalab/tests/server/test_block_separation.py
  pydatalab/tests/server/test_blocks.py
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
Due: generate-schemas, eslint

add scope to tags
  pydatalab/src/pydatalab/models/tags.py
  pydatalab/src/pydatalab/models/utils.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/routes/v0_1/tags.py
  pydatalab/tests/server/test_tags.py
  pydatalab/tests/test_models.py
  webapp/cypress/component/TagFormModalTest.cy.jsx
  webapp/cypress/component/TagManagementTableTest.cy.jsx
  webapp/cypress/component/TagSelectTest.cy.jsx
  webapp/cypress/e2e/tagsManagement.cy.js
  webapp/cypress/support/commands.js
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/components/TagActionsCell.vue
  webapp/src/components/TagBadge.vue
  webapp/src/components/TagFormModal.vue
  webapp/src/components/TagList.vue
  webapp/src/components/TagManagementTable.vue
  webapp/src/components/TagScopeBadge.vue
  webapp/src/components/TagSelect.vue
  webapp/src/main.js
  webapp/src/server_fetch_utils.js
Due: generate-schemas, eslint

remove canary comments
  webapp/cypress/e2e/tagsManagement.cy.js
  webapp/cypress/support/commands.js
Due: eslint

tags updates
  pydatalab/src/pydatalab/models/tags.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/routes/v0_1/tags.py
  pydatalab/tests/server/test_tags.py
  pydatalab/tests/test_models.py
  webapp/cypress/component/TagFormModalTest.cy.jsx
  webapp/cypress/component/TagManagementTableTest.cy.jsx
  webapp/cypress/component/TagSelectTest.cy.jsx
  webapp/cypress/e2e/tagsManagement.cy.js
  webapp/cypress/support/commands.js
  webapp/src/components/TagActionsCell.vue
  webapp/src/components/TagBadge.vue
  webapp/src/components/TagFormModal.vue
  webapp/src/components/TagList.vue
  webapp/src/components/TagScopeBadge.vue
  webapp/src/components/TagSelect.vue
  webapp/src/server_fetch_utils.js
Due: generate-schemas, eslint

Regenerate schemas after rebase onto bump-pydantic-final-final
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
Due: none

use werkzeug exceptions
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/tags.py
Due: none

attempt to fix test by creating admin user
  .github/workflows/ci.yml
  pydatalab/tasks.py
Due: none

fix failing tests
  webapp/cypress/component/TagFormModalTest.cy.jsx
Due: eslint

fix failing tests
  webapp/cypress/e2e/editPage.cy.js
  webapp/cypress/support/commands.js
Due: eslint

adapt tags to refctored DynamicDataTable
  pydatalab/tasks.py
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/components/SampleTable.vue
  webapp/src/components/TagManagementTable.vue
  webapp/src/utils/filterMatchers.js
  webapp/src/utils/tableColumns.js
Due: eslint

Make the new admin seed task a dev task rather than an admin one
  .github/workflows/ci.yml
  pydatalab/tasks.py
Due: none

Refactor AccessScope into a tag-specific thing and move much tag functionality into its own module
  pydatalab/src/pydatalab/models/tags.py
  pydatalab/src/pydatalab/models/utils.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/routes/v0_1/tags.py
  pydatalab/src/pydatalab/tags.py
  pydatalab/tests/test_models.py
Due: generate-schemas

Remove chat block and XPS plugin
  pydatalab/pyproject.toml
  pydatalab/tests/apps/test_chat.py
  pydatalab/uv.lock
Due: none

Implemented .txt and changed the .asc parser. Also implemented the part of the data block that shows the .txt graph
  pydatalab/src/pydatalab/apps/tga/__init__.py
  pydatalab/src/pydatalab/apps/tga/blocks.py
  pydatalab/src/pydatalab/apps/tga/parsers.py
  pydatalab/tests/apps/test_tga.py
Due: none
