Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

generate-schemas:
  name: Regenerate item model JSONSchemas
  description: Check if the current code changes have enacted changes to the resulting JSONSchemas
  entry: invoke -r pydatalab dev.generate-schemas
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
  language: system
  pass_filenames: true

Bump Debian version to trixie in app docker build (#2085)
  .docker/app/Dockerfile
Due: none

Improve Unit handling
  pydatalab/schemas/datalab_field_extra.json
  pydatalab/src/pydatalab/models/schema_hints.py
  pydatalab/src/pydatalab/models/units.py
  pydatalab/tests/test_models.py
Due: generate-schemas

adapt the doc
  pydatalab/docs/plugins.md
Due: none

remove legacy schema fallback
  webapp/src/components/custom/CustomFieldsPanel.vue
Due: eslint

Bump changelog for 0.7.8
  CHANGELOG.md
Due: none

tags updates
  pydatalab/src/pydatalab/models/tags.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/routes/v0_1/tags.py
  pydatalab/tests/server/test_tags.py
  pydatalab/tests/test_models.py
  webapp/cypress/component/TagFormModalTest.cy.jsx
  webapp/cypress/component/TagManagementTableTest.cy.jsx
  webapp/cypress/component/TagSelectTest.cy.jsx
  webapp/cypress/e2e/tagsManagement.cy.js
  webapp/cypress/support/commands.js
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/TagActionsCell.vue
  webapp/src/components/TagBadge.vue
  webapp/src/components/TagFormModal.vue
  webapp/src/components/TagList.vue
  webapp/src/components/TagScopeBadge.vue
  webapp/src/components/TagSelect.vue
  webapp/src/server_fetch_utils.js
Due: generate-schemas, eslint

fix failing tests
  webapp/cypress/component/TagFormModalTest.cy.jsx
Due: eslint

use werkzeug exceptions
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/tags.py
Due: none

Regenerate schemas after rebase onto bump-pydantic-final-final
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
Due: none

attempt to fix test by creating admin user
  .github/workflows/ci.yml
  pydatalab/tasks.py
Due: none

remove canary comments
  webapp/cypress/e2e/tagsManagement.cy.js
  webapp/cypress/support/commands.js
Due: eslint

add scope to tags
  pydatalab/src/pydatalab/models/tags.py
  pydatalab/src/pydatalab/models/utils.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/routes/v0_1/tags.py
  pydatalab/tests/server/test_tags.py
  pydatalab/tests/test_models.py
  webapp/cypress/component/TagFormModalTest.cy.jsx
  webapp/cypress/component/TagManagementTableTest.cy.jsx
  webapp/cypress/component/TagSelectTest.cy.jsx
  webapp/cypress/e2e/tagsManagement.cy.js
  webapp/cypress/support/commands.js
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/components/TagActionsCell.vue
  webapp/src/components/TagBadge.vue
  webapp/src/components/TagFormModal.vue
  webapp/src/components/TagList.vue
  webapp/src/components/TagManagementTable.vue
  webapp/src/components/TagScopeBadge.vue
  webapp/src/components/TagSelect.vue
  webapp/src/main.js
  webapp/src/server_fetch_utils.js
Due: generate-schemas, eslint

fix tags table filtering
  webapp/src/components/DynamicDataTable.vue
Due: eslint

Track where each metadata value came from, and keep it there
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/blocks/base.py
  pydatalab/src/pydatalab/blocks/metadata.py
  pydatalab/src/pydatalab/models/blocks.py
  pydatalab/tests/server/test_block_metadata.py
Due: generate-schemas

Do not mark a user-supplied value the way unsaved changes are marked
  webapp/cypress/component/MetadataFieldTest.cy.jsx
  webapp/src/components/MetadataField.vue
Due: eslint

Say which file a metadata value was read out of
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/blocks/base.py
  pydatalab/src/pydatalab/models/blocks.py
  pydatalab/tests/server/test_block_metadata.py
  webapp/cypress/component/MetadataFieldTest.cy.jsx
  webapp/src/components/MetadataField.vue
  webapp/src/components/MetadataViewer.vue
  webapp/src/components/datablocks/DataBlockBase.vue
Due: generate-schemas, eslint

Open the metadata menu on a plain click, and let an edit be abandoned
  webapp/cypress/component/MetadataFieldTest.cy.jsx
  webapp/src/components/MetadataField.vue
Due: eslint

Record who overrode a metadata value, and when
  pydatalab/src/pydatalab/blocks/base.py
  pydatalab/src/pydatalab/blocks/metadata.py
  pydatalab/tests/server/test_block_metadata.py
  webapp/cypress/component/MetadataFieldTest.cy.jsx
  webapp/src/components/MetadataField.vue
Due: eslint

Keep metadata in the order the block declares it, whatever has a value
  webapp/cypress/component/MetadataViewerTest.cy.jsx
  webapp/src/components/MetadataViewer.vue
Due: eslint

Show where a metadata value came from, and let it be changed
  pydatalab/src/pydatalab/blocks/metadata.py
  pydatalab/tests/server/test_block_metadata.py
  webapp/cypress/component/MetadataFieldTest.cy.jsx
  webapp/src/components/MetadataField.vue
  webapp/src/components/MetadataViewer.vue
  webapp/src/components/datablocks/DataBlockBase.vue
Due: eslint

Do not lose an event's error to a plot that then succeeded
  pydatalab/src/pydatalab/blocks/base.py
  pydatalab/tests/server/test_block_metadata.py
Due: none

Fixing bug following review.
  webapp/cypress/component/LoginDropdownTest.cy.jsx
  webapp/src/components/UnsafeTestingPasswordlessLogin.vue
Due: eslint

Changes after review :
  pydatalab/docs/plugins.md
  pydatalab/schemas/datalab_field_extra.json
  pydatalab/schemas/datalab_model_extra.json
  pydatalab/src/pydatalab/models/schema_hints.py
  pydatalab/src/pydatalab/models/units.py
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_custom_item_types.py
  pydatalab/tests/test_models.py
Due: generate-schemas

Add theoretical capacity and calculation of nominal capacity to cell model.
  pydatalab/schemas/cell.json
  pydatalab/src/pydatalab/models/cells.py
  webapp/src/components/CellInformation.vue
Due: generate-schemas, eslint

Added unit test for nominal capacity calculation
  pydatalab/tests/test_models.py
Due: none

Add post-plot hooks so plugins can compute derived metrics from CycleBlock data
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

change cell model so nominal capacity can be added by user. If mismatch with theoretical capcity*mass raise a warning but keep the user supplied number
  pydatalab/schemas/cell.json
  pydatalab/src/pydatalab/models/cells.py
  pydatalab/tests/test_models.py
  webapp/src/components/CellInformation.vue
Due: generate-schemas, eslint

Refactor table columns into series of constants in utils module
  webapp/src/components/CollectionInformation.vue
  webapp/src/components/CollectionTable.vue
  webapp/src/components/EquipmentTable.vue
  webapp/src/components/SampleTable.vue
  webapp/src/components/StartingMaterialTable.vue
  webapp/src/utils/tableColumns.js
Due: eslint

Fix KeyError('event_name') in DataBlock.process_events for control-only events
  pydatalab/src/pydatalab/blocks/base.py
  pydatalab/tests/test_base_block.py
Due: none

Close the ways a metadata value could lie about where it came from
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/blocks/base.py
  pydatalab/src/pydatalab/blocks/metadata.py
  pydatalab/src/pydatalab/models/blocks.py
  pydatalab/tests/server/test_block_metadata.py
  webapp/cypress/component/MetadataFieldTest.cy.jsx
  webapp/src/components/MetadataField.vue
  webapp/src/server_fetch_utils.js
Due: generate-schemas, eslint

Let a plot fetch data columns and patch them in without a rebuild
  webapp/src/components/BokehPlot.vue
  webapp/src/server_fetch_utils.js
Due: eslint

Distinguish an unknown column from unsupported units
  pydatalab/src/pydatalab/blocks/base.py
  pydatalab/tests/server/test_blocks.py
Due: none

Handle block events in BokehPlot rather than DataBlockBase
  webapp/src/components/BokehPlot.vue
  webapp/src/components/datablocks/BokehBlock.vue
  webapp/src/components/datablocks/CycleBlock.vue
  webapp/src/components/datablocks/DataBlockBase.vue
  webapp/src/components/datablocks/NMRBlock.vue
  webapp/src/components/datablocks/NMRInsituBlock.vue
  webapp/src/components/datablocks/UVVisBlock.vue
  webapp/src/components/datablocks/UVVisInsituBlock.vue
  webapp/src/components/datablocks/XRDInsituBlock.vue
Due: eslint

Let a plot decide the width of its own controls
  webapp/src/components/BokehPlot.vue
Due: eslint

Add a route serving individual block data columns in requested units
  pydatalab/src/pydatalab/blocks/base.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/tests/server/test_blocks.py
Due: none

Refactor DynamicDataTable (#1914)
  webapp/cypress/component/EquipmentTableTest.cy.jsx
  webapp/src/components/CollectionInformation.vue
  webapp/src/components/CollectionTable.vue
  webapp/src/components/CreatorsAndGroupsFilter.vue
  webapp/src/components/DateRangeFilter.vue
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/EquipmentTable.vue
  webapp/src/components/GroupTable.vue
  webapp/src/components/MultiSelectFilter.vue
  webapp/src/components/SampleTable.vue
  webapp/src/components/SingleSelectFilter.vue
  webapp/src/components/StartingMaterialTable.vue
  webapp/src/components/TextFilter.vue
  webapp/src/components/TokenTable.vue
  webapp/src/components/UserTable.vue
  webapp/src/field_utils.js
  webapp/src/utils/filterMatchers.js
  webapp/src/utils/tableColumns.js
Due: eslint

Path conditions:
  generate-schemas: any of: ^pydatalab/src/pydatalab/models/.*.$
  eslint: any of: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
