Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

generate-schemas:
  name: Regenerate item model JSONSchemas
  description: Check if the current code changes have enacted changes to the resulting JSONSchemas
  entry: invoke -r pydatalab dev.generate-schemas
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
  language: system
  pass_filenames: true

Add theoretical capacity and calculation of nominal capacity to cell model.
  pydatalab/schemas/cell.json
  pydatalab/src/pydatalab/models/cells.py
  webapp/src/components/CellInformation.vue
Due: generate-schemas, eslint

Add post-plot hooks so plugins can compute derived metrics from CycleBlock data
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

change cell model so nominal capacity can be added by user. If mismatch with theoretical capcity*mass raise a warning but keep the user supplied number
  pydatalab/schemas/cell.json
  pydatalab/src/pydatalab/models/cells.py
  pydatalab/tests/test_models.py
  webapp/src/components/CellInformation.vue
Due: generate-schemas, eslint

Skip pytest-memray on Windows so the dev group installs
  pydatalab/pyproject.toml
  pydatalab/uv.lock
Due: none

Use shutil.disk_usage instead of os.statvfs for free space
  pydatalab/src/pydatalab/file_utils.py
  pydatalab/tests/test_file_utils.py
Due: none

Change behaviour in case where locations cannot be loaded
  webapp/src/server_fetch_utils.js
Due: eslint

Made magic links single use.
  pydatalab/docs/config.md
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/tests/server/test_auth.py
Due: none

Use nested location for suggestions
  webapp/cypress/component/LocationInputTest.cy.jsx
  webapp/src/components/LocationInput.vue
Due: eslint

Add location field to all items, sourced from the /locations API (#2099)
  webapp/cypress/component/LocationInputTest.cy.jsx
  webapp/src/components/CellInformation.vue
  webapp/src/components/EquipmentInformation.vue
  webapp/src/components/LocationInput.vue
  webapp/src/components/SampleInformation.vue
  webapp/src/components/StartingMaterialInformation.vue
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
Due: eslint

Fix KeyError('event_name') in DataBlock.process_events for control-only events
  pydatalab/src/pydatalab/blocks/base.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/tests/test_base_block.py
Due: none

Strip defunct async trigger from in situ block
  webapp/src/components/datablocks/NMRInsituBlock.vue
  webapp/src/components/datablocks/UVVisInsituBlock.vue
  webapp/src/components/datablocks/XRDInsituBlock.vue
Due: eslint

Remove defunct `trigger_async` causing `KeyError` when using in situ plugin (#2095)
  pydatalab/src/pydatalab/blocks/base.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/tests/test_base_block.py
  webapp/src/components/datablocks/NMRInsituBlock.vue
  webapp/src/components/datablocks/UVVisInsituBlock.vue
  webapp/src/components/datablocks/XRDInsituBlock.vue
Due: eslint

Update changelog for 0.7.9
  CHANGELOG.md
Due: none

Backport "Remove defunct `trigger_async` causing `KeyError` when using in situ plugin" (#2109)
  CHANGELOG.md
  pydatalab/src/pydatalab/blocks/base.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/tests/test_base_block.py
  webapp/src/components/datablocks/NMRInsituBlock.vue
  webapp/src/components/datablocks/UVVisInsituBlock.vue
  webapp/src/components/datablocks/XRDInsituBlock.vue
Due: eslint

Address review: drop the AI canary and skip the memray test on Windows
  pydatalab/pyproject.toml
  pydatalab/tests/server/test_blocks.py
Due: none

Update install and contributing docs to make lack of support for Windows clearer
  CONTRIBUTING.md
  pydatalab/docs/INSTALL.md
Due: none

Skip pytest-memray on Windows so the dev group installs (#2106)
  CONTRIBUTING.md
  pydatalab/docs/INSTALL.md
  pydatalab/pyproject.toml
  pydatalab/tests/server/test_blocks.py
  pydatalab/uv.lock
Due: none

Apply suggestion from @ml-evs
  pydatalab/src/pydatalab/file_utils.py
Due: none

Remove the AI canary comments after review
  pydatalab/src/pydatalab/file_utils.py
  pydatalab/tests/test_file_utils.py
Due: none

Use shutil.disk_usage instead of os.statvfs for free space (#2107)
  pydatalab/src/pydatalab/file_utils.py
  pydatalab/tests/test_file_utils.py
Due: none

Update docs page with additional links
  pydatalab/docs/index.md
Due: none

Add symlink into docs
  pydatalab/docs/.pages
  pydatalab/docs/SECURITY.md
Due: none

Add security document
  SECURITY.md
Due: none

Apply batched suggestions from code review
  SECURITY.md
Due: none

Switch from vue-cli to vite
  .docker/app/Dockerfile
  .docker/app_entrypoint.sh
  .pre-commit-config.yaml
  webapp/.browserslistrc
  webapp/.eslintrc.js
  webapp/babel.config.js
  webapp/cypress.config.ts
  webapp/cypress/support/e2e.js
  webapp/index.html
  webapp/package.json
  webapp/src/bokeh-shim.js
  webapp/src/components/BokehPlot.vue
  webapp/src/resources.js
  webapp/vite.config.mjs
  webapp/vue.config.js
  webapp/yarn.lock
Due: eslint

Add a test for x-datalab-api-url header
  webapp/cypress/e2e/apiDiscovery.cy.js
Due: eslint

Re-enable Firefox tests with cypress 15
  .github/workflows/ci.yml
Due: none

Fix component tests for firefox
  webapp/cypress/support/component.js
Due: eslint

Add note in contributing docs to obey security policy
  CONTRIBUTING.md
Due: none

Remove old references to webpack
  .github/workflows/ci.yml
  AGENTS.md
  pydatalab/docs/config.md
  webapp/README.md
Due: none

Update vite config to strip console logs, bring CSS s to top of files and fix attrs
  webapp/vite.config.mjs
Due: none

Add a security policy (#2018)
  CONTRIBUTING.md
  SECURITY.md
  pydatalab/docs/.pages
  pydatalab/docs/SECURITY.md
  pydatalab/docs/index.md
Due: none

Make security updates as grouped PRs in dependabot
  .github/dependabot.yml
Due: none

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

Bump all tiptap-related packages alongside the core
  webapp/package.json
  webapp/yarn.lock
Due: none

Path conditions:
  generate-schemas: any of: ^pydatalab/src/pydatalab/models/.*.$
  eslint: any of: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
