Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

generate-schemas:
  name: Regenerate item model JSONSchemas
  description: Check if the current code changes have enacted changes to the resulting JSONSchemas
  entry: invoke -r pydatalab dev.generate-schemas
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
  language: system
  pass_filenames: true

Catch final remaining dict()
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Use `model_dump(mode=json)` to prevent repeated deserialization
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/src/pydatalab/routes/v0_1/collections.py
  pydatalab/src/pydatalab/routes/v0_1/groups.py
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/src/pydatalab/routes/v0_1/remotes.py
  pydatalab/src/pydatalab/routes/v0_1/users.py
Due: none

Move HasFiles trait into files model module
  pydatalab/src/pydatalab/models/files.py
  pydatalab/src/pydatalab/models/items.py
  pydatalab/src/pydatalab/models/traits.py
Due: generate-schemas

Chore: edited and added more documentation.
  pydatalab/docs/blocks/pipeline_datablock.md
  pydatalab/src/pydatalab/pipeline_block/block_stages/plotter_stage.py
  pydatalab/src/pydatalab/pipeline_block/pipeline/pipeline.py
Due: none

Fix: duplication of pipeline routes by now having consumed file extensions for a `PipelineNode`
  pydatalab/src/pydatalab/pipeline_block/pipeline/pipeline_node.py
  pydatalab/tests/pipeline_block/test_pipeline_node.py
Due: none

Chore: fix type hints for precommit
  pydatalab/src/pydatalab/apps/__init__.py
  pydatalab/src/pydatalab/apps/xrd/blocks.py
  pydatalab/src/pydatalab/apps/xrd/utils.py
  pydatalab/src/pydatalab/pipeline_block/base.py
  pydatalab/src/pydatalab/pipeline_block/block_manager.py
  pydatalab/src/pydatalab/pipeline_block/pipeline/pipeline.py
Due: none

add scope to tags
  pydatalab/src/pydatalab/models/tags.py
  pydatalab/src/pydatalab/models/utils.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/routes/v0_1/tags.py
  pydatalab/tests/server/test_tags.py
  pydatalab/tests/test_models.py
  webapp/cypress/component/TagFormModalTest.cy.jsx
  webapp/cypress/component/TagManagementTableTest.cy.jsx
  webapp/cypress/component/TagSelectTest.cy.jsx
  webapp/cypress/e2e/tagsManagement.cy.js
  webapp/cypress/support/commands.js
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/components/TagActionsCell.vue
  webapp/src/components/TagBadge.vue
  webapp/src/components/TagFormModal.vue
  webapp/src/components/TagList.vue
  webapp/src/components/TagManagementTable.vue
  webapp/src/components/TagScopeBadge.vue
  webapp/src/components/TagSelect.vue
  webapp/src/main.js
  webapp/src/server_fetch_utils.js
Due: generate-schemas, eslint

remove canary comments
  webapp/cypress/e2e/tagsManagement.cy.js
  webapp/cypress/support/commands.js
Due: eslint

tags updates
  pydatalab/src/pydatalab/models/tags.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/routes/v0_1/tags.py
  pydatalab/tests/server/test_tags.py
  pydatalab/tests/test_models.py
  webapp/cypress/component/TagFormModalTest.cy.jsx
  webapp/cypress/component/TagManagementTableTest.cy.jsx
  webapp/cypress/component/TagSelectTest.cy.jsx
  webapp/cypress/e2e/tagsManagement.cy.js
  webapp/cypress/support/commands.js
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/TagActionsCell.vue
  webapp/src/components/TagBadge.vue
  webapp/src/components/TagFormModal.vue
  webapp/src/components/TagList.vue
  webapp/src/components/TagScopeBadge.vue
  webapp/src/components/TagSelect.vue
  webapp/src/server_fetch_utils.js
Due: generate-schemas, eslint

attempt to fix test by creating admin user
  .github/workflows/ci.yml
  pydatalab/tasks.py
Due: none

Regenerate schemas after rebase onto bump-pydantic-final-final
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
Due: none

use werkzeug exceptions
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/tags.py
Due: none

address comments
  pydatalab/src/pydatalab/blocks/store.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/graphs.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/versioning.py
Due: none

separate blocks from items
  pydatalab/src/pydatalab/blocks/store.py
  pydatalab/src/pydatalab/export.py
  pydatalab/src/pydatalab/models/__init__.py
  pydatalab/src/pydatalab/models/blocks.py
  pydatalab/src/pydatalab/models/collections.py
  pydatalab/src/pydatalab/models/items.py
  pydatalab/src/pydatalab/models/traits.py
  pydatalab/src/pydatalab/models/versions.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/graphs.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/versioning.py
  pydatalab/tests/server/test_block_separation.py
  pydatalab/tests/server/test_blocks.py
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
Due: generate-schemas, eslint

Update cell docstrings
  pydatalab/schemas/cell.json
  pydatalab/src/pydatalab/models/cells.py
Due: generate-schemas

Chatblock fix: make sure to set item data properly
  pydatalab/src/pydatalab/apps/chat/blocks.py
Due: none

Fix plugin config schema regression
  pydatalab/schemas/plugin_config.json
  pydatalab/tasks.py
Due: none

Use post-pydantic validator in config
  pydatalab/src/pydatalab/config.py
Due: none

Fix double-coercion in admin task
  pydatalab/tasks.py
Due: none

Remove global containing item_fts_fields
  pydatalab/src/pydatalab/mongo.py
Due: none

Revert to allow collection_id to be None
  pydatalab/src/pydatalab/models/collections.py
Due: generate-schemas

Ditch now-extraneous collection relationship block
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Enable production build mode in component tests
  .github/workflows/ci.yml
Due: none

Fix timing issues in sample table test
  webapp/cypress/component/SampleTableTest.cy.jsx
Due: eslint

Fix multiselect column filtering in dynamic datatable
  webapp/src/components/DynamicDataTable.vue
Due: eslint

adding a download button
  webapp/src/components/CollectionInformation.vue
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/components/SampleTable.vue
  webapp/src/components/StartingMaterialTable.vue
Due: eslint

Fix multiselect column filtering in dynamic datatable (#2032)
  .github/workflows/ci.yml
  webapp/cypress/component/SampleTableTest.cy.jsx
  webapp/src/components/DynamicDataTable.vue
Due: eslint

Try again to fix race condition in e2e tests
  webapp/cypress/e2e/editPage.cy.js
  webapp/cypress/support/commands.js
Due: eslint

Allow releases to be pushed from outside the main branch
  .github/workflows/license-check.yml
  .github/workflows/release.yml
Due: none

Path conditions:
  generate-schemas: any of: ^pydatalab/src/pydatalab/models/.*.$
  eslint: any of: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
