Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

.pre-commit-config.yaml:

default_language_version:
  python: python3.10
  node: "20.17.0"

ci:
  skip:
    # skip generate-schemas as pre-commit-ci will not have correct environment
    - generate-schemas
    # skip eslint as it is too large to run in pre-commit-ci for free
    - eslint
  autoupdate_schedule: "monthly"
  autofix_prs: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (pydatalab/example_data/)|(.*.snap)
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: ^(pydatalab/example_data/|pydatalab/schemas)
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-symlinks
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py310-plus]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        additional_dependencies:
          ["types-python-dateutil", "types-requests", "types-paramiko", "pydantic~=1.10"]
        args: ["--config-file", "pydatalab/pyproject.toml"]

  - repo: local
    hooks:
      - id: generate-schemas
        name: Regenerate item model JSONSchemas
        files: "^pydatalab/src/pydatalab/models/.*.$"
        description: Check if the current code changes have enacted changes to the resulting JSONSchemas
        entry: invoke -r pydatalab dev.generate-schemas
        pass_filenames: false
        language: system
      - id: eslint
        name: eslint
        entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
        language: system
        types: [file]
        files: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
        pass_filenames: true

Use node itself for app container healthcheck
  .docker/app/Dockerfile
Due: none

Use WEB_CONCURRENCY=1 in CI
  .github/workflows/ci.yml
Due: none

Set node version in package.json
  webapp/package.json
Due: none

Install node 22 in CI
  .github/workflows/ci.yml
Due: none

Use primevue 4.5+ style CSS for theming data table
  webapp/src/primevue-theme-preset.js
Due: eslint

Bump pre-commit hooks
  .pre-commit-config.yaml
Due: none

Update gunicorn min version
  pydatalab/pyproject.toml
Due: none

npx update-browserslist-db@latest
  webapp/yarn.lock
Due: none

Linting fixes after node upgrade
  .pre-commit-config.yaml
  pydatalab/src/pydatalab/apps/nmr/blocks.py
  webapp/package.json
  webapp/src/components/ItemGraph.vue
Due: eslint

Assorted deps and pre-commit updates (#1715)
  .pre-commit-config.yaml
  pydatalab/pyproject.toml
  pydatalab/src/pydatalab/apps/nmr/blocks.py
  pydatalab/uv.lock
  webapp/package.json
  webapp/src/components/ItemGraph.vue
  webapp/yarn.lock
Due: eslint

Fix row-click handler in data table and add test
  webapp/cypress/e2e/sampleTablePage.cy.js
  webapp/src/components/DynamicDataTable.vue
Due: eslint

Fix row-click handler in data table and add test (#1716)
  webapp/cypress/e2e/sampleTablePage.cy.js
  webapp/src/components/DynamicDataTable.vue
Due: eslint

Add cyclic voltammetry (CV) block (#1696)
  pydatalab/src/pydatalab/apps/__init__.py
  pydatalab/src/pydatalab/apps/cv/__init__.py
  pydatalab/src/pydatalab/apps/cv/utils.py
  pydatalab/src/pydatalab/bokeh_plots.py
  pydatalab/tests/apps/test_cv_block.py
Due: none

Fix scrolling in '@'-mention dropdown
  webapp/src/editor/extensions/CrossReferenceInputRule.js
Due: eslint

Fix scrolling in '@'-mention dropdown (#1721)
  webapp/src/editor/extensions/CrossReferenceInputRule.js
Due: eslint

Hotfix current units for echem plotting
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

Hotfix Current units for echem plotting (#1723)
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

Add git to app docker build
  .docker/app/Dockerfile
Due: none

Add git to app docker build (#1720)
  .docker/app/Dockerfile
Due: none

downsize of bdf.csv and bdf.parquet files by removing duplicate columns and using float32 and int32 rather than 64. also added zstd compression for parquet
  pydatalab/src/pydatalab/apps/echem/blocks.py
  pydatalab/tests/apps/test_echem_block.py
Due: none

add group-based access control for equipment and starting materials
  pydatalab/src/pydatalab/permissions.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  webapp/src/components/CreateEquipmentModal.vue
  webapp/src/components/EquipmentInformation.vue
  webapp/src/components/StartingMaterialInformation.vue
Due: eslint

Add substance information trait for use with samples and inventory
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/models/samples.py
  pydatalab/src/pydatalab/models/starting_materials.py
  pydatalab/src/pydatalab/models/traits.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_samples.py
Due: generate-schemas

Adding "substance" information to samples (#1536)
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/models/samples.py
  pydatalab/src/pydatalab/models/starting_materials.py
  pydatalab/src/pydatalab/models/traits.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_samples.py
Due: generate-schemas

Install XPS as a core plugin
  pydatalab/pyproject.toml
  pydatalab/uv.lock
Due: none

Change default uv settings to only install packages older than 1w
  pydatalab/pyproject.toml
Due: none

Bump uv version to 0.11.8
  .docker/server/Dockerfile
  .github/workflows/ci.yml
  .github/workflows/license-check.yml
Due: none

Downgrade primevue back to 4.1.x
  webapp/package.json
  webapp/yarn.lock
Due: none

Downgrade primevue back to 4.1.x (#1733)
  webapp/package.json
  webapp/yarn.lock
Due: none

Added error for an empty file for EIS rather than rendering a blank plot
  pydatalab/src/pydatalab/apps/eis/__init__.py
Due: none

Added error for empty cv files rather than displaying blank files
  pydatalab/src/pydatalab/apps/cv/__init__.py
Due: none

fixed warning to error
  pydatalab/src/pydatalab/apps/cv/__init__.py
Due: none

Apply suggestion from @ml-evs
  pydatalab/src/pydatalab/apps/cv/__init__.py
Due: none

CV/EIS: added error messages for empty files (#1735)
  pydatalab/src/pydatalab/apps/cv/__init__.py
  pydatalab/src/pydatalab/apps/eis/__init__.py
Due: none

Add get-block route that returns all processed data
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/apps/xrd/blocks.py
  pydatalab/src/pydatalab/apps/xrd/models.py
  pydatalab/src/pydatalab/models/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
Due: generate-schemas

Add mechanism for installing plugins locally without clobbering uv.lock/pyproject
  .docker/server/Dockerfile
  .dockerignore
  .github/workflows/ci.yml
  .gitignore
  pydatalab/plugins.toml.template
  pydatalab/pyproject.toml
  pydatalab/tasks.py
  pydatalab/uv.lock
Due: none
