Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

.pre-commit-config.yaml:

default_language_version:
  python: python3.10
  node: "20.17.0"

ci:
  skip:
    # skip generate-schemas as pre-commit-ci will not have correct environment
    - generate-schemas
    # skip eslint as it is too large to run in pre-commit-ci for free
    - eslint
  autoupdate_schedule: "monthly"
  autofix_prs: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (pydatalab/example_data/)|(.*.snap)
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: ^(pydatalab/example_data/|pydatalab/schemas)
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-symlinks
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py310-plus]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        additional_dependencies:
          ["types-python-dateutil", "types-requests", "types-paramiko", "pydantic~=1.10"]
        args: ["--config-file", "pydatalab/pyproject.toml"]

  - repo: local
    hooks:
      - id: generate-schemas
        name: Regenerate item model JSONSchemas
        files: "^pydatalab/src/pydatalab/models/.*.$"
        description: Check if the current code changes have enacted changes to the resulting JSONSchemas
        entry: invoke -r pydatalab dev.generate-schemas
        pass_filenames: false
        language: system
      - id: eslint
        name: eslint
        entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
        language: system
        types: [file]
        files: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
        pass_filenames: true

Fix attribution of log lines to their real source
  pydatalab/src/pydatalab/logger.py
  pydatalab/src/pydatalab/main.py
Due: none

Fix attribution of log lines to their real source (#2155)
  pydatalab/src/pydatalab/logger.py
  pydatalab/src/pydatalab/main.py
Due: none

Add tests for the EIS text parsers
  pydatalab/tests/apps/test_eis_block.py
Due: none

Rework EIS tests to avoid circularity
  pydatalab/tests/apps/test_eis_block.py
Due: none

Add tests for the EIS text parsers (#2098)
  pydatalab/tests/apps/test_eis_block.py
Due: none

Initial commit for refinement block
  pydatalab/src/pydatalab/apps/__init__.py
  pydatalab/src/pydatalab/apps/xrd_refinement/__init__.py
  pydatalab/src/pydatalab/apps/xrd_refinement/blocks.py
Due: none

Fixed position of the "actions" menu when items are selected
  webapp/cypress/component/CollectionTableTest.cy.jsx
  webapp/cypress/component/EquipmentTableTest.cy.jsx
  webapp/cypress/component/SampleTableTest.cy.jsx
  webapp/cypress/component/StartingMaterialTableTest.cy.jsx
  webapp/cypress/e2e/equipment.cy.js
  webapp/cypress/support/commands.js
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/main.js
  webapp/src/views/Collections.vue
  webapp/src/views/Equipment.vue
  webapp/src/views/Samples.vue
  webapp/src/views/StartingMaterials.vue
Due: eslint

Fixed position of the "actions" menu when items are selected (#1958)
  webapp/cypress/component/CollectionTableTest.cy.jsx
  webapp/cypress/component/EquipmentTableTest.cy.jsx
  webapp/cypress/component/SampleTableTest.cy.jsx
  webapp/cypress/component/StartingMaterialTableTest.cy.jsx
  webapp/cypress/e2e/equipment.cy.js
  webapp/cypress/support/commands.js
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/main.js
  webapp/src/views/Collections.vue
  webapp/src/views/Equipment.vue
  webapp/src/views/Samples.vue
  webapp/src/views/StartingMaterials.vue
Due: eslint

Populate summary fields for all models and use them in items route
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/models/cells.py
  pydatalab/src/pydatalab/models/equipment.py
  pydatalab/src/pydatalab/models/items.py
  pydatalab/src/pydatalab/models/samples.py
  pydatalab/src/pydatalab/models/starting_materials.py
  pydatalab/src/pydatalab/models/traits.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: generate-schemas

Perform exact matches for item IDs in cypress test helper
  webapp/cypress/support/commands.js
Due: eslint

First draft of frontend for notifications.
  pydatalab/docs/config.md
  pydatalab/src/pydatalab/routes/v0_1/notifications.py
  pydatalab/tests/server/test_notifications.py
  webapp/cypress/component/NotificationBellTest.cy.jsx
  webapp/cypress/component/NotificationComposerTest.cy.jsx
  webapp/cypress/component/NotificationTableTest.cy.jsx
  webapp/src/components/AdminDisplay.vue
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/Navbar.vue
  webapp/src/components/notifications/NotificationAdminActionsCell.vue
  webapp/src/components/notifications/NotificationAdminPanel.vue
  webapp/src/components/notifications/NotificationBell.vue
  webapp/src/components/notifications/NotificationComposer.vue
  webapp/src/components/notifications/NotificationDetail.vue
  webapp/src/components/notifications/NotificationTable.vue
  webapp/src/components/notifications/NotificationUserCell.vue
  webapp/src/components/notifications/notificationUtils.js
  webapp/src/main.js
  webapp/src/router/index.js
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
  webapp/src/views/Admin.vue
  webapp/src/views/Notifications.vue
Due: eslint

Fixed depcrecated dict() calls in tests.
  pydatalab/tests/test_config.py
Due: none

Fix outdated AGENTS.md reference to pydantic v1
  AGENTS.md
Due: none

Add ability for admins to tombstone or entirely delete user accounts
  SECURITY.md
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/login.py
  pydatalab/src/pydatalab/models/people.py
  pydatalab/src/pydatalab/routes/v0_1/admin.py
  pydatalab/src/pydatalab/routes/v0_1/users.py
  pydatalab/tests/server/test_delete_users.py
Due: generate-schemas

Add admin UI for deleting accounts
  webapp/src/components/UserActionsCell.vue
  webapp/src/components/UserStatusCell.vue
  webapp/src/components/UserTable.vue
  webapp/src/server_fetch_utils.js
Due: eslint

Use new PersonReference and GroupReference models when referring to people in items
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/models/people.py
  pydatalab/src/pydatalab/models/traits.py
Due: generate-schemas

Sort admin user listing account to show most recnet accounts first
  pydatalab/src/pydatalab/routes/v0_1/admin.py
Due: none

Add XSS test cases to chemical formula component
  webapp/cypress/component/ChemicalFormulaTest.cy.jsx
Due: eslint

Promote dompurify to direct dep
  webapp/package.json
Due: none

DOMPurify chemical formulae
  webapp/src/components/ChemicalFormula.vue
Due: eslint

Sanitize all dialog modal messages with DOMPurify
  webapp/src/components/DialogModal.vue
Due: eslint

Sanitize Whinchat's directly imagined SVGs
  webapp/src/components/DialogModal.vue
  webapp/src/components/MessageBubble.vue
Due: eslint

Add XSS-focused component tests for the DialogModal
  webapp/cypress/component/DialogModalTest.cy.jsx
Due: eslint

Let a metadata field say where its value comes from
  pydatalab/src/pydatalab/blocks/metadata.py
  pydatalab/tests/server/test_block_metadata.py
Due: none

Resolve metadata from what each field declares
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/blocks/base.py
  pydatalab/src/pydatalab/blocks/metadata.py
  pydatalab/src/pydatalab/models/blocks.py
  pydatalab/tests/server/test_block_metadata.py
Due: generate-schemas

Let a metadata field be read-only
  pydatalab/src/pydatalab/blocks/base.py
  pydatalab/src/pydatalab/blocks/metadata.py
  pydatalab/tests/server/test_block_metadata.py
Due: none

Show read-only and hand-entered metadata fields for what they are
  webapp/cypress/component/MetadataFieldTest.cy.jsx
  webapp/src/components/MetadataField.vue
  webapp/src/components/MetadataViewer.vue
  webapp/src/components/datablocks/DataBlockBase.vue
  webapp/src/server_fetch_utils.js
Due: eslint

Resolve a metadata model from raw values, without a block
  pydatalab/src/pydatalab/blocks/metadata.py
  pydatalab/tests/server/test_block_metadata.py
Due: none

Let a plot fetch data columns and patch them in without a rebuild
  webapp/src/components/BokehPlot.vue
  webapp/src/server_fetch_utils.js
Due: eslint

Handle block events in BokehPlot rather than DataBlockBase
  webapp/src/components/BokehPlot.vue
  webapp/src/components/datablocks/BokehBlock.vue
  webapp/src/components/datablocks/CycleBlock.vue
  webapp/src/components/datablocks/DataBlockBase.vue
  webapp/src/components/datablocks/NMRBlock.vue
  webapp/src/components/datablocks/NMRInsituBlock.vue
  webapp/src/components/datablocks/UVVisBlock.vue
  webapp/src/components/datablocks/UVVisInsituBlock.vue
  webapp/src/components/datablocks/XRDInsituBlock.vue
Due: eslint

Let a plot decide the width of its own controls
  webapp/src/components/BokehPlot.vue
Due: eslint

Add a route serving individual block data columns in requested units
  pydatalab/src/pydatalab/blocks/base.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/tests/server/test_blocks.py
Due: none

Distinguish an unknown column from unsupported units
  pydatalab/src/pydatalab/blocks/base.py
  pydatalab/tests/server/test_blocks.py
Due: none

Navigation bar customization.
  pydatalab/docs/config.md
  pydatalab/src/pydatalab/config.py
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/tests/server/test_info_and_health.py
  pydatalab/tests/test_config.py
  webapp/cypress/component/NavbarTest.cy.jsx
  webapp/src/components/Navbar.vue
  webapp/src/navigation.js
Due: eslint

fix VUE_APP_WEBSITE_TITLE default
  .docker/app_entrypoint.sh
Due: none

Deal with legacy api's.
  webapp/cypress/component/NavbarTest.cy.jsx
  webapp/src/navigation.js
Due: eslint

More context in the comment about legacy navigation.
  webapp/src/navigation.js
Due: eslint

Ignore inherited object properties when resolving navigation views.
  webapp/cypress/component/NavbarTest.cy.jsx
  webapp/src/navigation.js
Due: eslint

Simplified component test.
  pydatalab/docs/config.md
  webapp/cypress/component/NavbarTest.cy.jsx
Due: eslint

Added option to set the default landing page in NAVIGATION.
  pydatalab/docs/config.md
  pydatalab/src/pydatalab/config.py
  pydatalab/tests/server/test_info_and_health.py
  pydatalab/tests/test_config.py
  webapp/cypress/component/NavbarTest.cy.jsx
  webapp/cypress/component/RouterTest.cy.js
  webapp/src/navigation.js
  webapp/src/router/index.js
Due: eslint
