Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

.pre-commit-config.yaml:

default_language_version:
  python: python3.10
  node: "20.17.0"

ci:
  skip:
    # skip generate-schemas as pre-commit-ci will not have correct environment
    - generate-schemas
    # skip eslint as it is too large to run in pre-commit-ci for free
    - eslint
  autoupdate_schedule: "monthly"
  autofix_prs: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (pydatalab/example_data/)|(.*.snap)
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: ^(pydatalab/example_data/|pydatalab/schemas)
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-symlinks
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py310-plus]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        additional_dependencies:
          ["types-python-dateutil", "types-requests", "types-paramiko", "pydantic~=1.10"]
        args: ["--config-file", "pydatalab/pyproject.toml"]

  - repo: local
    hooks:
      - id: generate-schemas
        name: Regenerate item model JSONSchemas
        files: "^pydatalab/src/pydatalab/models/.*.$"
        description: Check if the current code changes have enacted changes to the resulting JSONSchemas
        entry: invoke -r pydatalab dev.generate-schemas
        pass_filenames: false
        language: system
      - id: eslint
        name: eslint
        entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
        language: system
        types: [file]
        files: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
        pass_filenames: true

Fix None field stripping in item creation and version snapshots (pydantic v2).
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/versioning.py
Due: none

Fix docker build by reordering tasks imports
  pydatalab/tasks.py
Due: none

Minimal test updates
  pydatalab/tests/server/conftest.py
  pydatalab/tests/server/test_item_versions.py
  pydatalab/tests/server/test_samples.py
  pydatalab/tests/test_models.py
Due: none

Update plugin config validator for pydantic 2
  pydatalab/tasks.py
Due: none

Misc pydantic v2 bumps around code
  pydatalab/src/pydatalab/backups.py
  pydatalab/src/pydatalab/errors.py
  pydatalab/src/pydatalab/file_utils.py
  pydatalab/src/pydatalab/main.py
  pydatalab/tasks.py
Due: none

Update various blocks for pydantic v2
  pydatalab/src/pydatalab/apps/chat/blocks.py
  pydatalab/src/pydatalab/apps/chat/models.py
  pydatalab/src/pydatalab/apps/nmr/models.py
  pydatalab/src/pydatalab/apps/xrd/blocks.py
  pydatalab/src/pydatalab/blocks/base.py
Due: none

Final wave of model_dump/dict changes
  pydatalab/src/pydatalab/apps/nmr/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/admin.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/groups.py
  pydatalab/src/pydatalab/routes/v0_1/users.py
  pydatalab/tests/server/test_async_blocks.py
  pydatalab/tests/server/test_export.py
  pydatalab/tests/server/test_graph.py
  pydatalab/tests/server/test_item_graph.py
  pydatalab/tests/server/test_item_versions.py
  pydatalab/tests/server/test_samples.py
  pydatalab/tests/server/test_search.py
  pydatalab/tests/server/test_starting_materials.py
  pydatalab/tests/test_models.py
Due: none

Update traits module to pydantic v2
  pydatalab/src/pydatalab/models/traits.py
Due: generate-schemas

Refactor server config for pydantic v2
  pydatalab/src/pydatalab/config.py
Due: none

Rework all models and tasks into pydantic v2 amenable form
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/plugin_config.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/models/blocks.py
  pydatalab/src/pydatalab/models/cells.py
  pydatalab/src/pydatalab/models/collections.py
  pydatalab/src/pydatalab/models/entries.py
  pydatalab/src/pydatalab/models/equipment.py
  pydatalab/src/pydatalab/models/export_task.py
  pydatalab/src/pydatalab/models/files.py
  pydatalab/src/pydatalab/models/items.py
  pydatalab/src/pydatalab/models/people.py
  pydatalab/src/pydatalab/models/relationships.py
  pydatalab/src/pydatalab/models/samples.py
  pydatalab/src/pydatalab/models/starting_materials.py
  pydatalab/src/pydatalab/models/tasks.py
  pydatalab/src/pydatalab/models/traits.py
  pydatalab/src/pydatalab/models/utils.py
  pydatalab/src/pydatalab/models/versions.py
  pydatalab/tasks.py
  pydatalab/tests/test_models.py
Due: generate-schemas

capacity field to cells, which uses the active mass to calculate nominal capacity. Unit coversions handled in pydantic model.
  pydatalab/schemas/cell.json
  pydatalab/src/pydatalab/models/cells.py
  webapp/src/components/CellInformation.vue
Due: generate-schemas, eslint

Add theoretical capacity and calculation of nominal capacity to cell model.
  pydatalab/schemas/cell.json
  pydatalab/src/pydatalab/models/cells.py
  webapp/src/components/CellInformation.vue
Due: generate-schemas, eslint

Added unit test for nominal capacity calculation
  pydatalab/tests/test_models.py
Due: none

Add post-plot hooks so plugins can compute derived metrics from CycleBlock data
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

Fix tz-naive datetime for certain routes (#1927)
  pydatalab/src/pydatalab/utils/__init__.py
  pydatalab/tests/server/test_equipment.py
  pydatalab/tests/server/test_item_versions.py
Due: none

Add human-readable `last_modified` as a data table column and summary API response
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_samples.py
  webapp/cypress/component/SampleTableTest.cy.jsx
  webapp/cypress/component/StartingMaterialTableTest.cy.jsx
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/FileSelectModal.vue
  webapp/src/components/SampleTable.vue
  webapp/src/components/StartingMaterialTable.vue
  webapp/src/field_utils.js
  webapp/src/main.js
Due: eslint

Let `/save-item` endpoint indicate that nothing was changed
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_samples.py
Due: none

Add last modified column to collections table
  webapp/src/components/CollectionInformation.vue
Due: eslint

Store which columns are available at the moment users save their table preferences so new columns default to shown
  webapp/src/components/DynamicDataTable.vue
Due: eslint

Add a small test for searching groups
  pydatalab/tests/server/test_users.py
Due: none

Tidy up error handling after item versions
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Backfill item `last_modified` from MongoDB `_id`
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_samples.py
Due: none

fix login aggregation
  pydatalab/src/pydatalab/login.py
Due: none

Fix user login query in case where user has been deleted (#1921)
  pydatalab/src/pydatalab/login.py
Due: none

Added new Pipeline datablock (current version without caching)
  pydatalab/src/pydatalab/apps/__init__.py
  pydatalab/src/pydatalab/blocks/__init__.py
  pydatalab/src/pydatalab/pipeline_block/__init__.py
  pydatalab/src/pydatalab/pipeline_block/base.py
  pydatalab/src/pydatalab/pipeline_block/block_stage.py
  pydatalab/src/pydatalab/pipeline_block/common.py
  pydatalab/src/pydatalab/pipeline_block/utils.py
  pydatalab/tests/test_base_pipeline_block.py
Due: none

Added XRD starting implementation.
  pydatalab/src/pydatalab/apps/xrd/blocks.py
  pydatalab/src/pydatalab/apps/xrd/legacy_blocks.py
  pydatalab/src/pydatalab/apps/xrd/utils.py
  pydatalab/src/pydatalab/blocks/common.py
  webapp/src/resources.js
Due: eslint

Limit iterations of elk layout generation
  webapp/src/components/ItemGraph.vue
Due: eslint

Speculative attempt to fix and improve graph component tests
  webapp/cypress/component/ItemGraphTest.cy.jsx
  webapp/src/components/ItemGraph.vue
Due: eslint

Better teardown and cleanup of intermediate graphs
  webapp/src/components/ItemGraph.vue
  webapp/src/components/ItemRelationshipVisualization.vue
Due: eslint

Potential optimisation to avoid computing layouts of any stale graph data
  webapp/src/server_fetch_utils.js
Due: eslint

Clean up old code
  webapp/src/components/RelationshipVisualization.vue
Due: eslint

Make note about plugins more obvious in AGENTS.md
  AGENTS.md
Due: none
