Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

generate-schemas:
  name: Regenerate item model JSONSchemas
  description: Check if the current code changes have enacted changes to the resulting JSONSchemas
  entry: invoke -r pydatalab dev.generate-schemas
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
  language: system
  pass_filenames: true

Disable item buttons when not logged in
  webapp/src/components/DynamicDataTableButtons.vue
Due: eslint

Allow QR code scanning without login
  webapp/src/components/DynamicDataTableButtons.vue
Due: eslint

Disable add item buttons when not logged in (#1586)
  webapp/src/components/DynamicDataTableButtons.vue
Due: eslint

Added navani bdf branch to pyproject for easy testing before a new version is released. Added some extra logic for handling multi file extensions (e.g .bdf.gz)
  pydatalab/pyproject.toml
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

Added logic for exporting to bdf and also multi file hashing. Sets a bdf_url in block data to provide the download path
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

Added button for download in vue component
  webapp/src/components/datablocks/CycleBlock.vue
Due: eslint

update pyproject.toml
  pydatalab/pyproject.toml
Due: none

update uvlock
  pydatalab/uv.lock
Due: none

Fix save-item to preserve private collections
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_samples.py
Due: none

Add extra test for collections permissions
  pydatalab/tests/server/test_samples.py
Due: none

Add permissions when looking up collections and prevent its use when exporting to ELN
  pydatalab/src/pydatalab/export.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Fix `/save-item` to preserve private collections (#1535)
  pydatalab/src/pydatalab/export.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_samples.py
Due: none

Add collapsible substance information model and UI to samples
  pydatalab/src/pydatalab/models/samples.py
  pydatalab/src/pydatalab/models/starting_materials.py
  pydatalab/src/pydatalab/models/traits.py
  webapp/src/components/SampleInformation.vue
  webapp/src/components/SubstanceInformation.vue
Due: generate-schemas, eslint

More progress vibing a collapsible substance model
  webapp/src/components/SubstanceInformation.vue
Due: eslint

Add sharing UI for collections
  pydatalab/src/pydatalab/routes/v0_1/collections.py
  webapp/src/components/CollectionInformation.vue
  webapp/src/components/CreateCollectionModal.vue
  webapp/src/components/ToggleableCreatorsFormGroup.vue
  webapp/src/components/ToggleableGroupsFormGroup.vue
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
Due: eslint

Add BDF export and multi-file pickle caching to CycleBlock
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

Bump navani to v0.1.14
  pydatalab/pyproject.toml
  pydatalab/uv.lock
Due: none

Added better error message for filenames without suffixes (Should never be triggered due to the block requirements for file extensions
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

Refactored _load_single and _load_multi to call new _load_and_cache_echem. This new function can be tested easier as doesn't interact with the mongodb database
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

Added tests for loading a .bdf file. Also added a test to make sure when a .mpr file is loaded it generates the .pkl and .bdf.csv files. Also checked for stitching files
  pydatalab/pyproject.toml
  pydatalab/tests/apps/test_echem_block.py
Due: none

refactored filtering and renaming of columns from a raw navani dataframe to its own method to allow better testing
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

Updated tests to use _load_and_cache_echem and process_raw_echem_df so this code is covered by the testing suite
  pydatalab/tests/apps/test_echem_block.py
Due: none

Add example .bdf.csv export from an arbin file
  pydatalab/example_data/echem/arbin_example.bdf.csv
Due: none

Apply suggestions from code review
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

Update pydatalab/src/pydatalab/apps/echem/blocks.py
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

Relabel BDF download button to "Export CSV (BDF)"
  webapp/src/components/datablocks/CycleBlock.vue
Due: eslint

Bump navani v0.1.15
  pydatalab/pyproject.toml
  pydatalab/uv.lock
Due: none

pre commit changes
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

Added defensive test to ensure file isn't saved and warning is logged when export to bdf fails
  pydatalab/tests/apps/test_echem_block.py
Due: none

Path conditions:
  generate-schemas: any of: ^pydatalab/src/pydatalab/models/.*.$
  eslint: any of: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
