Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

generate-schemas:
  name: Regenerate item model JSONSchemas
  description: Check if the current code changes have enacted changes to the resulting JSONSchemas
  entry: invoke -r pydatalab dev.generate-schemas
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
  language: system
  pass_filenames: true

Add support for recently merged tags and locations
  pydatalab/docs/plugins.md
  webapp/src/components/ItemInformation.vue
  webapp/src/components/SampleInformation.vue
Due: eslint

adapt the doc
  pydatalab/docs/plugins.md
Due: none

cleaning + regenerate schemas
  pydatalab/schemas/datalab_field_extra.json
  pydatalab/schemas/datalab_model_extra.json
  pydatalab/src/pydatalab/models/schema_hints.py
  pydatalab/tasks.py
  pydatalab/tests/test_models.py
  webapp/src/components/custom/CustomFieldsPanel.vue
Due: generate-schemas, eslint

changing the unit should not update the value
  pydatalab/docs/plugins.md
  webapp/src/components/custom/CustomFieldsPanel.vue
Due: eslint

regenerate schemas bis
  pydatalab/schemas/datalab_field_extra.json
Due: none

Changes after review :
  pydatalab/docs/plugins.md
  pydatalab/schemas/datalab_field_extra.json
  pydatalab/schemas/datalab_model_extra.json
  pydatalab/src/pydatalab/models/schema_hints.py
  pydatalab/src/pydatalab/models/units.py
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_custom_item_types.py
  pydatalab/tests/test_models.py
Due: generate-schemas

custom-items UI : canonicalize quantities. tore numeric values in plugin-defined canonical units while preserving the user's display-unit preference separately.
  pydatalab/docs/plugins.md
  pydatalab/schemas/datalab_field_extra.json
  pydatalab/schemas/datalab_model_extra.json
  pydatalab/src/pydatalab/models/schema_hints.py
  pydatalab/tasks.py
  pydatalab/tests/test_models.py
  webapp/src/components/custom/CustomFieldsPanel.vue
Due: generate-schemas, eslint

remove legacy schema fallback
  webapp/src/components/custom/CustomFieldsPanel.vue
Due: eslint

document custom item UI
  pydatalab/docs/INSTALL.md
  pydatalab/docs/plugins.md
Due: none

Confirm unit changes
  webapp/cypress/component/CustomItemUITest.cy.jsx
  webapp/src/components/custom/CustomFieldsPanel.vue
Due: eslint

Update group-based permissions for inventory to latest style
  SECURITY.md
  pydatalab/src/pydatalab/permissions.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  webapp/src/components/CreateEquipmentModal.vue
Due: eslint

Add option `UNGROUPED_INVENTORY` to restrict inventory types to need an attached user groups on creation
  SECURITY.md
  pydatalab/src/pydatalab/config.py
  pydatalab/src/pydatalab/feature_flags.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_permissions.py
  webapp/src/components/CreateEquipmentModal.vue
  webapp/src/components/CreateItemModal.vue
  webapp/src/field_utils.js
Due: eslint

Add columns for creators in inventory and equipment table
  pydatalab/src/pydatalab/routes/v0_1/items.py
  webapp/src/components/EquipmentTable.vue
  webapp/src/components/InventoryAccess.vue
  webapp/src/components/StartingMaterialTable.vue
  webapp/src/utils/tableColumns.js
Due: eslint

Restrict sharing of inventory items to groups that the user is in
  pydatalab/src/pydatalab/permissions.py
  pydatalab/src/pydatalab/routes/v0_1/groups.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_permissions.py
  webapp/src/components/BatchShareModal.vue
  webapp/src/components/CreateEquipmentModal.vue
  webapp/src/components/CreateItemModal.vue
  webapp/src/components/GroupSelect.vue
  webapp/src/components/SharingModal.vue
  webapp/src/field_utils.js
  webapp/src/resources.js
  webapp/src/server_fetch_utils.js
Due: eslint

Remove remaining TESTING option
  pydatalab/src/pydatalab/permissions.py
Due: none

Add dialog error for any failed permissions update
  webapp/src/components/SharingModal.vue
Due: eslint

Remove leftover rebase canaries
  pydatalab/src/pydatalab/routes/v0_1/items.py
  webapp/src/components/EquipmentTable.vue
  webapp/src/components/InventoryAccess.vue
  webapp/src/components/StartingMaterialTable.vue
  webapp/src/utils/tableColumns.js
Due: eslint

Add extra access columns to component tests
  webapp/cypress/component/EquipmentTableTest.cy.jsx
  webapp/cypress/component/StartingMaterialTableTest.cy.jsx
Due: eslint

Add columns for creators in inventory and equipment table
  pydatalab/src/pydatalab/permissions.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  webapp/cypress/component/EquipmentTableTest.cy.jsx
  webapp/cypress/component/StartingMaterialTableTest.cy.jsx
  webapp/src/components/EquipmentTable.vue
  webapp/src/components/InventoryAccess.vue
  webapp/src/components/SharingModal.vue
  webapp/src/components/StartingMaterialTable.vue
  webapp/src/utils/tableColumns.js
Due: eslint

Remove all testing endpoints and use invoke in e2e tests
  .github/workflows/ci.yml
  AGENTS.md
  docker-compose.yml
  pydatalab/docs/INSTALL.md
  pydatalab/src/pydatalab/config.py
  pydatalab/src/pydatalab/feature_flags.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/tasks.py
  webapp/cypress.config.ts
  webapp/cypress/e2e/authenticatedSampleTests.cy.js
  webapp/cypress/e2e/batchSampleFeature.cy.js
  webapp/cypress/e2e/collectionPage.cy.js
  webapp/cypress/e2e/editPage.cy.js
  webapp/cypress/e2e/equipment.cy.js
  webapp/cypress/e2e/loginRedirect.cy.js
  webapp/cypress/e2e/navbarResponsive.cy.js
  webapp/cypress/e2e/sampleTablePage.cy.js
  webapp/cypress/e2e/shareItem.cy.js
  webapp/cypress/e2e/startingMaterial.cy.js
  webapp/cypress/e2e/tagsManagement.cy.js
  webapp/cypress/support/commands.js
  webapp/package.json
Due: eslint

Use invoke tasks within cypress tests to create test users (#2146)
  .github/workflows/ci.yml
  AGENTS.md
  docker-compose.yml
  pydatalab/docs/INSTALL.md
  pydatalab/src/pydatalab/config.py
  pydatalab/src/pydatalab/feature_flags.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  pydatalab/tasks.py
  webapp/cypress.config.ts
  webapp/cypress/e2e/authenticatedSampleTests.cy.js
  webapp/cypress/e2e/batchSampleFeature.cy.js
  webapp/cypress/e2e/collectionPage.cy.js
  webapp/cypress/e2e/editPage.cy.js
  webapp/cypress/e2e/equipment.cy.js
  webapp/cypress/e2e/loginRedirect.cy.js
  webapp/cypress/e2e/navbarResponsive.cy.js
  webapp/cypress/e2e/sampleTablePage.cy.js
  webapp/cypress/e2e/shareItem.cy.js
  webapp/cypress/e2e/startingMaterial.cy.js
  webapp/cypress/e2e/tagsManagement.cy.js
  webapp/cypress/support/commands.js
  webapp/package.json
Due: eslint

Fixed login page when URL or LOGO is empty.
  webapp/src/components/LoginInfo.vue
  webapp/src/components/Navbar.vue
  webapp/src/views/Login.vue
Due: eslint

Fixed login page when URL or LOGO is empty. (#2135)
  webapp/src/components/LoginInfo.vue
  webapp/src/components/Navbar.vue
  webapp/src/views/Login.vue
Due: eslint

Fix for account settings modal getting closed after dialog opens
  webapp/src/components/LoginDetails.vue
  webapp/src/components/UserDropdown.vue
Due: eslint

Fix for account settings modal getting closed after dialog opens (#2152)
  webapp/src/components/LoginDetails.vue
  webapp/src/components/UserDropdown.vue
Due: eslint

Add note about required docker versions
  pydatalab/docs/INSTALL.md
Due: none

Add note about required docker versions (#2151)
  pydatalab/docs/INSTALL.md
Due: none

Show a "more below" indicator on the table of contents
  webapp/src/components/TableOfContents.vue
Due: eslint

Make table of contents scrollable
  webapp/src/components/TableOfContents.vue
Due: eslint

Add a matching "more above" indicator to the table of contents
  webapp/src/components/TableOfContents.vue
Due: eslint

Make table of contents scrollable (#2140)
  webapp/src/components/TableOfContents.vue
Due: eslint

Placeholder `/items`
  pydatalab/src/pydatalab/models/items.py
  pydatalab/src/pydatalab/models/starting_materials.py
  pydatalab/src/pydatalab/models/traits.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: generate-schemas

Option to fully disable collections.
  .docker/app/Dockerfile
  .docker/app_entrypoint.sh
  docker-compose.yml
  pydatalab/docs/config.md
  pydatalab/src/pydatalab/config.py
  pydatalab/src/pydatalab/feature_flags.py
  pydatalab/src/pydatalab/main.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/permissions.py
  pydatalab/src/pydatalab/routes/v0_1/export.py
  pydatalab/src/pydatalab/routes/v0_1/graphs.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/conftest.py
  pydatalab/tests/server/test_disabled_collections.py
  pydatalab/tests/server/test_info_and_health.py
  pydatalab/tests/test_config.py
  webapp/cypress/component/ItemGraphTest.cy.jsx
  webapp/cypress/component/NavbarTest.cy.jsx
  webapp/cypress/component/SampleTableTest.cy.jsx
  webapp/src/components/CreateItemModal.vue
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/components/EquipmentInformation.vue
  webapp/src/components/ItemGraph.vue
  webapp/src/components/Navbar.vue
  webapp/src/components/SampleGraphExportModal.vue
  webapp/src/components/ToggleableCollectionFormGroup.vue
  webapp/src/resources.js
  webapp/src/router/index.js
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
Due: eslint

Simplified conditions for collections enabled in vue files.
  webapp/src/components/CreateItemModal.vue
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/components/EquipmentInformation.vue
  webapp/src/components/ItemGraph.vue
  webapp/src/components/Navbar.vue
  webapp/src/components/SampleGraphExportModal.vue
  webapp/src/components/ToggleableCollectionFormGroup.vue
Due: eslint

Reuse server info when loading API config.
  webapp/src/server_fetch_utils.js
Due: eslint

Clarified docstring of register_item_model.
  pydatalab/src/pydatalab/models/__init__.py
Due: generate-schemas

Path conditions:
  generate-schemas: any of: ^pydatalab/src/pydatalab/models/.*.$
  eslint: any of: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
