Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

generate-schemas:
  name: Regenerate item model JSONSchemas
  description: Check if the current code changes have enacted changes to the resulting JSONSchemas
  entry: invoke -r pydatalab dev.generate-schemas
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
  language: system
  pass_filenames: true

better error handling
  pydatalab/src/pydatalab/apps/eis/__init__.py
  pydatalab/src/pydatalab/apps/eis/utils.py
Due: none

refactored file loaders into utils.py
  pydatalab/src/pydatalab/apps/eis/__init__.py
  pydatalab/src/pydatalab/apps/eis/utils.py
Due: none

Added .pssession loader and raw .txt without header
  pydatalab/src/pydatalab/apps/eis/__init__.py
  pydatalab/src/pydatalab/apps/eis/utils.py
Due: none

Add .mpr file support for EIS block
  pydatalab/src/pydatalab/apps/eis/__init__.py
Due: none

Added log columns for bode plot
  pydatalab/src/pydatalab/apps/eis/__init__.py
Due: none

refactoring column checks to module level
  pydatalab/src/pydatalab/apps/eis/utils.py
Due: none

EIS block improvements (support for Biologic formats and better plotting) (#1688)
  pydatalab/src/pydatalab/apps/eis/__init__.py
  pydatalab/src/pydatalab/apps/eis/utils.py
Due: none

Update component tests with new API response
  webapp/cypress/component/SampleTableTest.cy.jsx
Due: eslint

Fix projection for item summary that retrieves block types
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Grab available blocks on app mount and use them in filters
  webapp/src/App.vue
  webapp/src/components/DynamicDataTable.vue
Due: eslint

Fix ability to filter by block type in the data table (#1693)
  pydatalab/src/pydatalab/routes/v0_1/items.py
  webapp/cypress/component/SampleTableTest.cy.jsx
  webapp/src/App.vue
  webapp/src/components/DynamicDataTable.vue
Due: eslint

Initial commit of adding a computed data field to store some extracted parameters for the cycle block. With pydantic validation
  pydatalab/src/pydatalab/apps/echem/blocks.py
  pydatalab/src/pydatalab/apps/echem/models.py
Due: none

Add Electrode area field to the cell vue page
  webapp/src/components/CellInformation.vue
Due: eslint

Add electrode area to cells pydantic model
  pydatalab/schemas/cell.json
  pydatalab/src/pydatalab/models/cells.py
Due: generate-schemas

Add area normalisation to extracted parameters
  pydatalab/src/pydatalab/apps/echem/blocks.py
  pydatalab/src/pydatalab/apps/echem/models.py
Due: none

Migrate UserTable to PrimeVue DataTable with bulk operations
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/components/UserActionsCell.vue
  webapp/src/components/UserManagersCell.vue
  webapp/src/components/UserRoleCell.vue
  webapp/src/components/UserStatusCell.vue
  webapp/src/components/UserTable.vue
  webapp/src/store/index.js
Due: eslint

Add bulk operations for change role, managers and groups
  pydatalab/src/pydatalab/routes/v0_1/admin.py
  webapp/src/components/BulkAddToGroupModal.vue
  webapp/src/components/BulkChangeManagersModal.vue
  webapp/src/components/BulkChangeRoleModal.vue
  webapp/src/components/Creators.vue
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/components/UserManagersCell.vue
  webapp/src/components/UserRoleCell.vue
  webapp/src/components/UserTable.vue
  webapp/src/primevue-theme-preset.js
  webapp/src/store/index.js
Due: eslint

Migrate GroupTable to PrimeVue with filters and bulk delete operations
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/components/GroupActionsCell.vue
  webapp/src/components/GroupIdCell.vue
  webapp/src/components/GroupMembersCell.vue
  webapp/src/components/GroupTable.vue
  webapp/src/store/index.js
Due: eslint

Migrate TokenTable to PrimeVue with filters and bulk invalidate operations
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/components/TokenActionsCell.vue
  webapp/src/components/TokenCreatedByCell.vue
  webapp/src/components/TokenStatusCell.vue
  webapp/src/components/TokenTable.vue
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
Due: eslint

Add custom filter for UserTable datatable
  pydatalab/tests/server/test_manager_assignment.py
  pydatalab/tests/server/test_permissions.py
  webapp/cypress/component/CollectionTableTest.cy.jsx
  webapp/cypress/component/EquipmentTableTest.cy.jsx
  webapp/cypress/component/SampleTableTest.cy.jsx
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/UserTable.vue
Due: eslint

Remove manager role validation, drop role fixtures from tests, and clarify group lookup comment
  pydatalab/src/pydatalab/routes/v0_1/admin.py
  pydatalab/tests/server/test_manager_assignment.py
  pydatalab/tests/server/test_permissions.py
Due: none

Adjust CSS to avoid overflow of long string fields
  webapp/src/primevue-theme-preset.js
Due: eslint

fix group membership display and add inline group editing in admin user table
  pydatalab/src/pydatalab/routes/v0_1/admin.py
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/UserGroupsCell.vue
  webapp/src/components/UserTable.vue
Due: eslint

Return gravatar hashes instead of contact emails from more endpoints
  pydatalab/src/pydatalab/routes/v0_1/admin.py
  pydatalab/src/pydatalab/routes/v0_1/collections.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Return gravatar hashes instead of contact emails from more endpoints (#1697)
  pydatalab/src/pydatalab/routes/v0_1/admin.py
  pydatalab/src/pydatalab/routes/v0_1/collections.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
Due: none

Fixed early return to remove computed properties. I.e navani fails or values can't be computed if the file changes removes the previously calculated values
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

Enforced >0 for characteristic mass and surface area in pydantic models
  pydatalab/schemas/cell.json
  pydatalab/src/pydatalab/models/cells.py
Due: generate-schemas

Use SPA navigation between table and edit page
  webapp/src/App.vue
  webapp/src/components/DynamicDataTable.vue
  webapp/src/views/EditPage.vue
Due: eslint

Lazy load item schemas on demand
  webapp/src/server_fetch_utils.js
Due: eslint

Fix issue where magic link auth would not redirect after ingesting token
  webapp/src/components/LoginDetails.vue
  webapp/src/router/index.js
Due: eslint

Add middle cilck to item badges
  webapp/src/components/FormattedCollectionName.vue
  webapp/src/components/FormattedItemName.vue
  webapp/src/components/FormattedRefcode.vue
Due: eslint

Path conditions:
  generate-schemas: any of: ^pydatalab/src/pydatalab/models/.*.$
  eslint: any of: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
