Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

generate-schemas:
  name: Regenerate item model JSONSchemas
  description: Check if the current code changes have enacted changes to the resulting JSONSchemas
  entry: invoke -r pydatalab dev.generate-schemas
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
  language: system
  pass_filenames: true

Add eslint import/named rule to detect undefined imports
  .pre-commit-config.yaml
Due: none

Add pytest for PUT route
  pydatalab/tests/server/test_permissions.py
  webapp/src/components/BatchShareModal.vue
Due: eslint

Add condition to error div to fix cypress
  webapp/src/components/BatchShareModal.vue
Due: eslint

Use DialogService in BatchShareModal component
  webapp/src/components/BatchShareModal.vue
Due: eslint

Refactor permissions API to use server-side append with PUT route
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_permissions.py
  webapp/src/components/BatchShareModal.vue
  webapp/src/server_fetch_utils.js
Due: eslint

Add batch sharing menu option for items
  webapp/src/components/BatchShareModal.vue
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/server_fetch_utils.js
Due: eslint

add advanced search modal with API pagination
  pydatalab/src/pydatalab/routes/v0_1/collections.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  webapp/src/components/AdvancedSearchModal.vue
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/main.js
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
Due: eslint

Add API search toggle to data tables
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
Due: eslint

Add batch sharing menu option in data table and API (#1525)
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_permissions.py
  webapp/src/components/BatchShareModal.vue
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/server_fetch_utils.js
Due: eslint

Improve export feedback and prevent repeated clicks
  webapp/src/components/ExportButton.vue
  webapp/src/components/SampleGraphExportModal.vue
Due: eslint

Enforce refcode validation for synthesis constituents
  pydatalab/src/pydatalab/models/utils.py
  pydatalab/tests/server/conftest.py
  pydatalab/tests/server/test_graph.py
  pydatalab/tests/server/test_item_graph.py
  pydatalab/tests/server/test_samples.py
  pydatalab/tests/test_models.py
Due: generate-schemas

Prevent repeated clicks on collection export button (#1549)
  webapp/src/components/ExportButton.vue
  webapp/src/components/SampleGraphExportModal.vue
Due: eslint

Style tweaks to upload buttons
  webapp/src/components/FileList.vue
Due: eslint

Add sudo mode UI toggle
  webapp/src/components/UserDropdown.vue
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
Due: eslint

Add 'sudo' mode for admins (currently the default) that allows them to restrict their admin powers
  pydatalab/src/pydatalab/permissions.py
  pydatalab/tests/server/test_files.py
  pydatalab/tests/server/test_item_graph.py
  pydatalab/tests/server/test_permissions.py
  pydatalab/tests/server/test_samples.py
  webapp/src/components/FileList.vue
  webapp/src/components/datablocks/MediaBlock.vue
  webapp/src/server_fetch_utils.js
Due: eslint

Add more obvious styling to indicate super-user mode
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/components/FileList.vue
  webapp/src/components/LoginDetails.vue
  webapp/src/components/Navbar.vue
  webapp/src/components/UserDropdown.vue
  webapp/src/components/datablocks/MediaBlock.vue
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
Due: eslint

Bugfix to maintain superuser state
  pydatalab/tests/server/test_permissions.py
  webapp/src/components/UserDropdown.vue
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
Due: eslint

Increase width of all tables
  webapp/src/views/Collections.vue
  webapp/src/views/Equipment.vue
  webapp/src/views/Samples.vue
  webapp/src/views/StartingMaterials.vue
Due: eslint

Group column selection and table reset into a single button
  webapp/src/components/DynamicDataTableButtons.vue
Due: eslint

Update bokeh plot aspect ratio to 2
  pydatalab/src/pydatalab/bokeh_plots.py
Due: none

Better partition button groups in dynamic data table for better flow on small devices
  webapp/src/components/DynamicDataTableButtons.vue
Due: eslint

Lock down `/info/stats` endpoint and make about section optional
  pydatalab/src/pydatalab/routes/v0_1/info.py
  webapp/src/components/StatisticsTable.vue
  webapp/src/server_fetch_utils.js
  webapp/src/views/About.vue
Due: eslint

fix cypress buttons
  webapp/cypress/e2e/editPage.cy.js
Due: eslint

Add 'sudo' mode for admins that allows them to restrict their admin powers (#1548)
  pydatalab/src/pydatalab/permissions.py
  pydatalab/tests/server/test_files.py
  pydatalab/tests/server/test_item_graph.py
  pydatalab/tests/server/test_permissions.py
  pydatalab/tests/server/test_samples.py
  webapp/cypress/e2e/editPage.cy.js
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/components/FileList.vue
  webapp/src/components/LoginDetails.vue
  webapp/src/components/Navbar.vue
  webapp/src/components/UserDropdown.vue
  webapp/src/components/datablocks/MediaBlock.vue
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
Due: eslint

Fix conflicts
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/server_fetch_utils.js
Due: eslint

Improve error handling in updateBlockFromServer
  webapp/src/components/FileMultiSelectDropdown.vue
  webapp/src/components/FileSelectDropdown.vue
  webapp/src/components/datablocks/BokehBlock.vue
  webapp/src/components/datablocks/ChatBlock.vue
  webapp/src/components/datablocks/CycleBlock.vue
  webapp/src/components/datablocks/DataBlockBase.vue
  webapp/src/components/datablocks/NMRBlock.vue
  webapp/src/server_fetch_utils.js
  webapp/src/views/EditPage.vue
Due: eslint

add group-based access control for equipment and starting materials
  pydatalab/src/pydatalab/permissions.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  webapp/src/components/CreateEquipmentModal.vue
  webapp/src/components/EquipmentInformation.vue
  webapp/src/components/StartingMaterialInformation.vue
Due: eslint

Add step that looks up any entry references when returning an item
  pydatalab/schemas/cell.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/models/utils.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/conftest.py
  pydatalab/tests/server/test_samples.py
Due: generate-schemas

Migrate UserTable to PrimeVue DataTable with bulk operations
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/components/UserActionsCell.vue
  webapp/src/components/UserManagersCell.vue
  webapp/src/components/UserRoleCell.vue
  webapp/src/components/UserStatusCell.vue
  webapp/src/components/UserTable.vue
  webapp/src/store/index.js
Due: eslint

Add step that looks up any entry references when returning an item (#1555)
  pydatalab/schemas/cell.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/models/utils.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/conftest.py
  pydatalab/tests/server/test_samples.py
Due: generate-schemas

Add asynchronous data block processing with APScheduler
  pydatalab/src/pydatalab/models/block_task.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  webapp/src/components/datablocks/NMRInsituBlock.vue
  webapp/src/components/datablocks/UVVisInsituBlock.vue
  webapp/src/components/datablocks/XRDInsituBlock.vue
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
Due: generate-schemas, eslint

Fix async block processing: authentication context and database persistence
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
Due: none

Add block processing 'stages' and display it in the UI
  pydatalab/src/pydatalab/apps/__init__.py
  pydatalab/src/pydatalab/apps/_canary/__init__.py
  pydatalab/src/pydatalab/models/block_task.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  webapp/src/components/datablocks/DataBlockBase.vue
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
Due: generate-schemas, eslint

Unify BlockTask and ExportTask into single Task model
  pydatalab/src/pydatalab/models/block_task.py
  pydatalab/src/pydatalab/models/tasks.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/export.py
  pydatalab/tests/server/test_export.py
  webapp/src/store/index.js
Due: generate-schemas, eslint

Refactor Task model to use spec-based architecture for type-specific fields
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/models/tasks.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/export.py
  pydatalab/tests/server/test_export.py
Due: generate-schemas

Path conditions:
  generate-schemas: any of: ^pydatalab/src/pydatalab/models/.*.$
  eslint: any of: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
