Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

generate-schemas:
  name: Regenerate item model JSONSchemas
  description: Check if the current code changes have enacted changes to the resulting JSONSchemas
  entry: invoke -r pydatalab dev.generate-schemas
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
  language: system
  pass_filenames: true

Added ability to parse data from JEOL .jdf files as read by read_jeol_jdf_1d
  pydatalab/pyproject.toml
  pydatalab/src/pydatalab/apps/nmr/blocks.py
  pydatalab/src/pydatalab/apps/nmr/utils.py
  pydatalab/uv.lock
  webapp/src/components/datablocks/NMRBlock.vue
Due: eslint

Add warning about automated processing
  pydatalab/src/pydatalab/apps/nmr/utils.py
  pydatalab/tests/apps/test_nmr.py
Due: none

Do not show points on freq-domain NMR plot by default
  pydatalab/src/pydatalab/apps/nmr/blocks.py
Due: none

Add 1D JEOL NMR test with test data
  pydatalab/example_data/NMR/SW20AP_proton.jdf.gz
  pydatalab/tests/apps/test_nmr.py
Due: none

Allow NMR block to handle Bruker projects with multiple experiments
  pydatalab/src/pydatalab/apps/nmr/blocks.py
Due: none

Add metadata model for NMR block and adjust some unit conversions
  pydatalab/src/pydatalab/apps/nmr/blocks.py
  pydatalab/src/pydatalab/apps/nmr/models.py
  pydatalab/src/pydatalab/apps/nmr/utils.py
  pydatalab/tests/apps/test_nmr.py
  webapp/src/components/datablocks/NMRBlock.vue
Due: eslint

Allow Bruker reader to do FFT and auto-phase when frequency domain data is missing
  pydatalab/src/pydatalab/apps/nmr/utils.py
  pydatalab/tests/apps/test_nmr.py
Due: none

Add proper support for multiple Bruker NMR experiments
  pydatalab/src/pydatalab/apps/nmr/blocks.py
  pydatalab/src/pydatalab/apps/nmr/utils.py
  pydatalab/tests/apps/test_nmr.py
Due: none

Add fake multinuclei test example with data files removed
  pydatalab/example_data/NMR/multi_nuclei.zip
  pydatalab/tests/apps/test_nmr.py
Due: none

Add checksums (`md5` and `sha256`) to `File` model
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/models/files.py
Due: generate-schemas

Add note to agents about migrations and test updates
  AGENTS.md
Due: none

Compute file hashes on upload and update
  pydatalab/src/pydatalab/file_utils.py
  pydatalab/tests/server/test_files.py
Due: none

Fix dateCreated
  pydatalab/src/pydatalab/export.py
Due: none

Add missing `File` entries to ELN export, including datalab metadata
  pydatalab/src/pydatalab/export.py
Due: none

Refactor collections export to ELN files to minimise database queries
  pydatalab/src/pydatalab/export.py
Due: none

Refactor ELN export with associated fixes
  pydatalab/src/pydatalab/export.py
  pydatalab/tests/server/test_export_utils.py
Due: none

Omit `dateCreated` field in ELN export unless present
  pydatalab/src/pydatalab/export.py
Due: none

ELN file format export fixes (#1600)
  pydatalab/src/pydatalab/export.py
  pydatalab/tests/server/test_export_utils.py
Due: none

Nuke codeowners
  .github/CODEOWNERS
Due: none

Remove CODEOWNERS (#1602)
  .github/CODEOWNERS
Due: none

Fixup experiment selection procedure
  pydatalab/src/pydatalab/apps/nmr/blocks.py
  webapp/src/components/datablocks/NMRBlock.vue
Due: eslint

Improve docstrings
  pydatalab/src/pydatalab/apps/nmr/blocks.py
  pydatalab/src/pydatalab/apps/nmr/models.py
  pydatalab/src/pydatalab/apps/nmr/utils.py
Due: none

Handle digital filter errors from nmrglue
  pydatalab/src/pydatalab/apps/nmr/utils.py
Due: none

Add metadata model, support for multiple experiments/nuclei and automatic frequency domain/autophasing in NMR block (#1598)
  pydatalab/example_data/NMR/multi_nuclei.zip
  pydatalab/src/pydatalab/apps/nmr/blocks.py
  pydatalab/src/pydatalab/apps/nmr/models.py
  pydatalab/src/pydatalab/apps/nmr/utils.py
  pydatalab/tests/apps/test_nmr.py
  webapp/src/components/datablocks/NMRBlock.vue
Due: eslint

Improve error handling for block updates (#1539)
  webapp/src/components/FileMultiSelectDropdown.vue
  webapp/src/components/FileSelectDropdown.vue
  webapp/src/components/datablocks/BokehBlock.vue
  webapp/src/components/datablocks/ChatBlock.vue
  webapp/src/components/datablocks/CycleBlock.vue
  webapp/src/components/datablocks/DataBlockBase.vue
  webapp/src/components/datablocks/NMRBlock.vue
  webapp/src/server_fetch_utils.js
  webapp/src/views/EditPage.vue
Due: eslint

Path conditions:
  generate-schemas: any of: ^pydatalab/src/pydatalab/models/.*.$
  eslint: any of: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
