Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

.pre-commit-config.yaml:

default_language_version:
  python: python3.10
  node: "20.17.0"

ci:
  skip:
    # skip generate-schemas as pre-commit-ci will not have correct environment
    - generate-schemas
    # skip eslint as it is too large to run in pre-commit-ci for free
    - eslint
  autoupdate_schedule: "monthly"
  autofix_prs: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (pydatalab/example_data/)|(.*.snap)
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
      - id: end-of-file-fixer
        exclude: ^(pydatalab/example_data/|pydatalab/schemas)
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-symlinks
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py310-plus]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        additional_dependencies:
          ["types-python-dateutil", "types-requests", "types-paramiko", "pydantic~=1.10"]
        args: ["--config-file", "pydatalab/pyproject.toml"]

  - repo: local
    hooks:
      - id: generate-schemas
        name: Regenerate item model JSONSchemas
        files: "^pydatalab/src/pydatalab/models/.*.$"
        description: Check if the current code changes have enacted changes to the resulting JSONSchemas
        entry: invoke -r pydatalab dev.generate-schemas
        pass_filenames: false
        language: system
      - id: eslint
        name: eslint
        entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
        language: system
        types: [file]
        files: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
        pass_filenames: true

Fix issue where magic link auth would not redirect after ingesting token
  webapp/src/components/LoginDetails.vue
  webapp/src/router/index.js
Due: eslint

Use SPA navigation between table and edit page
  webapp/src/App.vue
  webapp/src/components/DynamicDataTable.vue
  webapp/src/views/EditPage.vue
Due: eslint

Add middle cilck to item badges
  webapp/src/components/FormattedCollectionName.vue
  webapp/src/components/FormattedItemName.vue
  webapp/src/components/FormattedRefcode.vue
Due: eslint

Add clickable link to QR code renderer
  webapp/src/components/QRCode.vue
Due: eslint

Add clickable link to QR code renderer (#1698)
  webapp/src/components/QRCode.vue
Due: eslint

Add sharing UI for collections
  pydatalab/src/pydatalab/routes/v0_1/collections.py
  webapp/src/components/CollectionInformation.vue
  webapp/src/components/CreateCollectionModal.vue
  webapp/src/components/ToggleableCreatorsFormGroup.vue
  webapp/src/components/ToggleableGroupsFormGroup.vue
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
Due: eslint

Add permissions tests for group sharing
  pydatalab/tests/server/test_permissions.py
Due: none

Fix collections group permissions lookup
  pydatalab/src/pydatalab/routes/v0_1/collections.py
Due: none

Add `inherit_from_collections` option to pass collection permissions through to items
  pydatalab/src/pydatalab/permissions.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_permissions.py
Due: none

auth-ms-google
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/config.py
  pydatalab/src/pydatalab/feature_flags.py
  pydatalab/src/pydatalab/models/people.py
  pydatalab/src/pydatalab/routes/v0_1/auth.py
  webapp/src/components/LoginDropdown.vue
  webapp/src/main.js
Due: generate-schemas, eslint

Consolidated matching behaviour between supplier and location
  webapp/src/components/DynamicDataTable.vue
Due: eslint

Removed spurious code
  pydatalab/src/pydatalab/routes/v0_1/items.py
  webapp/src/components/StartingMaterialTable.vue
Due: eslint

Added lookup and suggestions for supplier and location to starting material and equipment pages
  webapp/src/components/EquipmentInformation.vue
  webapp/src/components/StartingMaterialInformation.vue
  webapp/src/components/StartingMaterialTable.vue
Due: eslint

Fix cypress test for new number of columns
  webapp/cypress/component/StartingMaterialTableTest.cy.jsx
Due: eslint

fix test label
  webapp/src/components/EquipmentInformation.vue
Due: eslint

Added lookup for unique suppliers and locations for the dynamicdatatable
  webapp/src/components/DynamicDataTable.vue
Due: eslint

Made behaviour more consistent with what is before for uneditable inventory. I.e the user can't type
  webapp/src/components/StartingMaterialInformation.vue
Due: eslint

Added clicking on the name taking focusing on the input box back to location and supplier
  webapp/src/components/StartingMaterialInformation.vue
Due: eslint

Added Supplier to cypress test for starting material table
  webapp/cypress/component/StartingMaterialTableTest.cy.jsx
Due: eslint

Added test to ensure starting materials list includes collection
  pydatalab/tests/server/test_starting_materials.py
Due: none

Add collections info to StartingMaterialTable.vue
  pydatalab/src/pydatalab/routes/v0_1/items.py
  webapp/src/components/StartingMaterialTable.vue
Due: eslint

Update indices for later columns
  webapp/cypress/component/StartingMaterialTableTest.cy.jsx
Due: eslint

Add collections, supplier and location info to StartingMaterialTable (#1695)
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_starting_materials.py
  webapp/cypress/component/StartingMaterialTableTest.cy.jsx
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/EquipmentInformation.vue
  webapp/src/components/StartingMaterialInformation.vue
  webapp/src/components/StartingMaterialTable.vue
Due: eslint

Added click legend hiding as the default behaviour for selectable axes plots - effects XRD, UV-Vis, CV, TGA, Raman.
  pydatalab/src/pydatalab/bokeh_plots.py
Due: none

Added mode C to selectable axes plots - color by a numeric index rather than the str index, enabling continuous colormaps for large lists of dfs (plotting many cycled data)
  pydatalab/src/pydatalab/bokeh_plots.py
Due: none

reformated formatting cv plot to helper function and added tests on dummy data
  pydatalab/src/pydatalab/apps/cv/__init__.py
  pydatalab/tests/apps/test_cv_block.py
Due: none

Add CV block
  pydatalab/src/pydatalab/apps/__init__.py
  pydatalab/src/pydatalab/apps/cv/__init__.py
Due: none

Add CHI .txt support and refactor to remove loader functions to utils.py
  pydatalab/src/pydatalab/apps/cv/__init__.py
  pydatalab/src/pydatalab/apps/cv/utils.py
Due: none

Call bokeh palletes directly rather than as strings. Added valueerror for if mode B and C are attempted simultaneously.
  pydatalab/src/pydatalab/bokeh_plots.py
Due: none

Added test for _infer_half_cycles ensuring that starting with a hold doesn't throw off the cycle boundaries
  pydatalab/tests/apps/test_cv_block.py
Due: none

Remove clicking on invisible legend hiding lines
  pydatalab/src/pydatalab/bokeh_plots.py
Due: none

Adding some comments
  pydatalab/src/pydatalab/bokeh_plots.py
Due: none

Fixed error supplying legends to bokeh for mode C
  pydatalab/src/pydatalab/bokeh_plots.py
Due: none

Fixed cycles to start at 1. Other minor improvements
  pydatalab/src/pydatalab/apps/cv/utils.py
Due: none

Minor fixes, updating docstrings, aligning parsers to return dfs, fixing types
  pydatalab/src/pydatalab/apps/cv/__init__.py
  pydatalab/src/pydatalab/apps/cv/utils.py
  pydatalab/src/pydatalab/bokeh_plots.py
Due: none

Upgrade to node 22 and use slim image
  .docker/app/Dockerfile
  .github/workflows/ci.yml
Due: none
