Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

generate-schemas:
  name: Regenerate item model JSONSchemas
  description: Check if the current code changes have enacted changes to the resulting JSONSchemas
  entry: invoke -r pydatalab dev.generate-schemas
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
  language: system
  pass_filenames: true

move logic for setting whether or not an item renders as editable to the EditPage.vue
  webapp/src/components/StartingMaterialInformation.vue
  webapp/src/views/EditPage.vue
Due: eslint

add readonly mode to TiptapInline.vue and use it for non-editable items
  webapp/src/components/CellInformation.vue
  webapp/src/components/SampleInformation.vue
  webapp/src/components/StartingMaterialInformation.vue
  webapp/src/components/TiptapInline.vue
Due: eslint

Remove async check that prevents any block event from actually firing
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
Due: none

give SynthesisInformation, CellPreparationInformation and CompactConstituentTable readonly modes, and render them approriately based on the isEditable prop passed through from EditPage
  webapp/src/components/CellInformation.vue
  webapp/src/components/CellPreparationInformation.vue
  webapp/src/components/CompactConstituentTable.vue
  webapp/src/components/SampleInformation.vue
  webapp/src/components/StartingMaterialInformation.vue
  webapp/src/components/SynthesisInformation.vue
Due: eslint

Remove other incorrect async check
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
Due: none

updated console log
  pydatalab/src/pydatalab/bokeh_plots.py
Due: none

round the displayed molar mass to 2 decimal places
  webapp/src/components/SubstanceInformation.vue
Due: eslint

make clicking the header always toggle the edit (previously, clicking the header could open it, but one had to click the carat or click outside the entire component to close it)
  webapp/src/components/SubstanceInformation.vue
Due: eslint

convert PrimeVue inputs into native input fields styled with bootstrap, as is the standard in datalab
  webapp/src/components/SubstanceInformation.vue
Due: eslint

add LocationInput component for segmented location editing
  webapp/src/components/EquipmentInformation.vue
  webapp/src/components/LocationInput.vue
  webapp/src/components/StartingMaterialInformation.vue
  webapp/src/components/VersionHistoryModal.vue
Due: eslint

Fix cypress test
  webapp/src/components/EquipmentInformation.vue
  webapp/src/components/LocationInput.vue
  webapp/src/components/StartingMaterialInformation.vue
Due: eslint

Fix cypress test
  webapp/cypress/e2e/equipment.cy.js
  webapp/src/components/EquipmentInformation.vue
Due: eslint

Add web UI support for custom/plugin item types
  .eslintignore
  .gitignore
  pydatalab/docs/plugins.md
  pydatalab/plugins/example_item_plugin/example_item_plugin/__init__.py
  pydatalab/plugins/example_item_plugin/example_item_plugin/models.py
  pydatalab/plugins/example_item_plugin/example_item_plugin/webapp/HeatTreatmentPanel.vue
  pydatalab/plugins/example_item_plugin/pyproject.toml
  pydatalab/pyproject.toml
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/cli.py
  pydatalab/src/pydatalab/models/relationships.py
  pydatalab/src/pydatalab/models/utils.py
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_custom_item_types.py
  pydatalab/tests/test_models.py
  webapp/src/components/CellInformation.vue
  webapp/src/components/CompactConstituentTable.vue
  webapp/src/components/CreateItemModal.vue
  webapp/src/components/EquipmentInformation.vue
  webapp/src/components/FormattedItemStatus.vue
  webapp/src/components/ItemSelect.vue
  webapp/src/components/SampleInformation.vue
  webapp/src/components/StartingMaterialInformation.vue
  webapp/src/components/custom/CustomFieldsPanel.vue
  webapp/src/plugins/index.js
  webapp/src/resources.js
  webapp/src/server_fetch_utils.js
  webapp/src/views/EditPage.vue
Due: generate-schemas, eslint

Move collect-plugin-panels from console script to dev invoke task
  pydatalab/docs/plugins.md
  pydatalab/pyproject.toml
  pydatalab/src/pydatalab/cli.py
  pydatalab/tasks.py
  webapp/src/plugins/index.js
Due: eslint

also update SubstanceInfoSmall.vue to only show 2 digits
  webapp/src/components/SubstanceInfoSmall.vue
Due: eslint

Initial commit for refinement block
  pydatalab/src/pydatalab/apps/__init__.py
  pydatalab/src/pydatalab/apps/xrd_refinement/__init__.py
  pydatalab/src/pydatalab/apps/xrd_refinement/blocks.py
Due: none

Improvements to substance info display (rounding, toggle and styling) (#1836)
  webapp/src/components/SubstanceInfoSmall.vue
  webapp/src/components/SubstanceInformation.vue
Due: eslint

Add block event e2e test for XRD block
  pydatalab/tests/server/test_blocks.py
Due: none

Fix events from bokeh route to fire (#1853)
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/tests/server/test_blocks.py
Due: none

update sampleTablePage tests so they pass (several were outdated)
  webapp/cypress/e2e/sampleTablePage.cy.js
  webapp/cypress/support/commands.js
Due: eslint

remove 'only' from cypress tests, ensuring all tests run
  webapp/cypress/e2e/sampleTablePage.cy.js
Due: eslint

remove 'only' from SampleTable e2e tests, ensuring all tests run (#1830)
  webapp/cypress/e2e/sampleTablePage.cy.js
  webapp/cypress/support/commands.js
Due: eslint

Add support for nmrglue < 0.12 with import guard on jeol reader
  pydatalab/pyproject.toml
  pydatalab/src/pydatalab/apps/nmr/utils.py
Due: none

Add guard for unknown nmrglue version
  pydatalab/src/pydatalab/apps/nmr/utils.py
Due: none

Add support for nmrglue < 0.12 with import guard on jeol reader (#1855)
  pydatalab/pyproject.toml
  pydatalab/src/pydatalab/apps/nmr/utils.py
Due: none

Remove mentions of Jest in documentation, add description of component test runner
  AGENTS.md
  pydatalab/docs/INSTALL.md
  webapp/README.md
  webapp/package.json
Due: none

Bump caniuselite browserlist
  webapp/yarn.lock
Due: none

Remove mentions of Jest in documentation and add component test runner (#1856)
  AGENTS.md
  pydatalab/docs/INSTALL.md
  webapp/README.md
  webapp/package.json
  webapp/yarn.lock
Due: none

add a little space between user and role in the vSelect
  webapp/src/components/UserManagersCell.vue
Due: eslint

make it so all users can be set as managers in the UI (not just admins)
  webapp/src/components/UserManagersCell.vue
Due: eslint

Fallback to cb_obj.value when throttled requested and not available at runtime
  pydatalab/src/pydatalab/blocks/base.py
Due: none

update test to match cb_obj rather than event.target
  pydatalab/tests/test_base_block.py
Due: none

Use native bokeh objects in callbacks rather than relying on `window.event` (#1835)
  pydatalab/src/pydatalab/blocks/base.py
  pydatalab/src/pydatalab/bokeh_plots.py
  pydatalab/tests/test_base_block.py
Due: none

Added test to check if None fields are preserved with saving items and versions (pydantic 1 to 2 change)
  pydatalab/tests/server/test_item_versions.py
Due: none

Fix None field stripping in item creation and version snapshots (pydantic v2).
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/src/pydatalab/versioning.py
Due: none

Path conditions:
  generate-schemas: any of: ^pydatalab/src/pydatalab/models/.*.$
  eslint: any of: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
