Repository datalab-org/datalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-schemas, eslint

generate-schemas:
  name: Regenerate item model JSONSchemas
  description: Check if the current code changes have enacted changes to the resulting JSONSchemas
  entry: invoke -r pydatalab dev.generate-schemas
  pass_filenames: false
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd webapp && ./node_modules/.bin/eslint --fix "${@#webapp/}"' --
  language: system
  pass_filenames: true

Bumped navani to v0.1.17
  pydatalab/pyproject.toml
  pydatalab/uv.lock
Due: none

Bump navani to development version
  pydatalab/pyproject.toml
  pydatalab/uv.lock
Due: none

Added test to ensure both object and categorical state columns can be succesfully be saved as parquet cache files
  pydatalab/tests/apps/test_echem_block.py
Due: none

Update to store filename_cached.bdf.parquet as the cacheing file. Ensuring .bdf.csv is available for download still
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

Updated tests to run on new logic
  pydatalab/tests/apps/test_echem_block.py
Due: none

return None for csv_path when csv save fails
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

Add pyarrow as a dependency for the echem app
  pydatalab/pyproject.toml
  pydatalab/uv.lock
Due: none

Minor fixes for echem block: properly set file IDs and mode when unset
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

Unify BlockTask and ExportTask into single Task model
  pydatalab/src/pydatalab/models/block_task.py
  pydatalab/src/pydatalab/models/tasks.py
  pydatalab/src/pydatalab/mongo.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/export.py
  pydatalab/tests/server/test_export.py
  webapp/src/store/index.js
Due: generate-schemas, eslint

Add asynchronous data block processing with APScheduler
  pydatalab/src/pydatalab/models/block_task.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  webapp/src/components/datablocks/NMRInsituBlock.vue
  webapp/src/components/datablocks/UVVisInsituBlock.vue
  webapp/src/components/datablocks/XRDInsituBlock.vue
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
Due: generate-schemas, eslint

Add block processing 'stages' and display it in the UI
  pydatalab/src/pydatalab/apps/__init__.py
  pydatalab/src/pydatalab/apps/_canary/__init__.py
  pydatalab/src/pydatalab/models/block_task.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  webapp/src/components/datablocks/DataBlockBase.vue
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
Due: generate-schemas, eslint

Manual fix pre-commit
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
Due: none

Refactor Task model to use spec-based architecture for type-specific fields
  pydatalab/schemas/cell.json
  pydatalab/schemas/equipment.json
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/models/tasks.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/export.py
  pydatalab/tests/server/test_export.py
Due: generate-schemas

Fix async block processing: authentication context and database persistence
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
Due: none

Enable async in echem block
  pydatalab/src/pydatalab/apps/echem/blocks.py
Due: none

Turn on async canary block
  pydatalab/src/pydatalab/apps/_canary/__init__.py
Due: none

Rename export scheduler to task scheduler
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/export.py
  pydatalab/src/pydatalab/scheduler.py
  pydatalab/tests/server/test_export.py
Due: none

Re(?)introduce store setter for block updating status
  webapp/src/store/index.js
Due: eslint

Remove unecessary file operation logging
  pydatalab/src/pydatalab/file_utils.py
Due: none

Allow more detail in task stages and temporarily enable async everywhere
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
Due: none

Refactor async task processing around a gridfs-based transfer buffer
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
Due: none

Allow tasks to store more detail on error
  pydatalab/src/pydatalab/models/tasks.py
Due: generate-schemas

Add log lines to async tasks
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
Due: none

Show timestamped processing stages in collapsible view for async blocks
  webapp/src/components/datablocks/DataBlockBase.vue
  webapp/src/server_fetch_utils.js
Due: eslint

Add scheduled task to clear up task results transfer buffer
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
Due: none

Tweak APScheduler settings to work better with multiple jobs
  pydatalab/src/pydatalab/scheduler.py
Due: none

Lock async block processing behind config flag per block type
  pydatalab/src/pydatalab/apps/_canary/__init__.py
  pydatalab/src/pydatalab/apps/echem/blocks.py
  pydatalab/src/pydatalab/config.py
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
Due: none

Add test stubs for async blocks
  pydatalab/tests/server/test_async_blocks.py
Due: none

Remove scheduler for blocks in favour of simple processing queue
  docker-compose.yml
  pydatalab/src/pydatalab/routes/v0_1/blocks.py
  pydatalab/src/pydatalab/routes/v0_1/export.py
  pydatalab/src/pydatalab/scheduler.py
  pydatalab/tests/server/test_async_blocks.py
  pydatalab/tests/server/test_export.py
Due: none

Add docs note about async block processing
  pydatalab/docs/blocks/index.md
Due: none

Catch the case that not block data is returned after async processing
  webapp/src/server_fetch_utils.js
Due: eslint

Bump navani and in situ plugin
  pydatalab/pyproject.toml
  pydatalab/uv.lock
Due: none

Use dynamic backoff time when polling block status
  webapp/src/server_fetch_utils.js
Due: eslint

Path conditions:
  generate-schemas: any of: ^pydatalab/src/pydatalab/models/.*.$
  eslint: any of: ^webapp/.*\.(js|jsx|ts|tsx|vue)$
